/*

   BORDER COLORS

 */

.black {        border-color: $black; }
.near-black {   border-color: $near-black; }
.dark-gray {    border-color: $dark-gray; }
.mid-gray {     border-color: $mid-gray; }
.gray {         border-color: $gray; }
.silver {       border-color: $silver; }
.light-silver { border-color: $light-silver; }
.light-gray {   border-color: $light-gray; }
.near-white {   border-color: $near-white; }
.white {        border-color: $white; }
.aqua {         border-color: $aqua; }
.blue {         border-color: $blue; }
.navy {         border-color: $navy; }
.teal {         border-color: $teal; }
.green {        border-color: $green; }
.olive {        border-color: $olive; }
.lime {         border-color: $lime; }
.yellow {       border-color: $yellow; }
.orange {       border-color: $orange; }
.red {          border-color: $red; }
.fuchsia {      border-color: $fuchsia; }
.purple {       border-color: $purple; }
.maroon {       border-color: $maroon; }

