/* ==========================================================================
   BORDER COLORS
   ========================================================================== */

.bor--blk {              border-color: $near-black; }
.bor--dk-gry {           border-color: $dark-gray; }
.bor--md-gry {           border-color: $mid-gray; }
.bor--gray {             border-color: $gray; }
.bor--silver  {          border-color: $silver; }
.bor--lt-slvr {          border-color: $light-silver; }
.bor--lt-gry {           border-color: $light-gray; }
.bor--near-wht {         border-color: $near-white; }
.bor--wht {              border-color: $white; }

.bor--pink  {            border-color: $pink;}
.bor--lightpink {        border-color: $lightpink; }
.bor--hotpink {          border-color: $hotpink; }
.bor--deeppink {         border-color: $deeppink; }
.bor--palevioletred {    border-color: $palevioletred; }
.bor--mediumvioletred {  border-color: $mediumvioletred; }
.bor--lightsalmon {      border-color: $lightsalmon; }
.bor--salmon {           border-color: $salmon; }
.bor--darksalmon {       border-color: $darksalmon; }
.bor--lightcoral {       border-color: $lightcoral; }
.bor--indianred {        border-color: $indianred; }
.bor--crimson {          border-color: $crimson; }
.bor--firebrick {        border-color: $firebrick; }
.bor--darkred {          border-color: $darkred; }
.bor--red {              border-color: $red; }
.bor--orangered {        border-color: $orangered; }
.bor--tomato {           border-color: $tomato; }
.bor--coral {            border-color: $coral; }
.bor--darkorange {       border-color: $darkorange; }
.bor--orange {           border-color: $orange; }
.bor--gold {             border-color: $gold; }
.bor--yellow {           border-color: $yellow; }
.bor--lightyellow {      border-color: $lightyellow; }
.bor--lemonchiffon {     border-color: $lemonchiffon; }
.bor--lightgoldenrod {   border-color: $lightgoldenrodyellow; }
.bor--papayawhip {       border-color: $papayawhip; }
.bor--moccasin {         border-color: $moccasin; }
.bor--peachpuff {        border-color: $peachpuff; }
.bor--palegoldenrod {    border-color: $palegoldenrod; }
.bor--khaki {            border-color: $khaki; }
.bor--darkkhaki {        border-color: $darkkhaki; }
.bor--cornsilk {         border-color: $cornsilk; }
.bor--blanchedalmond {   border-color: $blanchedalmond; }
.bor--bisque {           border-color: $bisque; }
.bor--navajowhite {      border-color: $navajowhite; }
.bor--wheat {            border-color: $wheat; }
.bor--burlywood {        border-color: $burlywood; }
.bor--tan {              border-color: $tan; }
.bor--rosybrown {        border-color: $rosybrown; }
.bor--sandybrown {       border-color: $sandybrown; }
.bor--goldenrod {        border-color: $goldenrod; }
.bor--darkgoldenrod {    border-color: $darkgoldenrod; }
.bor--peru {             border-color: $peru; }
.bor--chocolate {        border-color: $chocolate; }
.bor--saddlebrown {      border-color: $saddlebrown; }
.bor--sienna {           border-color: $sienna; }
.bor--brown {            border-color: $brown; }
.bor--maroon {           border-color: $maroon; }
.bor--darkolivegreen {   border-color: $darkolivegreen; }
.bor--olive {            border-color: $olive; }
.bor--olivedrab {        border-color: $olivedrab; }
.bor--yellowgreen {      border-color: $yellowgreen; }
.bor--limegreen {        border-color: $limegreen; }
.bor--lime {             border-color: $lime; }
.bor--lawngreen {        border-color: $lawngreen; }
.bor--chartreuse {       border-color: $chartreuse; }
.bor--greenyellow {      border-color: $greenyellow; }
.bor--springgreen {      border-color: $springgreen; }
.bor--medpringgreen {    border-color: $mediumspringgreen; }
.bor--lightgreen {       border-color: $lightgreen; }
.bor--palegreen {        border-color: $palegreen; }
.bor--darkseagreen {     border-color: $darkseagreen; }
.bor--mediumseagreen {   border-color: $mediumseagreen; }
.bor--seagreen {         border-color: $seagreen; }
.bor--forestgreen {      border-color: $forestgreen; }
.bor--green {            border-color: $green; }
.bor--darkgreen {        border-color: $darkgreen; }
.bor--mediumaquamarine { border-color: $mediumaquamarine; }
.bor--aqua {             border-color: $aqua; }
.bor--cyan {             border-color: $cyan; }
.bor--lightcyan {        border-color: $lightcyan; }
.bor--paleturquoise {    border-color: $paleturquoise; }
.bor--aquamarine {       border-color: $aquamarine; }
.bor--turquoise {        border-color: $turquoise; }
.bor--mediumturquoise {  border-color: $mediumturquoise; }
.bor--darkturquoise {    border-color: $darkturquoise; }
.bor--lightseagreen {    border-color: $lightseagreen; }
.bor--cadetblue {        border-color: $cadetblue; }
.bor--darkcyan {         border-color: $darkcyan; }
.bor--teal {             border-color: $teal; }
.bor--lightsteelblue {   border-color: $lightsteelblue; }
.bor--powderblue {       border-color: $powderblue; }
.bor--lightblue {        border-color: $lightblue; }
.bor--skyblue {          border-color: $skyblue; }
.bor--lightskyblue {     border-color: $lightskyblue; }
.bor--deepskyblue {      border-color: $deepskyblue; }
.bor--dodgerblue {       border-color: $dodgerblue; }
.bor--cornflowerblue {   border-color: $cornflowerblue; }
.bor--steelblue {        border-color: $steelblue; }
.bor--royalblue {        border-color: $royalblue; }
.bor--blue {             border-color: $blue; }
.bor--mediumblue {       border-color: $mediumblue; }
.bor--darkblue {         border-color: $darkblue; }
.bor--navy {             border-color: $navy; }
.bor--midnightblue {     border-color: $midnightblue; }
.bor--lavender {         border-color: $lavender; }
.bor--thistle {          border-color: $thistle; }
.bor--plum {             border-color: $plum; }
.bor--violet {           border-color: $violet; }
.bor--orchid {           border-color: $orchid; }
.bor--fuchsia {          border-color: $fuchsia; }
.bor--magenta {          border-color: $magenta; }
.bor--mediumorchid {     border-color: $mediumorchid; }
.bor--mediumpurple {     border-color: $mediumpurple; }
.bor--blueviolet {       border-color: $blueviolet; }
.bor--darkviolet {       border-color: $darkviolet; }
.bor--darkorchid {       border-color: $darkorchid; }
.bor--darkmagenta {      border-color: $darkmagenta; }
.bor--purple {           border-color: $purple; }
.bor--indigo {           border-color: $indigo; }
.bor--darkslateblue {    border-color: $darkslateblue; }
.bor--slateblue {        border-color: $slateblue; }
.bor--mediumslateblue {  border-color: $mediumslateblue; }
.bor--white {            border-color: $white; }
.bor--snow {             border-color: $snow; }
.bor--honeydew {         border-color: $honeydew; }
.bor--mintcream {        border-color: $mintcream; }
.bor--azure {            border-color: $azure; }
.bor--aliceblue {        border-color: $aliceblue; }
.bor--ghostwhite {       border-color: $ghostwhite; }
.bor--whitesmoke {       border-color: $whitesmoke; }
.bor--seashell {         border-color: $seashell; }
.bor--beige {            border-color: $beige; }
.bor--oldlace {          border-color: $oldlace; }
.bor--floralwhite {      border-color: $floralwhite; }
.bor--ivory {            border-color: $ivory; }
.bor--antiquewhite {     border-color: $antiquewhite; }
.bor--linen {            border-color: $linen; }
.bor--lavenderblush {    border-color: $lavenderblush; }
.bor--mistyrose {        border-color: $mistyrose; }
.bor--gainsboro {        border-color: $gainsboro; }
