/*

   BORDER COLORS

 */

.b--black {        border-color: $black; }
.b--near-black {   border-color: $near-black; }
.b--dark-gray {    border-color: $dark-gray; }
.b--mid-gray {     border-color: $mid-gray; }
.b--gray {         border-color: $gray; }
.b--silver {       border-color: $silver; }
.b--light-silver { border-color: $light-silver; }
.b--light-gray {   border-color: $light-gray; }
.b--near-white {   border-color: $near-white; }
.b--white {        border-color: $white; }

.b--aqua {         border-color: $aqua; }
.b--blue {         border-color: $blue; }
.b--navy {         border-color: $navy; }
.b--teal {         border-color: $teal; }
.b--green {        border-color: $green; }
.b--olive {        border-color: $olive; }
.b--lime {         border-color: $lime; }
.b--yellow {       border-color: $yellow; }
.b--orange {       border-color: $orange; }
.b--red {          border-color: $red; }
.b--fuchsia {      border-color: $fuchsia; }
.b--purple {       border-color: $purple; }
.b--maroon {       border-color: $maroon; }

