/* ==========================================================================
   BORDER STYLES
   ========================================================================== */

.ba-none {   border-style: none; }
.ba-hidden { border-style: hidden; }
.ba-dotted { border-style: dotted; }
.ba-dashed { border-style: dashed; }
.ba-solid {  border-style: solid; }

