/*

   BORDER STYLES

 */

.ba-none {   border-style: none; }
.ba-dotted { border-style: dotted; }
.ba-solid {  border-style: solid; }

@include break(not-small) {
  .ba-none-ns {   border-style: none; }
  .ba-dotted-ns { border-style: dotted; }
  .ba-solid-ns {  border-style: solid; }
}

@include break(medium) {
  .ba-none-m {   border-style: none; }
  .ba-dotted-m { border-style: dotted; }
  .ba-solid-m {  border-style: solid; }
}

@include break(large) {
  .ba-none-l {   border-style: none; }
  .ba-dotted-l { border-style: dotted; }
  .ba-solid-l {  border-style: solid; }
}

