/*

   DIMENSION UTILITIES

*/

.wrap {
  display: block;
  width: auto !important;
}

.fill {
  display: block;
  overflow: hidden;
  width: auto !important;
}

.dbf {
  display: block;
  width: 100%;
}

