/* ==========================================================================
   FLOATS
   ========================================================================== */


.fl { float: left;  display: inline; }
.fr { float: right; display: inline; }
.fn { float: none; }

@include break(not-small) {
  .fl-ns { float: left; display: inline; }
  .fr-ns { float: right;display: inline; }
  .fn-ns { float: none; }
}

@include break(medium) {
  .fl-m { float: left; display: inline; }
  .fr-m { float: right;  display: inline; }
  .fn-m { float: none; }
}

@include break(large) {
  .fl-l { float: left; display: inline; }
  .fr-l { float: right;  display: inline; }
  .fn-l { float: none; }
}

