/* Font Family Groups */

.serif       {  font-family: georgia, serif; }
.sans-serif  {  font-family: avenir, 'avenir next', helvetica, arial, sans-serif; }
.font-mono    { font-family: monospace; }

@include break(not-small) {
  .serif-ns        { font-family: georgia, serif; }
  .sans-serif-ns   { font-family: avenir, 'avenir next', helvetica, arial, sans-serif; }
  .font-mono-ns    { font-family: monospace; }
}

@include break(medium) {
  .serif-m        { font-family: georgia, serif; }
  .sans-serif-m   { font-family: avenir, 'avenir next', helvetica, arial, sans-serif; }
  .font-mono-m    { font-family: monospace; }
}

@include break(large) {
  .serif-l        { font-family: georgia, serif; }
  .sans-serif-l   { font-family: avenir, 'avenir next', helvetica, arial, sans-serif; }
  .font-mono-l    { font-family: monospace; }
}

