/* Font Family Groups */

.serif       { font-family: georgia, serif; }
.sans-serif  { font-family: avenir, 'avenir next', helvetica, arial, sans-serif; }
.font-fantasy { font-family: fantasy; }
.font-cursive { font-family: cursive; }
.font-mono    { font-family: monospace; }

@include break(not-small) {
  .serif-ns        { font-family: georgia, serif; }
  .sans-serif-ns   { font-family: avenir, 'avenir next', helvetica, arial, sans-serif; }
  .font-fantasy-ns { font-family: fantasy; }
  .font-cursive-ns { font-family: cursive; }
  .font-mono-ns    { font-family: monospace; }
}

@include break(medium) {
  .serif-m        { font-family: georgia, serif; }
  .sans-serif-m   { font-family: avenir, 'avenir next', helvetica, arial, sans-serif; }
  .font-fantasy-m { font-family: fantasy; }
  .font-cursive-m { font-family: cursive; }
  .font-mono-m    { font-family: monospace; }
}

@include break(large) {
  .serif-l        { font-family: georgia, serif; }
  .sans-serif-l   { font-family: avenir, 'avenir next', helvetica, arial, sans-serif; }
  .font-fantasy-l { font-family: fantasy; }
  .font-cursive-l { font-family: cursive; }
  .font-mono-l    { font-family: monospace; }
}

