/*

   Heights

*/

/* Width Scale */

.wi1 {  height: 1rem; }
.wi2 {  height: 2rem; }
.wi3 {  height: 4rem; }
.wi4 {  height: 8rem; }
.wi5 {  height: 16rem; }

.hi-10 { height:  10%; }
.hi-20 { height:  20%; }
.hi-25 { height:  25%; }
.hi-40 { height:  40%; }
.hi-50 { height:  50%; }
.hi-60 { height:  60%; }
.hi-75 { height:  75%; }
.hi-80 { height:  80%; }
.hi-100 { height: 100%; }

/* Width String Properties */

.hi-bb { height: border-box; }
.hi-cb { height: content-box; }
.hi-mx { height: max-content; }
.hi-mn { height: min-content; }
.hi-av { height: available; }
.hi-fc { height: fit-content; }
.hi-at { height: auto; }
.hi-i {  height: inherit; }

@include break(not-small) {
  .wi1-ns {  height: 1rem; }
  .wi2-ns {  height: 2rem; }
  .wi3-ns {  height: 4rem; }
  .wi4-ns {  height: 8rem; }
  .wi5-ns {  height: 16rem; }
  .hi-10-ns { height:  10%; }
  .hi-20-ns { height:  20%; }
  .hi-25-ns { height:  25%; }
  .hi-40-ns { height:  40%; }
  .hi-50-ns { height:  50%; }
  .hi-60-ns { height:  60%; }
  .hi-75-ns { height:  75%; }
  .hi-80-ns { height:  80%; }
  .hi-100-ns { height: 100%; }
  .hi-bb-ns { height: border-box; }
  .hi-cb-ns { height: content-box; }
  .hi-mx-ns { height: max-content; }
  .hi-mn-ns { height: min-content; }
  .hi-av-ns { height: available; }
  .hi-fc-ns { height: fit-content; }
  .hi-at-ns { height: auto; }
  .hi-i-ns {  height: inherit; }
}

@include break(medium) {
  .wi1-m {      height: 1rem; }
  .wi2-m {      height: 2rem; }
  .wi3-m {      height: 4rem; }
  .wi4-m {      height: 8rem; }
  .wi5-m {      height: 16rem; }
  .hi-10-m { height:  10%; }
  .hi-20-m { height:  20%; }
  .hi-25-m { height:  25%; }
  .hi-40-m { height:  40%; }
  .hi-50-m { height:  50%; }
  .hi-60-m { height:  60%; }
  .hi-75-m { height:  75%; }
  .hi-80-m { height:  80%; }
  .hi-100-m { height: 100%; }
  .hi-bb-m {    height: border-box; }
  .hi-cb-m {    height: content-box; }
  .hi-mx-m {    height: max-content; }
  .hi-mn-m {    height: min-content; }
  .hi-av-m {    height: available; }
  .hi-fc-m {    height: fit-content; }
  .hi-at-m {    height: auto; }
  .hi-i-m {     height: inherit; }
}

@include break(large) {
  .wi1-l {      height: 1rem; }
  .wi2-l {      height: 2rem; }
  .wi3-l {      height: 4rem; }
  .wi4-l {      height: 8rem; }
  .wi5-l {      height: 16rem; }
  .hi-10-l {    height:  10%; }
  .hi-20-l {    height:  20%; }
  .hi-25-l {    height:  25%; }
  .hi-40-l {    height:  40%; }
  .hi-50-l {    height:  50%; }
  .hi-60-l {    height:  60%; }
  .hi-75-l {    height:  75%; }
  .hi-80-l {    height:  80%; }
  .hi-100-l {   height: 100%; }
  .hi-bb-l {    height: border-box; }
  .hi-cb-l {    height: content-box; }
  .hi-mx-l {    height: max-content; }
  .hi-mn-l {    height: min-content; }
  .hi-av-l {    height: available; }
  .hi-fc-l {    height: fit-content; }
  .hi-at-l {    height: auto; }
  .hi-i-l {     height: inherit; }
}

