/*

   LINE HEIGHT

*/

.lh       { line-height: 1; }
.lh-title { line-height: 1.3; }
.lh-copy  { line-height: 1.6; }

@include break(not-small) {
  .lh-ns       { line-height: 1; }
  .lh-title-ns { line-height: 1.3; }
  .lh-copy-ns  { line-height: 1.6; }
}

@include break(medium) {
  .lh-m       { line-height: 1; }
  .lh-title-m { line-height: 1.3; }
  .lh-copy-m  { line-height: 1.6; }
}

@include break(large) {
  .lh-l       { line-height: 1; }
  .lh-title-l { line-height: 1.3; }
  .lh-copy-l  { line-height: 1.6; }
}

