/*

   LINKS

*/

.link {
  text-decoration: none;
  transition: .4s all;

  &:link    { color: #30BBDB; }
  &:visited { color: #2D243B; }
  &:hover   { color: #004EAB; }
  &:active  { color: #C4E3E0; }
}

