/*

   LINKS

*/

.link {
  text-decoration: none;
  transition: all .4s;
}

.link:link    { color: #30BBDB; }
.link:visited { color: #2D243B; }
.link:hover   { color: #004EAB; }
.link:active  { color: #C4E3E0; }

