/* ==========================================================================
   LISTS
   ========================================================================== */

/* List Style Types */

.disc {         list-style-type: disc; }
.circle {       list-style-type: circle; }
.square {       list-style-type: square; }
.decimal {      list-style-type: decimal; }
.leading-zero { list-style-type: decimal-leading-zero; }
.lower-roman {  list-style-type: lower-roman; }
.upper-roman {  list-style-type: upper-roman; }
.lower-greek {  list-style-type: lower-greek; }
.lower-latin {  list-style-type: lower-latin; }
.upper-latin {  list-style-type: upper-latin; }
.lower-alpha {  list-style-type: lower-alpha; }
.upper-alpha {  list-style-type: upper-alpha; }
.list {         list-style-type: none; }


/* Horizontal list: can be used on ol or ul */

.list {         list-style: none; }

.list--h {
           list-style-type: none;
           > li {   display: inline-block; }
}

@include break(not-small) {
  .disc-ns {         list-style-type: disc; }
  .circle-ns {       list-style-type: circle; }
  .square-ns {       list-style-type: square; }
  .decimal-ns {      list-style-type: decimal; }
  .leading-zero-ns { list-style-type: decimal-leading-zero; }
  .lower-roman-ns {  list-style-type: lower-roman; }
  .upper-roman-ns {  list-style-type: upper-roman; }
  .lower-greek-ns {  list-style-type: lower-greek; }
  .lower-latin-ns {  list-style-type: lower-latin; }
  .upper-latin-ns {  list-style-type: upper-latin; }
  .lower-alpha-ns {  list-style-type: lower-alpha; }
  .upper-alpha-ns {  list-style-type: upper-alpha; }
  .list-ns {         list-style-type: none; }
  .list--h-ns {
             list-style-type: none;
             > li {   display: inline-block; }
  }
}

@include break(medium) {
  .disc-m {         list-style-type: disc; }
  .circle-m {       list-style-type: circle; }
  .square-m {       list-style-type: square; }
  .decimal-m {      list-style-type: decimal; }
  .leading-zero-m { list-style-type: decimal-leading-zero; }
  .lower-roman-m {  list-style-type: lower-roman; }
  .upper-roman-m {  list-style-type: upper-roman; }
  .lower-greek-m {  list-style-type: lower-greek; }
  .lower-latin-m {  list-style-type: lower-latin; }
  .upper-latin-m {  list-style-type: upper-latin; }
  .lower-alpha-m {  list-style-type: lower-alpha; }
  .upper-alpha-m {  list-style-type: upper-alpha; }
  .list-m {         list-style-type: none; }
  .list-m {         list-style: none; }
  .list--h-m {
             list-style-type: none;
             > li {   display: inline-block; }
  }
}

@include break(large) {
  .disc-l {         list-style-type: disc; }
  .circle-l {       list-style-type: circle; }
  .square-l {       list-style-type: square; }
  .decimal-l {      list-style-type: decimal; }
  .leading-zero-l { list-style-type: decimal-leading-zero; }
  .lower-roman-l {  list-style-type: lower-roman; }
  .upper-roman-l {  list-style-type: upper-roman; }
  .lower-greek-l {  list-style-type: lower-greek; }
  .lower-latin-l {  list-style-type: lower-latin; }
  .upper-latin-l {  list-style-type: upper-latin; }
  .lower-alpha-l {  list-style-type: lower-alpha; }
  .upper-alpha-l {  list-style-type: upper-alpha; }
  .list-l {         list-style-type: none; }
  .list-l {         list-style: none; }
  .list--h-l {
             list-style-type: none;
             > li {   display: inline-block; }
  }
}

