/* ==========================================================================
   MIN WIDTHS
   ========================================================================== */

.mn-wi-1  {   min-width: 1%; }
.mn-wi-2  {   min-width: 2%; }
.mn-wi-3  {   min-width: 3%; }
.mn-wi-4  {   min-width: 4%; }
.mn-wi-5  {   min-width: 5%; }
.mn-wi-6  {   min-width: 6%; }
.mn-wi-7  {   min-width: 7%; }
.mn-wi-8  {   min-width: 8%; }
.mn-wi-9  {   min-width: 9%; }
.mn-wi-10  {  min-width: 10%; }
.mn-wi-11  {  min-width: 11%; }
.mn-wi-12  {  min-width: 12%; }
.mn-wi-13  {  min-width: 13%; }
.mn-wi-14  {  min-width: 14%; }
.mn-wi-15  {  min-width: 15%; }
.mn-wi-16  {  min-width: 16%; }
.mn-wi-17  {  min-width: 17%; }
.mn-wi-18  {  min-width: 18%; }
.mn-wi-19  {  min-width: 19%; }
.mn-wi-20  {  min-width: 20%; }
.mn-wi-21  {  min-width: 21%; }
.mn-wi-22  {  min-width: 22%; }
.mn-wi-23  {  min-width: 23%; }
.mn-wi-24  {  min-width: 24%; }
.mn-wi-25  {  min-width: 25%; }
.mn-wi-26  {  min-width: 26%; }
.mn-wi-27  {  min-width: 27%; }
.mn-wi-28  {  min-width: 28%; }
.mn-wi-29  {  min-width: 29%; }
.mn-wi-30  {  min-width: 30%; }
.mn-wi-31  {  min-width: 31%; }
.mn-wi-32  {  min-width: 32%; }
.mn-wi-33  {  min-width: 33%; }
.mn-wi-34  {  min-width: 34%; }
.mn-wi-35  {  min-width: 35%; }
.mn-wi-36  {  min-width: 36%; }
.mn-wi-37  {  min-width: 37%; }
.mn-wi-38  {  min-width: 38%; }
.mn-wi-39  {  min-width: 39%; }
.mn-wi-40  {  min-width: 40%; }
.mn-wi-41  {  min-width: 41%; }
.mn-wi-42  {  min-width: 42%; }
.mn-wi-43  {  min-width: 43%; }
.mn-wi-44  {  min-width: 44%; }
.mn-wi-45  {  min-width: 45%; }
.mn-wi-46  {  min-width: 46%; }
.mn-wi-47  {  min-width: 47%; }
.mn-wi-48  {  min-width: 48%; }
.mn-wi-49  {  min-width: 49%; }
.mn-wi-50  {  min-width: 50%; }
.mn-wi-51  {  min-width: 51%; }
.mn-wi-52  {  min-width: 52%; }
.mn-wi-53  {  min-width: 53%; }
.mn-wi-54  {  min-width: 54%; }
.mn-wi-55  {  min-width: 55%; }
.mn-wi-56  {  min-width: 56%; }
.mn-wi-57  {  min-width: 57%; }
.mn-wi-58  {  min-width: 58%; }
.mn-wi-59  {  min-width: 59%; }
.mn-wi-60  {  min-width: 60%; }
.mn-wi-61  {  min-width: 61%; }
.mn-wi-62  {  min-width: 62%; }
.mn-wi-63  {  min-width: 63%; }
.mn-wi-64  {  min-width: 64%; }
.mn-wi-65  {  min-width: 65%; }
.mn-wi-66  {  min-width: 66%; }
.mn-wi-67  {  min-width: 67%; }
.mn-wi-68  {  min-width: 68%; }
.mn-wi-69  {  min-width: 69%; }
.mn-wi-70  {  min-width: 70%; }
.mn-wi-71  {  min-width: 71%; }
.mn-wi-72  {  min-width: 72%; }
.mn-wi-73  {  min-width: 73%; }
.mn-wi-74  {  min-width: 74%; }
.mn-wi-75  {  min-width: 75%; }
.mn-wi-76  {  min-width: 76%; }
.mn-wi-77  {  min-width: 77%; }
.mn-wi-78  {  min-width: 78%; }
.mn-wi-79  {  min-width: 79%; }
.mn-wi-80  {  min-width: 80%; }
.mn-wi-81  {  min-width: 81%; }
.mn-wi-82  {  min-width: 82%; }
.mn-wi-83  {  min-width: 83%; }
.mn-wi-84  {  min-width: 84%; }
.mn-wi-85  {  min-width: 85%; }
.mn-wi-86  {  min-width: 86%; }
.mn-wi-87  {  min-width: 87%; }
.mn-wi-88  {  min-width: 88%; }
.mn-wi-89  {  min-width: 89%; }
.mn-wi-90  {  min-width: 90%; }
.mn-wi-91  {  min-width: 91%; }
.mn-wi-92  {  min-width: 92%; }
.mn-wi-93  {  min-width: 93%; }
.mn-wi-94  {  min-width: 94%; }
.mn-wi-95  {  min-width: 95%; }
.mn-wi-96  {  min-width: 96%; }
.mn-wi-97  {  min-width: 97%; }
.mn-wi-98  {  min-width: 98%; }
.mn-wi-99  {  min-width: 99%; }
.mn-wi-100  { min-width: 100%; }

.mn-wi1  {  min-width: 1rem; }
.mn-wi2  {  min-width: 2rem; }
.mn-wi3  {  min-width: 4rem; }
.mn-wi4  {  min-width: 8rem; }
.mn-wi5  {  min-width: 16rem; }
.mn-wi6  {  min-width: 32rem; }
.mn-wi7  {  min-width: 48rem; }
.mn-wi8  {  min-width: 64rem; }
.mn-wi9  {  min-width: 96rem; }
.mn-wi10 {  min-width: 128rem; }

.mn-wi-max  { min-width: max-content; }
.mn-wi-min  { min-width: min-content; }
.mn-wi-fit  { min-width: fit-content; }
.mn-wi-fill { min-width: fill-available; }

@include break(not-small) {
  .mn-wi-1-ns {    min-width: 1%; }
  .mn-wi-2-ns {    min-width: 2%; }
  .mn-wi-3-ns {    min-width: 3%; }
  .mn-wi-4-ns {    min-width: 4%; }
  .mn-wi-5-ns {    min-width: 5%; }
  .mn-wi-6-ns {    min-width: 6%; }
  .mn-wi-7-ns {    min-width: 7%; }
  .mn-wi-8-ns {    min-width: 8%; }
  .mn-wi-9-ns {    min-width: 9%; }
  .mn-wi-10-ns {  min-width: 10%; }
  .mn-wi-11-ns {  min-width: 11%; }
  .mn-wi-12-ns {  min-width: 12%; }
  .mn-wi-13-ns {  min-width: 13%; }
  .mn-wi-14-ns {  min-width: 14%; }
  .mn-wi-15-ns {  min-width: 15%; }
  .mn-wi-16-ns {  min-width: 16%; }
  .mn-wi-17-ns {  min-width: 17%; }
  .mn-wi-18-ns {  min-width: 18%; }
  .mn-wi-19-ns {  min-width: 19%; }
  .mn-wi-20-ns {  min-width: 20%; }
  .mn-wi-21-ns {  min-width: 21%; }
  .mn-wi-22-ns {  min-width: 22%; }
  .mn-wi-23-ns {  min-width: 23%; }
  .mn-wi-24-ns {  min-width: 24%; }
  .mn-wi-25-ns {  min-width: 25%; }
  .mn-wi-26-ns {  min-width: 26%; }
  .mn-wi-27-ns {  min-width: 27%; }
  .mn-wi-28-ns {  min-width: 28%; }
  .mn-wi-29-ns {  min-width: 29%; }
  .mn-wi-30-ns {  min-width: 30%; }
  .mn-wi-31-ns {  min-width: 31%; }
  .mn-wi-32-ns {  min-width: 32%; }
  .mn-wi-33-ns {  min-width: 33%; }
  .mn-wi-34-ns {  min-width: 34%; }
  .mn-wi-35-ns {  min-width: 35%; }
  .mn-wi-36-ns {  min-width: 36%; }
  .mn-wi-37-ns {  min-width: 37%; }
  .mn-wi-38-ns {  min-width: 38%; }
  .mn-wi-39-ns {  min-width: 39%; }
  .mn-wi-40-ns {  min-width: 40%; }
  .mn-wi-41-ns {  min-width: 41%; }
  .mn-wi-42-ns {  min-width: 42%; }
  .mn-wi-43-ns {  min-width: 43%; }
  .mn-wi-44-ns {  min-width: 44%; }
  .mn-wi-45-ns {  min-width: 45%; }
  .mn-wi-46-ns {  min-width: 46%; }
  .mn-wi-47-ns {  min-width: 47%; }
  .mn-wi-48-ns {  min-width: 48%; }
  .mn-wi-49-ns {  min-width: 49%; }
  .mn-wi-50-ns {  min-width: 50%; }
  .mn-wi-51-ns {  min-width: 51%; }
  .mn-wi-52-ns {  min-width: 52%; }
  .mn-wi-53-ns {  min-width: 53%; }
  .mn-wi-54-ns {  min-width: 54%; }
  .mn-wi-55-ns {  min-width: 55%; }
  .mn-wi-56-ns {  min-width: 56%; }
  .mn-wi-57-ns {  min-width: 57%; }
  .mn-wi-58-ns {  min-width: 58%; }
  .mn-wi-59-ns {  min-width: 59%; }
  .mn-wi-60-ns {  min-width: 60%; }
  .mn-wi-61-ns {  min-width: 61%; }
  .mn-wi-62-ns {  min-width: 62%; }
  .mn-wi-63-ns {  min-width: 63%; }
  .mn-wi-64-ns {  min-width: 64%; }
  .mn-wi-65-ns {  min-width: 65%; }
  .mn-wi-66-ns {  min-width: 66%; }
  .mn-wi-67-ns {  min-width: 67%; }
  .mn-wi-68-ns {  min-width: 68%; }
  .mn-wi-69-ns {  min-width: 69%; }
  .mn-wi-70-ns {  min-width: 70%; }
  .mn-wi-71-ns {  min-width: 71%; }
  .mn-wi-72-ns {  min-width: 72%; }
  .mn-wi-73-ns {  min-width: 73%; }
  .mn-wi-74-ns {  min-width: 74%; }
  .mn-wi-75-ns {  min-width: 75%; }
  .mn-wi-76-ns {  min-width: 76%; }
  .mn-wi-77-ns {  min-width: 77%; }
  .mn-wi-78-ns {  min-width: 78%; }
  .mn-wi-79-ns {  min-width: 79%; }
  .mn-wi-80-ns {  min-width: 80%; }
  .mn-wi-81-ns {  min-width: 81%; }
  .mn-wi-82-ns {  min-width: 82%; }
  .mn-wi-83-ns {  min-width: 83%; }
  .mn-wi-84-ns {  min-width: 84%; }
  .mn-wi-85-ns {  min-width: 85%; }
  .mn-wi-86-ns {  min-width: 86%; }
  .mn-wi-87-ns {  min-width: 87%; }
  .mn-wi-88-ns {  min-width: 88%; }
  .mn-wi-89-ns {  min-width: 89%; }
  .mn-wi-90-ns {  min-width: 90%; }
  .mn-wi-91-ns {  min-width: 91%; }
  .mn-wi-92-ns {  min-width: 92%; }
  .mn-wi-93-ns {  min-width: 93%; }
  .mn-wi-94-ns {  min-width: 94%; }
  .mn-wi-95-ns {  min-width: 95%; }
  .mn-wi-96-ns {  min-width: 96%; }
  .mn-wi-97-ns {  min-width: 97%; }
  .mn-wi-98-ns {  min-width: 98%; }
  .mn-wi-99-ns {  min-width: 99%; }
  .mn-wi-100-ns { min-width: 100%; }

  .mn-wi1-ns  {  min-width: 1rem; }
  .mn-wi2-ns  {  min-width: 2rem; }
  .mn-wi3-ns  {  min-width: 4rem; }
  .mn-wi4-ns  {  min-width: 8rem; }
  .mn-wi5-ns  {  min-width: 16rem; }
  .mn-wi6-ns  {  min-width: 32rem; }
  .mn-wi7-ns  {  min-width: 48rem; }
  .mn-wi8-ns  {  min-width: 64rem; }
  .mn-wi9-ns  {  min-width: 96rem; }
  .mn-wi10-ns {  min-width: 128rem; }

  .mn-wi-max-ns  { min-width: max-content; }
  .mn-wi-min-ns  { min-width: min-content; }
  .mn-wi-fit-ns  { min-width: fit-content; }
  .mn-wi-fill-ns { min-width: fill-available; }
}

@include break(medium) {

  .mn-wi-1-m {    min-width: 1%; }
  .mn-wi-2-m {    min-width: 2%; }
  .mn-wi-3-m {    min-width: 3%; }
  .mn-wi-4-m {    min-width: 4%; }
  .mn-wi-5-m {    min-width: 5%; }
  .mn-wi-6-m {    min-width: 6%; }
  .mn-wi-7-m {    min-width: 7%; }
  .mn-wi-8-m {    min-width: 8%; }
  .mn-wi-9-m {    min-width: 9%; }
  .mn-wi-10-m {  min-width: 10%; }
  .mn-wi-11-m {  min-width: 11%; }
  .mn-wi-12-m {  min-width: 12%; }
  .mn-wi-13-m {  min-width: 13%; }
  .mn-wi-14-m {  min-width: 14%; }
  .mn-wi-15-m {  min-width: 15%; }
  .mn-wi-16-m {  min-width: 16%; }
  .mn-wi-17-m {  min-width: 17%; }
  .mn-wi-18-m {  min-width: 18%; }
  .mn-wi-19-m {  min-width: 19%; }
  .mn-wi-20-m {  min-width: 20%; }
  .mn-wi-21-m {  min-width: 21%; }
  .mn-wi-22-m {  min-width: 22%; }
  .mn-wi-23-m {  min-width: 23%; }
  .mn-wi-24-m {  min-width: 24%; }
  .mn-wi-25-m {  min-width: 25%; }
  .mn-wi-26-m {  min-width: 26%; }
  .mn-wi-27-m {  min-width: 27%; }
  .mn-wi-28-m {  min-width: 28%; }
  .mn-wi-29-m {  min-width: 29%; }
  .mn-wi-30-m {  min-width: 30%; }
  .mn-wi-31-m {  min-width: 31%; }
  .mn-wi-32-m {  min-width: 32%; }
  .mn-wi-33-m {  min-width: 33%; }
  .mn-wi-34-m {  min-width: 34%; }
  .mn-wi-35-m {  min-width: 35%; }
  .mn-wi-36-m {  min-width: 36%; }
  .mn-wi-37-m {  min-width: 37%; }
  .mn-wi-38-m {  min-width: 38%; }
  .mn-wi-39-m {  min-width: 39%; }
  .mn-wi-40-m {  min-width: 40%; }
  .mn-wi-41-m {  min-width: 41%; }
  .mn-wi-42-m {  min-width: 42%; }
  .mn-wi-43-m {  min-width: 43%; }
  .mn-wi-44-m {  min-width: 44%; }
  .mn-wi-45-m {  min-width: 45%; }
  .mn-wi-46-m {  min-width: 46%; }
  .mn-wi-47-m {  min-width: 47%; }
  .mn-wi-48-m {  min-width: 48%; }
  .mn-wi-49-m {  min-width: 49%; }
  .mn-wi-50-m {  min-width: 50%; }
  .mn-wi-51-m {  min-width: 51%; }
  .mn-wi-52-m {  min-width: 52%; }
  .mn-wi-53-m {  min-width: 53%; }
  .mn-wi-54-m {  min-width: 54%; }
  .mn-wi-55-m {  min-width: 55%; }
  .mn-wi-56-m {  min-width: 56%; }
  .mn-wi-57-m {  min-width: 57%; }
  .mn-wi-58-m {  min-width: 58%; }
  .mn-wi-59-m {  min-width: 59%; }
  .mn-wi-60-m {  min-width: 60%; }
  .mn-wi-61-m {  min-width: 61%; }
  .mn-wi-62-m {  min-width: 62%; }
  .mn-wi-63-m {  min-width: 63%; }
  .mn-wi-64-m {  min-width: 64%; }
  .mn-wi-65-m {  min-width: 65%; }
  .mn-wi-66-m {  min-width: 66%; }
  .mn-wi-67-m {  min-width: 67%; }
  .mn-wi-68-m {  min-width: 68%; }
  .mn-wi-69-m {  min-width: 69%; }
  .mn-wi-70-m {  min-width: 70%; }
  .mn-wi-71-m {  min-width: 71%; }
  .mn-wi-72-m {  min-width: 72%; }
  .mn-wi-73-m {  min-width: 73%; }
  .mn-wi-74-m {  min-width: 74%; }
  .mn-wi-75-m {  min-width: 75%; }
  .mn-wi-76-m {  min-width: 76%; }
  .mn-wi-77-m {  min-width: 77%; }
  .mn-wi-78-m {  min-width: 78%; }
  .mn-wi-79-m {  min-width: 79%; }
  .mn-wi-80-m {  min-width: 80%; }
  .mn-wi-81-m {  min-width: 81%; }
  .mn-wi-82-m {  min-width: 82%; }
  .mn-wi-83-m {  min-width: 83%; }
  .mn-wi-84-m {  min-width: 84%; }
  .mn-wi-85-m {  min-width: 85%; }
  .mn-wi-86-m {  min-width: 86%; }
  .mn-wi-87-m {  min-width: 87%; }
  .mn-wi-88-m {  min-width: 88%; }
  .mn-wi-89-m {  min-width: 89%; }
  .mn-wi-90-m {  min-width: 90%; }
  .mn-wi-91-m {  min-width: 91%; }
  .mn-wi-92-m {  min-width: 92%; }
  .mn-wi-93-m {  min-width: 93%; }
  .mn-wi-94-m {  min-width: 94%; }
  .mn-wi-95-m {  min-width: 95%; }
  .mn-wi-96-m {  min-width: 96%; }
  .mn-wi-97-m {  min-width: 97%; }
  .mn-wi-98-m {  min-width: 98%; }
  .mn-wi-99-m {  min-width: 99%; }
  .mn-wi-100-m { min-width: 100%; }
  .mn-wi1-m  {  min-width: 1rem; }
  .mn-wi2-m  {  min-width: 2rem; }
  .mn-wi3-m  {  min-width: 4rem; }
  .mn-wi4-m  {  min-width: 8rem; }
  .mn-wi5-m  {  min-width: 16rem; }
  .mn-wi6-m  {  min-width: 32rem; }
  .mn-wi7-m  {  min-width: 48rem; }
  .mn-wi8-m  {  min-width: 64rem; }
  .mn-wi9-m  {  min-width: 96rem; }
  .mn-wi10-m {  min-width: 128rem; }

  .mn-wi-max-m  { min-width: max-content; }
  .mn-wi-min-m  { min-width: min-content; }
  .mn-wi-fit-m  { min-width: fit-content; }
  .mn-wi-fill-m { min-width: fill-available; }
}

@include break(large) {
  .mn-wi-1-l {    min-width: 1%; }
  .mn-wi-2-l {    min-width: 2%; }
  .mn-wi-3-l {    min-width: 3%; }
  .mn-wi-4-l {    min-width: 4%; }
  .mn-wi-5-l {    min-width: 5%; }
  .mn-wi-6-l {    min-width: 6%; }
  .mn-wi-7-l {    min-width: 7%; }
  .mn-wi-8-l {    min-width: 8%; }
  .mn-wi-9-l {    min-width: 9%; }
  .mn-wi-10-l {  min-width: 10%; }
  .mn-wi-11-l {  min-width: 11%; }
  .mn-wi-12-l {  min-width: 12%; }
  .mn-wi-13-l {  min-width: 13%; }
  .mn-wi-14-l {  min-width: 14%; }
  .mn-wi-15-l {  min-width: 15%; }
  .mn-wi-16-l {  min-width: 16%; }
  .mn-wi-17-l {  min-width: 17%; }
  .mn-wi-18-l {  min-width: 18%; }
  .mn-wi-19-l {  min-width: 19%; }
  .mn-wi-20-l {  min-width: 20%; }
  .mn-wi-21-l {  min-width: 21%; }
  .mn-wi-22-l {  min-width: 22%; }
  .mn-wi-23-l {  min-width: 23%; }
  .mn-wi-24-l {  min-width: 24%; }
  .mn-wi-25-l {  min-width: 25%; }
  .mn-wi-26-l {  min-width: 26%; }
  .mn-wi-27-l {  min-width: 27%; }
  .mn-wi-28-l {  min-width: 28%; }
  .mn-wi-29-l {  min-width: 29%; }
  .mn-wi-30-l {  min-width: 30%; }
  .mn-wi-31-l {  min-width: 31%; }
  .mn-wi-32-l {  min-width: 32%; }
  .mn-wi-33-l {  min-width: 33%; }
  .mn-wi-34-l {  min-width: 34%; }
  .mn-wi-35-l {  min-width: 35%; }
  .mn-wi-36-l {  min-width: 36%; }
  .mn-wi-37-l {  min-width: 37%; }
  .mn-wi-38-l {  min-width: 38%; }
  .mn-wi-39-l {  min-width: 39%; }
  .mn-wi-40-l {  min-width: 40%; }
  .mn-wi-41-l {  min-width: 41%; }
  .mn-wi-42-l {  min-width: 42%; }
  .mn-wi-43-l {  min-width: 43%; }
  .mn-wi-44-l {  min-width: 44%; }
  .mn-wi-45-l {  min-width: 45%; }
  .mn-wi-46-l {  min-width: 46%; }
  .mn-wi-47-l {  min-width: 47%; }
  .mn-wi-48-l {  min-width: 48%; }
  .mn-wi-49-l {  min-width: 49%; }
  .mn-wi-50-l {  min-width: 50%; }
  .mn-wi-51-l {  min-width: 51%; }
  .mn-wi-52-l {  min-width: 52%; }
  .mn-wi-53-l {  min-width: 53%; }
  .mn-wi-54-l {  min-width: 54%; }
  .mn-wi-55-l {  min-width: 55%; }
  .mn-wi-56-l {  min-width: 56%; }
  .mn-wi-57-l {  min-width: 57%; }
  .mn-wi-58-l {  min-width: 58%; }
  .mn-wi-59-l {  min-width: 59%; }
  .mn-wi-60-l {  min-width: 60%; }
  .mn-wi-61-l {  min-width: 61%; }
  .mn-wi-62-l {  min-width: 62%; }
  .mn-wi-63-l {  min-width: 63%; }
  .mn-wi-64-l {  min-width: 64%; }
  .mn-wi-65-l {  min-width: 65%; }
  .mn-wi-66-l {  min-width: 66%; }
  .mn-wi-67-l {  min-width: 67%; }
  .mn-wi-68-l {  min-width: 68%; }
  .mn-wi-69-l {  min-width: 69%; }
  .mn-wi-70-l {  min-width: 70%; }
  .mn-wi-71-l {  min-width: 71%; }
  .mn-wi-72-l {  min-width: 72%; }
  .mn-wi-73-l {  min-width: 73%; }
  .mn-wi-74-l {  min-width: 74%; }
  .mn-wi-75-l {  min-width: 75%; }
  .mn-wi-76-l {  min-width: 76%; }
  .mn-wi-77-l {  min-width: 77%; }
  .mn-wi-78-l {  min-width: 78%; }
  .mn-wi-79-l {  min-width: 79%; }
  .mn-wi-80-l {  min-width: 80%; }
  .mn-wi-81-l {  min-width: 81%; }
  .mn-wi-82-l {  min-width: 82%; }
  .mn-wi-83-l {  min-width: 83%; }
  .mn-wi-84-l {  min-width: 84%; }
  .mn-wi-85-l {  min-width: 85%; }
  .mn-wi-86-l {  min-width: 86%; }
  .mn-wi-87-l {  min-width: 87%; }
  .mn-wi-88-l {  min-width: 88%; }
  .mn-wi-89-l {  min-width: 89%; }
  .mn-wi-90-l {  min-width: 90%; }
  .mn-wi-91-l {  min-width: 91%; }
  .mn-wi-92-l {  min-width: 92%; }
  .mn-wi-93-l {  min-width: 93%; }
  .mn-wi-94-l {  min-width: 94%; }
  .mn-wi-95-l {  min-width: 95%; }
  .mn-wi-96-l {  min-width: 96%; }
  .mn-wi-97-l {  min-width: 97%; }
  .mn-wi-98-l {  min-width: 98%; }
  .mn-wi-99-l {  min-width: 99%; }
  .mn-wi-100-l { min-width: 100%; }

  .mn-wi1-l  {  min-width: 1rem; }
  .mn-wi2-l  {  min-width: 2rem; }
  .mn-wi3-l  {  min-width: 4rem; }
  .mn-wi4-l  {  min-width: 8rem; }
  .mn-wi5-l  {  min-width: 16rem; }
  .mn-wi6-l  {  min-width: 32rem; }
  .mn-wi7-l  {  min-width: 48rem; }
  .mn-wi8-l  {  min-width: 64rem; }
  .mn-wi9-l  {  min-width: 96rem; }
  .mn-wi10-l {  min-width: 128rem; }

  .mn-wi-max-l  { min-width: max-content; }
  .mn-wi-min-l  { min-width: min-content; }
  .mn-wi-fit-l  { min-width: fit-content; }
  .mn-wi-fill-l { min-width: fill-available; }
}

