/* ==========================================================================
   MIN HEIGHTS
   ========================================================================== */

.mn-hi-100  { min-height: 100%; }
.mn-hi-75   { min-height: 75%; }
.mn-hi-50   { min-height: 50%; }
.mn-hi-25   { min-height: 25%; }

.mn-hi1   { min-height: 1rem; }
.mn-hi2   { min-height: 2rem; }
.mn-hi3   { min-height: 4rem; }
.mn-hi4   { min-height: 8rem; }
.mn-hi5   { min-height: 16rem; }
.mn-hi6   { min-height: 32rem; }
.mn-hi7   { min-height: 48rem; }
.mn-hi8   { min-height: 64rem; }
.mn-hi9   { min-height: 96rem; }
.mn-hi10  { min-height: 128rem; }

.mn-hi-max  { min-height: max-content; }
.mn-hi-min  { min-height: min-content; }
.mn-hi-fit  { min-height: fit-content; }
.mn-hi-fill { min-height: fill-available; }

@include break(not-small) {
  .mn-hi-100-ns  { min-height: 100%; }
  .mn-hi-75-ns   { min-height: 75%; }
  .mn-hi-50-ns   { min-height: 50%; }
  .mn-hi-25-ns   { min-height: 25%; }

  .mn-hi1-ns   { min-height: 1rem; }
  .mn-hi2-ns   { min-height: 2rem; }
  .mn-hi3-ns   { min-height: 4rem; }
  .mn-hi4-ns   { min-height: 8rem; }
  .mn-hi5-ns   { min-height: 16rem; }
  .mn-hi6-ns   { min-height: 32rem; }
  .mn-hi7-ns   { min-height: 48rem; }
  .mn-hi8-ns   { min-height: 64rem; }
  .mn-hi9-ns   { min-height: 96rem; }
  .mn-hi10-ns  { min-height: 128rem; }

  .mn-hi-max-ns  { min-height: max-content; }
  .mn-hi-min-ns  { min-height: min-content; }
  .mn-hi-fit-ns  { min-height: fit-content; }
  .mn-hi-fill-ns { min-height: fill-available; }
}

@include break(medium) {
  .mn-hi-100-m  { min-height: 100%; }
  .mn-hi-75-m   { min-height: 75%; }
  .mn-hi-50-m   { min-height: 50%; }
  .mn-hi-25-m   { min-height: 25%; }

  .mn-hi1-m   { min-height: 1rem; }
  .mn-hi2-m   { min-height: 2rem; }
  .mn-hi3-m   { min-height: 4rem; }
  .mn-hi4-m   { min-height: 8rem; }
  .mn-hi5-m   { min-height: 16rem; }
  .mn-hi6-m   { min-height: 32rem; }
  .mn-hi7-m   { min-height: 48rem; }
  .mn-hi8-m   { min-height: 64rem; }
  .mn-hi9-m   { min-height: 96rem; }
  .mn-hi10-m  { min-height: 128rem; }

  .mn-hi-max-m  { min-height: max-content; }
  .mn-hi-min-m  { min-height: min-content; }
  .mn-hi-fit-m  { min-height: fit-content; }
  .mn-hi-fill-m { min-height: fill-available; }
}

@include break(large) {
  .mn-hi-100-l  { min-height: 100%; }
  .mn-hi-75-l   { min-height: 75%; }
  .mn-hi-50-l   { min-height: 50%; }
  .mn-hi-25-l   { min-height: 25%; }

  .mn-hi1-l   { min-height: 1rem; }
  .mn-hi2-l   { min-height: 2rem; }
  .mn-hi3-l   { min-height: 4rem; }
  .mn-hi4-l   { min-height: 8rem; }
  .mn-hi5-l   { min-height: 16rem; }
  .mn-hi6-l   { min-height: 32rem; }
  .mn-hi7-l   { min-height: 48rem; }
  .mn-hi8-l   { min-height: 64rem; }
  .mn-hi9-l   { min-height: 96rem; }
  .mn-hi10-l  { min-height: 128rem; }

  .mn-hi-max-l  { min-height: max-content; }
  .mn-hi-min-l  { min-height: min-content; }
  .mn-hi-fit-l  { min-height: fit-content; }
  .mn-hi-fill-l { min-height: fill-available; }
}

