/* ==========================================================================
   OPACITY
   ========================================================================== */

/* Opacity */

.o-10 { opacity: .1; }
.o-20 { opacity: .2; }
.o-30 { opacity: .3; }
.o-40 { opacity: .4; }
.o-50 { opacity: .5; }
.o-60 { opacity: .6; }
.o-70 { opacity: .7; }
.o-80 { opacity: .8; }
.o-90 { opacity: .9; }
.o-full { opacity: 1; }

@include break(not-small) {
  .o-10-ns { opacity: .1; }
  .o-20-ns { opacity: .2; }
  .o-30-ns { opacity: .3; }
  .o-40-ns { opacity: .4; }
  .o-50-ns { opacity: .5; }
  .o-60-ns { opacity: .6; }
  .o-70-ns { opacity: .7; }
  .o-80-ns { opacity: .8; }
  .o-90-ns { opacity: .9; }
  .o-full-ns { opacity: 1; }
}

@include break(medium) {
  .o-10-m { opacity: .1; }
  .o-20-m { opacity: .2; }
  .o-30-m { opacity: .3; }
  .o-40-m { opacity: .4; }
  .o-50-m { opacity: .5; }
  .o-60-m { opacity: .6; }
  .o-70-m { opacity: .7; }
  .o-80-m { opacity: .8; }
  .o-90-m { opacity: .9; }
  .o-full-m { opacity: 1; }
}

@include break(large) {
  .o-10-l { opacity: .1; }
  .o-20-l { opacity: .2; }
  .o-30-l { opacity: .3; }
  .o-40-l { opacity: .4; }
  .o-50-l { opacity: .5; }
  .o-60-l { opacity: .6; }
  .o-70-l { opacity: .7; }
  .o-80-l { opacity: .8; }
  .o-90-l { opacity: .9; }
  .o-full-l { opacity: 1; }
}

