/*

   SKINS

*/


/* Grays */

.black {        color: $near-black!important; }
.dark-gray {    color: $dark-gray!important; }
.mid-gray {     color: $mid-gray!important; }
.gray {         color: $gray!important; }
.silver  {      color: $silver!important; }
.light-silver { color: $light-silver!important; }
.light-gray {   color: $light-gray!important; }
.near-white {   color: $near-white!important; }
.white {        color: $white!important; }


/* Text colors */

.aqua {    color: $aqua!important; }
.blue {    color: $blue!important; }
.navy {    color: $navy!important; }
.teal {    color: $teal!important; }
.green {   color: $green!important; }
.olive {   color: $olive!important; }
.lime {    color: $lime!important; }
.yellow {  color: $yellow!important; }
.orange {  color: $orange!important; }
.red {     color: $red!important; }
.fuchsia { color: $fuchsia!important; }
.purple {  color: $purple!important; }
.maroon {  color: $maroon!important; }


/* Background colors */

.bg-black {      background-color: $near-black!important; }
.bg-dark-gray {    background-color: $dark-gray!important; }
.bg-mid-gray {    background-color: $mid-gray!important; }
.bg-gray {       background-color: $gray!important; }
.bg-silver  {    background-color: $silver!important; }
.bg-light-silver {  background-color: $light-silver!important; }
.bg-light-gray {    background-color: $light-gray!important; }
.bg-near-white { background-color: $near-white!important; }
.bg-white {      background-color: $white!important; }

.bg-aqua {    background-color: $aqua!important; }
.bg-blue {    background-color: $blue!important; }
.bg-navy {    background-color: $navy!important; }
.bg-teal {    background-color: $teal!important; }
.bg-green {   background-color: $green!important; }
.bg-olive {   background-color: $olive!important; }
.bg-lime {    background-color: $lime!important; }
.bg-yellow {  background-color: $yellow!important; }
.bg-orange {  background-color: $orange!important; }
.bg-red {     background-color: $red!important; }
.bg-fuchsia { background-color: $fuchsia!important; }
.bg-purple {  background-color: $purple!important; }
.bg-maroon {  background-color: $maroon!important; }
