/*

   SKINS

*/


/* Grays */

.black {        color: $near-black!important; }
.dark-gray {    color: $dark-gray!important; }
.mid-gray {     color: $mid-gray!important; }
.gray {         color: $gray!important; }
.silver  {      color: $silver!important; }
.light-silver { color: $light-silver!important; }
.light-gray {   color: $light-gray!important; }
.near-white {   color: $near-white!important; }
.white {        color: $white!important; }

/* Text colors */

.aqua {    color: $aqua!important; }
.blue {    color: $blue!important; }
.navy {    color: $navy!important; }
.teal {    color: $teal!important; }
.green {   color: $green!important; }
.olive {   color: $olive!important; }
.lime {    color: $lime!important; }
.yellow {  color: $yellow!important; }
.orange {  color: $orange!important; }
.red {     color: $red!important; }
.fuchsia { color: $fuchsia!important; }
.purple {  color: $purple!important; }

/* Background colors */

.bg-black {         background-color: $near-black; }
.bg-dark-gray {     background-color: $dark-gray; }
.bg-mid-gray {      background-color: $mid-gray; }
.bg-gray {          background-color: $gray; }
.bg-silver  {       background-color: $silver; }
.bg-light-silver {  background-color: $light-silver; }
.bg-light-gray {    background-color: $light-gray; }
.bg-near-white {    background-color: $near-white; }
.bg-white {         background-color: $white; }

.bg-aqua {    background-color: $aqua; }
.bg-blue {    background-color: $blue; }
.bg-navy {    background-color: $navy; }
.bg-teal {    background-color: $teal; }
.bg-green {   background-color: $green; }
.bg-olive {   background-color: $olive; }
.bg-lime {    background-color: $lime; }
.bg-yellow {  background-color: $yellow; }
.bg-orange {  background-color: $orange; }
.bg-red {     background-color: $red; }
.bg-fuchsia { background-color: $fuchsia; }
.bg-purple {  background-color: $purple; }
.bg-maroon {  background-color: $maroon; }
.maroon {  color: $maroon!important; }

// SVG Skins

.fill-aqua {    fill: $aqua; }
.fill-blue {    fill: $blue; }
.fill-navy {    fill: $navy; }
.fill-teal {    fill: $teal; }
.fill-green {   fill: $green; }
.fill-olive {   fill: $olive; }
.fill-lime {    fill: $lime; }
.fill-yellow {  fill: $yellow; }
.fill-orange {  fill: $orange; }
.fill-red {     fill: $red; }
.fill-fuchsia { fill: $fuchsia; }
.fill-purple {  fill: $purple; }
.fill-maroon {  fill: $maroon; }

.stroke-aqua {    stroke: $aqua; }
.stroke-blue {    stroke: $blue; }
.stroke-navy {    stroke: $navy; }
.stroke-teal {    stroke: $teal; }
.stroke-green {   stroke: $green; }
.stroke-olive {   stroke: $olive; }
.stroke-lime {    stroke: $lime; }
.stroke-yellow {  stroke: $yellow; }
.stroke-orange {  stroke: $orange; }
.stroke-red {     stroke: $red; }
.stroke-fuchsia { stroke: $fuchsia; }
.stroke-purple {  stroke: $purple; }
.stroke-maroon {  stroke: $maroon; }

// Skins for specific pseudoclasses
.aqua-focus:focus {    color: $aqua!important; }
.blue-focus:focus {    color: $blue!important; }
.navy-focus:focus {    color: $navy!important; }
.teal-focus:focus {    color: $teal!important; }
.green-focus:focus {   color: $green!important; }
.olive-focus:focus {   color: $olive!important; }
.lime-focus:focus {    color: $lime!important; }
.yellow-focus:focus {  color: $yellow!important; }
.orange-focus:focus {  color: $orange!important; }
.red-focus:focus {     color: $red!important; }
.fuchsia-focus:focus { color: $fuchsia!important; }
.purple-focus:focus {  color: $purple!important; }
.maroon-focus:focus {  color: $maroon!important; }

.bg-aqua-focus:focus {    background-color: $aqua!important; }
.bg-blue-focus:focus {    background-color: $blue!important; }
.bg-navy-focus:focus {    background-color: $navy!important; }
.bg-teal-focus:focus {    background-color: $teal!important; }
.bg-green-focus:focus {   background-color: $green!important; }
.bg-olive-focus:focus {   background-color: $olive!important; }
.bg-lime-focus:focus {    background-color: $lime!important; }
.bg-yellow-focus:focus {  background-color: $yellow!important; }
.bg-orange-focus:focus {  background-color: $orange!important; }
.bg-red-focus:focus {     background-color: $red!important; }
.bg-fuchsia-focus:focus { background-color: $fuchsia!important; }
.bg-purple-focus:focus {  background-color: $purple!important; }
.bg-maroon-focus:focus {  background-color: $maroon!important; }

.aqua-hover:hover {    color: $aqua!important; }
.blue-hover:hover {    color: $blue!important; }
.navy-hover:hover {    color: $navy!important; }
.teal-hover:hover {    color: $teal!important; }
.green-hover:hover {   color: $green!important; }
.olive-hover:hover {   color: $olive!important; }
.lime-hover:hover {    color: $lime!important; }
.yellow-hover:hover {  color: $yellow!important; }
.orange-hover:hover {  color: $orange!important; }
.red-hover:hover {     color: $red!important; }
.fuchsia-hover:hover { color: $fuchsia!important; }
.purple-hover:hover {  color: $purple!important; }
.maroon-hover:hover {  color: $maroon!important; }

.bg-aqua-hover:hover {    background-color: $aqua!important; }
.bg-blue-hover:hover {    background-color: $blue!important; }
.bg-navy-hover:hover {    background-color: $navy!important; }
.bg-teal-hover:hover {    background-color: $teal!important; }
.bg-green-hover:hover {   background-color: $green!important; }
.bg-olive-hover:hover {   background-color: $olive!important; }
.bg-lime-hover:hover {    background-color: $lime!important; }
.bg-yellow-hover:hover {  background-color: $yellow!important; }
.bg-orange-hover:hover {  background-color: $orange!important; }
.bg-red-hover:hover {     background-color: $red!important; }
.bg-fuchsia-hover:hover { background-color: $fuchsia!important; }
.bg-purple-hover:hover {  background-color: $purple!important; }
.bg-maroon-hover:hover {  background-color: $maroon!important; }

.dim { border-color: $aqua; transition: border-color .15s ease-out; }
.dim:hover { border-color: rgba(255,255,255,.4); transition: border-color .1s ease-in; }
.dim:active,
.dim:focus { border-color: rgba(255,255,255,.8); transition: border-color .1s ease-out; }

