/*

   SKINS

*/




/* Text colors */

.black {         color: $near-black; }
.dark-gray {     color: $dark-gray; }
.mid-gray {      color: $mid-gray; }
.gray {          color: $gray; }
.silver  {       color: $silver; }
.light-silver {  color: $light-silver; }
.light-gray {    color: $light-gray; }
.near-white {    color: $near-white; }
.white {         color: $white; }

.blue { color: $blue; }
.light-blue { color: $light-blue; }
.lightest-blue { color: $lightest-blue; }
.dark-blue { color: $dark-blue; }
.darkest-blue { color: $darkest-blue; }
.yellow { color: $yellow; }
.light-yellow { color: $light-yellow; }
.lightest-yellow { color: $lightest-yellow; }
.dark-yellow { color: $dark-yellow; }
.darkest-yellow { color: $darkest-yellow; }
.orange { color: $orange; }
.light-orange { color: $light-orange; }
.lightest-orange { color: $lightest-orange; }
.dark-orange { color: $dark-orange; }
.darkest-orange { color: $darkest-orange; }
.red { color: $red; }
.light-red { color: $light-red; }
.lightest-red { color: $lightest-red; }
.dark-red { color: $dark-red; }
.darkest-red { color: $darkest-red; }
.teal { color: $teal; }
.light-teal { color: $light-teal; }
.lightest-teal { color: $lightest-teal; }
.dark-teal { color: $dark-teal; }
.darkest-teal { color: $darkest-teal; }
.green { color: $green; }
.light-green { color: $light-green; }
.lightest-green { color: $lightest-green; }
.dark-green { color: $dark-green; }
.darkest-green { color: $darkest-green; }
.pink { color: $pink; }
.light-pink { color: $light-pink; }
.lightest-pink { color: $lightest-pink; }
.dark-pink { color: $dark-pink; }
.darkest-pink { color: $darkest-pink; }
.purple { color: $purple; }
.light-purple { color: $light-purple; }
.lightest-purple { color: $lightest-purple; }
.dark-purple { color: $dark-purple; }
.darkest-purple { color: $darkest-purple; }

/* Background colors */

.bg-black {         background-color: $near-black; }
.bg-dark-gray {     background-color: $dark-gray; }
.bg-mid-gray {      background-color: $mid-gray; }
.bg-gray {          background-color: $gray; }
.bg-silver  {       background-color: $silver; }
.bg-light-silver {  background-color: $light-silver; }
.bg-light-gray {    background-color: $light-gray; }
.bg-near-white {    background-color: $near-white; }
.bg-white {         background-color: $white; }

.bg-blue { background-color: $blue; }
.bg-light-blue { background-color: $light-blue; }
.bg-lightest-blue { background-color: $lightest-blue; }
.bg-dark-blue { background-color: $dark-blue; }
.bg-darkest-blue { background-color: $darkest-blue; }
.bg-yellow { background-color: $yellow; }
.bg-light-yellow { background-color: $light-yellow; }
.bg-lightest-yellow { background-color: $lightest-yellow; }
.bg-dark-yellow { background-color: $dark-yellow; }
.bg-darkest-yellow { background-color: $darkest-yellow; }
.bg-orange { background-color: $orange; }
.bg-light-orange { background-color: $light-orange; }
.bg-lightest-orange { background-color: $lightest-orange; }
.bg-dark-orange { background-color: $dark-orange; }
.bg-darkest-orange { background-color: $darkest-orange; }
.bg-red { background-color: $red; }
.bg-light-red { background-color: $light-red; }
.bg-lightest-red { background-color: $lightest-red; }
.bg-dark-red { background-color: $dark-red; }
.bg-darkest-red { background-color: $darkest-red; }
.bg-teal { background-color: $teal; }
.bg-light-teal { background-color: $light-teal; }
.bg-lightest-teal { background-color: $lightest-teal; }
.bg-dark-teal { background-color: $dark-teal; }
.bg-darkest-teal { background-color: $darkest-teal; }
.bg-green { background-color: $green; }
.bg-light-green { background-color: $light-green; }
.bg-lightest-green { background-color: $lightest-green; }
.bg-dark-green { background-color: $dark-green; }
.bg-darkest-green { background-color: $darkest-green; }
.bg-pink { background-color: $pink; }
.bg-light-pink { background-color: $light-pink; }
.bg-lightest-pink { background-color: $lightest-pink; }
.bg-dark-pink { background-color: $dark-pink; }
.bg-darkest-pink { background-color: $darkest-pink; }
.bg-purple { background-color: $purple; }
.bg-light-purple { background-color: $light-purple; }
.bg-lightest-purple { background-color: $lightest-purple; }
.bg-dark-purple { background-color: $dark-purple; }
.bg-darkest-purple { background-color: $darkest-purple; }

// SVG Skins


.stroke-black { stroke: $black; }
.stroke-near-black { stroke: $near-black; }
.stroke-dark-gray { stroke: $dark-gray; }
.stroke-mid-gray { stroke: $mid-gray; }
.stroke-gray { stroke: $gray; }
.stroke-silver { stroke: $silver; }
.stroke-light-silver { stroke: $light-silver; }
.stroke-moon-gray { stroke: $moon-gray; }
.stroke-light-gray { stroke: $light-gray; }
.stroke-near-white { stroke: $near-white; }
.stroke-white { stroke: $white; }
.stroke-blue { stroke: $blue; }
.stroke-light-blue { stroke: $light-blue; }
.stroke-lightest-blue { stroke: $lightest-blue; }
.stroke-dark-blue { stroke: $dark-blue; }
.stroke-darkest-blue { stroke: $darkest-blue; }
.stroke-yellow { stroke: $yellow; }
.stroke-light-yellow { stroke: $light-yellow; }
.stroke-lightest-yellow { stroke: $lightest-yellow; }
.stroke-dark-yellow { stroke: $dark-yellow; }
.stroke-darkest-yellow { stroke: $darkest-yellow; }
.stroke-orange { stroke: $orange; }
.stroke-light-orange { stroke: $light-orange; }
.stroke-lightest-orange { stroke: $lightest-orange; }
.stroke-dark-orange { stroke: $dark-orange; }
.stroke-darkest-orange { stroke: $darkest-orange; }
.stroke-red { stroke: $red; }
.stroke-light-red { stroke: $light-red; }
.stroke-lightest-red { stroke: $lightest-red; }
.stroke-dark-red { stroke: $dark-red; }
.stroke-darkest-red { stroke: $darkest-red; }
.stroke-teal { stroke: $teal; }
.stroke-light-teal { stroke: $light-teal; }
.stroke-lightest-teal { stroke: $lightest-teal; }
.stroke-dark-teal { stroke: $dark-teal; }
.stroke-darkest-teal { stroke: $darkest-teal; }
.stroke-green { stroke: $green; }
.stroke-light-green { stroke: $light-green; }
.stroke-lightest-green { stroke: $lightest-green; }
.stroke-dark-green { stroke: $dark-green; }
.stroke-darkest-green { stroke: $darkest-green; }
.stroke-pink { stroke: $pink; }
.stroke-light-pink { stroke: $light-pink; }
.stroke-lightest-pink { stroke: $lightest-pink; }
.stroke-dark-pink { stroke: $dark-pink; }
.stroke-darkest-pink { stroke: $darkest-pink; }
.stroke-purple { stroke: $purple; }
.stroke-light-purple { stroke: $light-purple; }
.stroke-lightest-purple { stroke: $lightest-purple; }
.stroke-dark-purple { stroke: $dark-purple; }
.stroke-darkest-purple { stroke: $darkest-purple; }

// Skins for specific pseudoclasses
.focus-black:focus { color: $black; }
.focus-near-black:focus { color: $near-black; }
.focus-dark-gray:focus { color: $dark-gray; }
.focus-mid-gray:focus { color: $mid-gray; }
.focus-gray:focus { color: $gray; }
.focus-silver:focus { color: $silver; }
.focus-light-silver:focus { color: $light-silver; }
.focus-moon-gray:focus { color: $moon-gray; }
.focus-light-gray:focus { color: $light-gray; }
.focus-near-white:focus { color: $near-white; }
.focus-white:focus { color: $white; }
.focus-blue:focus { color: $blue; }
.focus-light-blue:focus { color: $light-blue; }
.focus-lightest-blue:focus { color: $lightest-blue; }
.focus-dark-blue:focus { color: $dark-blue; }
.focus-darkest-blue:focus { color: $darkest-blue; }
.focus-yellow:focus { color: $yellow; }
.focus-light-yellow:focus { color: $light-yellow; }
.focus-lightest-yellow:focus { color: $lightest-yellow; }
.focus-dark-yellow:focus { color: $dark-yellow; }
.focus-darkest-yellow:focus { color: $darkest-yellow; }
.focus-orange:focus { color: $orange; }
.focus-light-orange:focus { color: $light-orange; }
.focus-lightest-orange:focus { color: $lightest-orange; }
.focus-dark-orange:focus { color: $dark-orange; }
.focus-darkest-orange:focus { color: $darkest-orange; }
.focus-red:focus { color: $red; }
.focus-light-red:focus { color: $light-red; }
.focus-lightest-red:focus { color: $lightest-red; }
.focus-dark-red:focus { color: $dark-red; }
.focus-darkest-red:focus { color: $darkest-red; }
.focus-teal:focus { color: $teal; }
.focus-light-teal:focus { color: $light-teal; }
.focus-lightest-teal:focus { color: $lightest-teal; }
.focus-dark-teal:focus { color: $dark-teal; }
.focus-darkest-teal:focus { color: $darkest-teal; }
.focus-green:focus { color: $green; }
.focus-light-green:focus { color: $light-green; }
.focus-lightest-green:focus { color: $lightest-green; }
.focus-dark-green:focus { color: $dark-green; }
.focus-darkest-green:focus { color: $darkest-green; }
.focus-pink:focus { color: $pink; }
.focus-light-pink:focus { color: $light-pink; }
.focus-lightest-pink:focus { color: $lightest-pink; }
.focus-dark-pink:focus { color: $dark-pink; }
.focus-darkest-pink:focus { color: $darkest-pink; }
.focus-purple:focus { color: $purple; }
.focus-light-purple:focus { color: $light-purple; }
.focus-lightest-purple:focus { color: $lightest-purple; }
.focus-dark-purple:focus { color: $dark-purple; }
.focus-darkest-purple:focus { color: $darkest-purple; }

.bg-focus-black:focus { background-color: $black; }
.bg-focus-near-black:focus { background-color: $near-black; }
.bg-focus-dark-gray:focus { background-color: $dark-gray; }
.bg-focus-mid-gray:focus { background-color: $mid-gray; }
.bg-focus-gray:focus { background-color: $gray; }
.bg-focus-silver:focus { background-color: $silver; }
.bg-focus-light-silver:focus { background-color: $light-silver; }
.bg-focus-moon-gray:focus { background-color: $moon-gray; }
.bg-focus-light-gray:focus { background-color: $light-gray; }
.bg-focus-near-white:focus { background-color: $near-white; }
.bg-focus-white:focus { background-color: $white; }
.bg-focus-blue:focus { background-color: $blue; }
.bg-focus-light-blue:focus { background-color: $light-blue; }
.bg-focus-lightest-blue:focus { background-color: $lightest-blue; }
.bg-focus-dark-blue:focus { background-color: $dark-blue; }
.bg-focus-darkest-blue:focus { background-color: $darkest-blue; }
.bg-focus-yellow:focus { background-color: $yellow; }
.bg-focus-light-yellow:focus { background-color: $light-yellow; }
.bg-focus-lightest-yellow:focus { background-color: $lightest-yellow; }
.bg-focus-dark-yellow:focus { background-color: $dark-yellow; }
.bg-focus-darkest-yellow:focus { background-color: $darkest-yellow; }
.bg-focus-orange:focus { background-color: $orange; }
.bg-focus-light-orange:focus { background-color: $light-orange; }
.bg-focus-lightest-orange:focus { background-color: $lightest-orange; }
.bg-focus-dark-orange:focus { background-color: $dark-orange; }
.bg-focus-darkest-orange:focus { background-color: $darkest-orange; }
.bg-focus-red:focus { background-color: $red; }
.bg-focus-light-red:focus { background-color: $light-red; }
.bg-focus-lightest-red:focus { background-color: $lightest-red; }
.bg-focus-dark-red:focus { background-color: $dark-red; }
.bg-focus-darkest-red:focus { background-color: $darkest-red; }
.bg-focus-teal:focus { background-color: $teal; }
.bg-focus-light-teal:focus { background-color: $light-teal; }
.bg-focus-lightest-teal:focus { background-color: $lightest-teal; }
.bg-focus-dark-teal:focus { background-color: $dark-teal; }
.bg-focus-darkest-teal:focus { background-color: $darkest-teal; }
.bg-focus-green:focus { background-color: $green; }
.bg-focus-light-green:focus { background-color: $light-green; }
.bg-focus-lightest-green:focus { background-color: $lightest-green; }
.bg-focus-dark-green:focus { background-color: $dark-green; }
.bg-focus-darkest-green:focus { background-color: $darkest-green; }
.bg-focus-pink:focus { background-color: $pink; }
.bg-focus-light-pink:focus { background-color: $light-pink; }
.bg-focus-lightest-pink:focus { background-color: $lightest-pink; }
.bg-focus-dark-pink:focus { background-color: $dark-pink; }
.bg-focus-darkest-pink:focus { background-color: $darkest-pink; }
.bg-focus-purple:focus { background-color: $purple; }
.bg-focus-light-purple:focus { background-color: $light-purple; }
.bg-focus-lightest-purple:focus { background-color: $lightest-purple; }
.bg-focus-dark-purple:focus { background-color: $dark-purple; }
.bg-focus-darkest-purple:focus { background-color: $darkest-purple; }

.hover-black:hover { color: $black; }
.hover-near-black:hover { color: $near-black; }
.hover-dark-gray:hover { color: $dark-gray; }
.hover-mid-gray:hover { color: $mid-gray; }
.hover-gray:hover { color: $gray; }
.hover-silver:hover { color: $silver; }
.hover-light-silver:hover { color: $light-silver; }
.hover-moon-gray:hover { color: $moon-gray; }
.hover-light-gray:hover { color: $light-gray; }
.hover-near-white:hover { color: $near-white; }
.hover-white:hover { color: $white; }
.hover-blue:hover { color: $blue; }
.hover-light-blue:hover { color: $light-blue; }
.hover-lightest-blue:hover { color: $lightest-blue; }
.hover-dark-blue:hover { color: $dark-blue; }
.hover-darkest-blue:hover { color: $darkest-blue; }
.hover-yellow:hover { color: $yellow; }
.hover-light-yellow:hover { color: $light-yellow; }
.hover-lightest-yellow:hover { color: $lightest-yellow; }
.hover-dark-yellow:hover { color: $dark-yellow; }
.hover-darkest-yellow:hover { color: $darkest-yellow; }
.hover-orange:hover { color: $orange; }
.hover-light-orange:hover { color: $light-orange; }
.hover-lightest-orange:hover { color: $lightest-orange; }
.hover-dark-orange:hover { color: $dark-orange; }
.hover-darkest-orange:hover { color: $darkest-orange; }
.hover-red:hover { color: $red; }
.hover-light-red:hover { color: $light-red; }
.hover-lightest-red:hover { color: $lightest-red; }
.hover-dark-red:hover { color: $dark-red; }
.hover-darkest-red:hover { color: $darkest-red; }
.hover-teal:hover { color: $teal; }
.hover-light-teal:hover { color: $light-teal; }
.hover-lightest-teal:hover { color: $lightest-teal; }
.hover-dark-teal:hover { color: $dark-teal; }
.hover-darkest-teal:hover { color: $darkest-teal; }
.hover-green:hover { color: $green; }
.hover-light-green:hover { color: $light-green; }
.hover-lightest-green:hover { color: $lightest-green; }
.hover-dark-green:hover { color: $dark-green; }
.hover-darkest-green:hover { color: $darkest-green; }
.hover-pink:hover { color: $pink; }
.hover-light-pink:hover { color: $light-pink; }
.hover-lightest-pink:hover { color: $lightest-pink; }
.hover-dark-pink:hover { color: $dark-pink; }
.hover-darkest-pink:hover { color: $darkest-pink; }
.hover-purple:hover { color: $purple; }
.hover-light-purple:hover { color: $light-purple; }
.hover-lightest-purple:hover { color: $lightest-purple; }
.hover-dark-purple:hover { color: $dark-purple; }
.hover-darkest-purple:hover { color: $darkest-purple; }

.bg-hover-black:hover { background-color: $black; }
.bg-hover-near-black:hover { background-color: $near-black; }
.bg-hover-dark-gray:hover { background-color: $dark-gray; }
.bg-hover-mid-gray:hover { background-color: $mid-gray; }
.bg-hover-gray:hover { background-color: $gray; }
.bg-hover-silver:hover { background-color: $silver; }
.bg-hover-light-silver:hover { background-color: $light-silver; }
.bg-hover-moon-gray:hover { background-color: $moon-gray; }
.bg-hover-light-gray:hover { background-color: $light-gray; }
.bg-hover-near-white:hover { background-color: $near-white; }
.bg-hover-white:hover { background-color: $white; }
.bg-hover-blue:hover { background-color: $blue; }
.bg-hover-light-blue:hover { background-color: $light-blue; }
.bg-hover-lightest-blue:hover { background-color: $lightest-blue; }
.bg-hover-dark-blue:hover { background-color: $dark-blue; }
.bg-hover-darkest-blue:hover { background-color: $darkest-blue; }
.bg-hover-yellow:hover { background-color: $yellow; }
.bg-hover-light-yellow:hover { background-color: $light-yellow; }
.bg-hover-lightest-yellow:hover { background-color: $lightest-yellow; }
.bg-hover-dark-yellow:hover { background-color: $dark-yellow; }
.bg-hover-darkest-yellow:hover { background-color: $darkest-yellow; }
.bg-hover-orange:hover { background-color: $orange; }
.bg-hover-light-orange:hover { background-color: $light-orange; }
.bg-hover-lightest-orange:hover { background-color: $lightest-orange; }
.bg-hover-dark-orange:hover { background-color: $dark-orange; }
.bg-hover-darkest-orange:hover { background-color: $darkest-orange; }
.bg-hover-red:hover { background-color: $red; }
.bg-hover-light-red:hover { background-color: $light-red; }
.bg-hover-lightest-red:hover { background-color: $lightest-red; }
.bg-hover-dark-red:hover { background-color: $dark-red; }
.bg-hover-darkest-red:hover { background-color: $darkest-red; }
.bg-hover-teal:hover { background-color: $teal; }
.bg-hover-light-teal:hover { background-color: $light-teal; }
.bg-hover-lightest-teal:hover { background-color: $lightest-teal; }
.bg-hover-dark-teal:hover { background-color: $dark-teal; }
.bg-hover-darkest-teal:hover { background-color: $darkest-teal; }
.bg-hover-green:hover { background-color: $green; }
.bg-hover-light-green:hover { background-color: $light-green; }
.bg-hover-lightest-green:hover { background-color: $lightest-green; }
.bg-hover-dark-green:hover { background-color: $dark-green; }
.bg-hover-darkest-green:hover { background-color: $darkest-green; }
.bg-hover-pink:hover { background-color: $pink; }
.bg-hover-light-pink:hover { background-color: $light-pink; }
.bg-hover-lightest-pink:hover { background-color: $lightest-pink; }
.bg-hover-dark-pink:hover { background-color: $dark-pink; }
.bg-hover-darkest-pink:hover { background-color: $darkest-pink; }
.bg-hover-purple:hover { background-color: $purple; }
.bg-hover-light-purple:hover { background-color: $light-purple; }
.bg-hover-lightest-purple:hover { background-color: $lightest-purple; }
.bg-hover-dark-purple:hover { background-color: $dark-purple; }
.bg-hover-darkest-purple:hover { background-color: $darkest-purple; }

.dim { opacity: 1; transition: opacity .15s ease-in-out; }
.dim:hover { opacity: .6; transition: opacity .15s ease-in; }
.dim:active,
.dim:focus { opacity: .8; transition: opacity .15s ease-out; }

