/*

   SKINS

*/




/* Text colors */

.black {         color: $near-black; }
.dark-gray {     color: $dark-gray; }
.mid-gray {      color: $mid-gray; }
.gray {          color: $gray; }
.silver  {       color: $silver; }
.light-silver {  color: $light-silver; }
.light-gray {    color: $light-gray; }
.near-white {    color: $near-white; }
.white {         color: $white; }

.blue { color: $blue; }
.light-blue { color: $light-blue; }
.lightest-blue { color: $lightest-blue; }
.dark-blue { color: $dark-blue; }
.darkest-blue { color: $darkest-blue; }
.yellow { color: $yellow; }
.light-yellow { color: $light-yellow; }
.lightest-yellow { color: $lightest-yellow; }
.dark-yellow { color: $dark-yellow; }
.darkest-yellow { color: $darkest-yellow; }
.orange { color: $orange; }
.light-orange { color: $light-orange; }
.lightest-orange { color: $lightest-orange; }
.dark-orange { color: $dark-orange; }
.darkest-orange { color: $darkest-orange; }
.red { color: $red; }
.light-red { color: $light-red; }
.lightest-red { color: $lightest-red; }
.dark-red { color: $dark-red; }
.darkest-red { color: $darkest-red; }
.teal { color: $teal; }
.light-teal { color: $light-teal; }
.lightest-teal { color: $lightest-teal; }
.dark-teal { color: $dark-teal; }
.darkest-teal { color: $darkest-teal; }
.green { color: $green; }
.light-green { color: $light-green; }
.lightest-green { color: $lightest-green; }
.dark-green { color: $dark-green; }
.darkest-green { color: $darkest-green; }
.pink { color: $pink; }
.light-pink { color: $light-pink; }
.lightest-pink { color: $lightest-pink; }
.dark-pink { color: $dark-pink; }
.darkest-pink { color: $darkest-pink; }
.purple { color: $purple; }
.light-purple { color: $light-purple; }
.lightest-purple { color: $lightest-purple; }
.dark-purple { color: $dark-purple; }
.darkest-purple { color: $darkest-purple; }

/* Background colors */

.bg-black {         background-color: $near-black; }
.bg-dark-gray {     background-color: $dark-gray; }
.bg-mid-gray {      background-color: $mid-gray; }
.bg-gray {          background-color: $gray; }
.bg-silver  {       background-color: $silver; }
.bg-light-silver {  background-color: $light-silver; }
.bg-light-gray {    background-color: $light-gray; }
.bg-near-white {    background-color: $near-white; }
.bg-white {         background-color: $white; }

.bg-blue { background-color: $blue; }
.bg-light-blue { background-color: $light-blue; }
.bg-lightest-blue { background-color: $lightest-blue; }
.bg-dark-blue { background-color: $dark-blue; }
.bg-darkest-blue { background-color: $darkest-blue; }
.bg-yellow { background-color: $yellow; }
.bg-light-yellow { background-color: $light-yellow; }
.bg-lightest-yellow { background-color: $lightest-yellow; }
.bg-dark-yellow { background-color: $dark-yellow; }
.bg-darkest-yellow { background-color: $darkest-yellow; }
.bg-orange { background-color: $orange; }
.bg-light-orange { background-color: $light-orange; }
.bg-lightest-orange { background-color: $lightest-orange; }
.bg-dark-orange { background-color: $dark-orange; }
.bg-darkest-orange { background-color: $darkest-orange; }
.bg-red { background-color: $red; }
.bg-light-red { background-color: $light-red; }
.bg-lightest-red { background-color: $lightest-red; }
.bg-dark-red { background-color: $dark-red; }
.bg-darkest-red { background-color: $darkest-red; }
.bg-teal { background-color: $teal; }
.bg-light-teal { background-color: $light-teal; }
.bg-lightest-teal { background-color: $lightest-teal; }
.bg-dark-teal { background-color: $dark-teal; }
.bg-darkest-teal { background-color: $darkest-teal; }
.bg-green { background-color: $green; }
.bg-light-green { background-color: $light-green; }
.bg-lightest-green { background-color: $lightest-green; }
.bg-dark-green { background-color: $dark-green; }
.bg-darkest-green { background-color: $darkest-green; }
.bg-pink { background-color: $pink; }
.bg-light-pink { background-color: $light-pink; }
.bg-lightest-pink { background-color: $lightest-pink; }
.bg-dark-pink { background-color: $dark-pink; }
.bg-darkest-pink { background-color: $darkest-pink; }
.bg-purple { background-color: $purple; }
.bg-light-purple { background-color: $light-purple; }
.bg-lightest-purple { background-color: $lightest-purple; }
.bg-dark-purple { background-color: $dark-purple; }
.bg-darkest-purple { background-color: $darkest-purple; }


.dim { opacity: 1; transition: opacity .15s ease-in-out; }
.dim:hover { opacity: .6; transition: opacity .15s ease-in; }
.dim:active,
.dim:focus { opacity: .8; transition: opacity .15s ease-out; }

