/*

   SKINS

*/


/* Grays */

.black {        color: $near-black; }
.dark-gray {    color: $dark-gray; }
.mid-gray {     color: $mid-gray; }
.gray {         color: $gray; }
.silver  {      color: $silver; }
.light-silver { color: $light-silver; }
.light-gray {   color: $light-gray; }
.near-white {   color: $near-white; }
.white {        color: $white!important; }


/* Text colors */

.aqua {    color: $aqua; }
.blue {    color: $blue; }
.navy {    color: $navy; }
.teal {    color: $teal; }
.green {   color: $green; }
.olive {   color: $olive; }
.lime {    color: $lime; }
.yellow {  color: $yellow; }
.orange {  color: $orange; }
.red {     color: $red; }
.fuchsia { color: $fuchsia; }
.purple {  color: $purple; }
.maroon {  color: $maroon; }


/* Background colors */

.bg-black {      background-color: $near-black; }
.bg-dark-gray {    background-color: $dark-gray; }
.bg-mid-gray {    background-color: $mid-gray; }
.bg-gray {       background-color: $gray; }
.bg-silver  {    background-color: $silver; }
.bg-light-silver {  background-color: $light-silver; }
.bg-light-gray {    background-color: $light-gray; }
.bg-near-white { background-color: $near-white; }
.bg-white {      background-color: $white!important; }

.bg-aqua {    background-color: $aqua; }
.bg-blue {    background-color: $blue; }
.bg-navy {    background-color: $navy; }
.bg-teal {    background-color: $teal; }
.bg-green {   background-color: $green; }
.bg-olive {   background-color: $olive; }
.bg-lime {    background-color: $lime; }
.bg-yellow {  background-color: $yellow; }
.bg-orange {  background-color: $orange; }
.bg-red {     background-color: $red; }
.bg-fuchsia { background-color: $fuchsia; }
.bg-purple {  background-color: $purple; }
.bg-maroon {  background-color: $maroon; }

