// SVG Strokes

.sw-4 { stroke-width: 4; }

.stroke-black { stroke: $black; }
.stroke-near-black { stroke: $near-black; }
.stroke-dark-gray { stroke: $dark-gray; }
.stroke-mid-gray { stroke: $mid-gray; }
.stroke-gray { stroke: $gray; }
.stroke-silver { stroke: $silver; }
.stroke-light-silver { stroke: $light-silver; }
.stroke-moon-gray { stroke: $moon-gray; }
.stroke-light-gray { stroke: $light-gray; }
.stroke-near-white { stroke: $near-white; }
.stroke-white { stroke: $white; }
.stroke-blue { stroke: $blue; }
.stroke-light-blue { stroke: $light-blue; }
.stroke-lightest-blue { stroke: $lightest-blue; }
.stroke-dark-blue { stroke: $dark-blue; }
.stroke-darkest-blue { stroke: $darkest-blue; }
.stroke-yellow { stroke: $yellow; }
.stroke-light-yellow { stroke: $light-yellow; }
.stroke-lightest-yellow { stroke: $lightest-yellow; }
.stroke-dark-yellow { stroke: $dark-yellow; }
.stroke-darkest-yellow { stroke: $darkest-yellow; }
.stroke-orange { stroke: $orange; }
.stroke-light-orange { stroke: $light-orange; }
.stroke-lightest-orange { stroke: $lightest-orange; }
.stroke-dark-orange { stroke: $dark-orange; }
.stroke-darkest-orange { stroke: $darkest-orange; }
.stroke-red { stroke: $red; }
.stroke-light-red { stroke: $light-red; }
.stroke-lightest-red { stroke: $lightest-red; }
.stroke-dark-red { stroke: $dark-red; }
.stroke-darkest-red { stroke: $darkest-red; }
.stroke-teal { stroke: $teal; }
.stroke-light-teal { stroke: $light-teal; }
.stroke-lightest-teal { stroke: $lightest-teal; }
.stroke-dark-teal { stroke: $dark-teal; }
.stroke-darkest-teal { stroke: $darkest-teal; }
.stroke-green { stroke: $green; }
.stroke-light-green { stroke: $light-green; }
.stroke-lightest-green { stroke: $lightest-green; }
.stroke-dark-green { stroke: $dark-green; }
.stroke-darkest-green { stroke: $darkest-green; }
.stroke-pink { stroke: $pink; }
.stroke-light-pink { stroke: $light-pink; }
.stroke-lightest-pink { stroke: $lightest-pink; }
.stroke-dark-pink { stroke: $dark-pink; }
.stroke-darkest-pink { stroke: $darkest-pink; }
.stroke-purple { stroke: $purple; }
.stroke-light-purple { stroke: $light-purple; }
.stroke-lightest-purple { stroke: $lightest-purple; }
.stroke-dark-purple { stroke: $dark-purple; }
.stroke-darkest-purple { stroke: $darkest-purple; }
