// SVG Fill

.fill-black { fill: $black; }
.fill-near-black { fill: $near-black; }
.fill-dark-gray { fill: $dark-gray; }
.fill-mid-gray { fill: $mid-gray; }
.fill-gray { fill: $gray; }
.fill-silver { fill: $silver; }
.fill-light-silver { fill: $light-silver; }
.fill-moon-gray { fill: $moon-gray; }
.fill-light-gray { fill: $light-gray; }
.fill-near-white { fill: $near-white; }
.fill-white { fill: $white; }
.fill-blue { fill: $blue; }
.fill-light-blue { fill: $light-blue; }
.fill-lightest-blue { fill: $lightest-blue; }
.fill-dark-blue { fill: $dark-blue; }
.fill-darkest-blue { fill: $darkest-blue; }
.fill-yellow { fill: $yellow; }
.fill-light-yellow { fill: $light-yellow; }
.fill-lightest-yellow { fill: $lightest-yellow; }
.fill-dark-yellow { fill: $dark-yellow; }
.fill-darkest-yellow { fill: $darkest-yellow; }
.fill-orange { fill: $orange; }
.fill-light-orange { fill: $light-orange; }
.fill-lightest-orange { fill: $lightest-orange; }
.fill-dark-orange { fill: $dark-orange; }
.fill-darkest-orange { fill: $darkest-orange; }
.fill-red { fill: $red; }
.fill-light-red { fill: $light-red; }
.fill-lightest-red { fill: $lightest-red; }
.fill-dark-red { fill: $dark-red; }
.fill-darkest-red { fill: $darkest-red; }
.fill-teal { fill: $teal; }
.fill-light-teal { fill: $light-teal; }
.fill-lightest-teal { fill: $lightest-teal; }
.fill-dark-teal { fill: $dark-teal; }
.fill-darkest-teal { fill: $darkest-teal; }
.fill-green { fill: $green; }
.fill-light-green { fill: $light-green; }
.fill-lightest-green { fill: $lightest-green; }
.fill-dark-green { fill: $dark-green; }
.fill-darkest-green { fill: $darkest-green; }
.fill-pink { fill: $pink; }
.fill-light-pink { fill: $light-pink; }
.fill-lightest-pink { fill: $lightest-pink; }
.fill-dark-pink { fill: $dark-pink; }
.fill-darkest-pink { fill: $darkest-pink; }
.fill-purple { fill: $purple; }
.fill-light-purple { fill: $light-purple; }
.fill-lightest-purple { fill: $lightest-purple; }
.fill-dark-purple { fill: $dark-purple; }
.fill-darkest-purple { fill: $darkest-purple; }
