/*

   TEXT DECORATION

*/

.under  { text-decoration: underline; }
.none   { text-decoration: none; }


@include break(not-small) {
  .under-ns  { text-decoration: underline; }
  .none-ns   { text-decoration: none; }
}

@include break(medium) {
  .under-m  { text-decoration: underline; }
  .none-m   { text-decoration: none; }
}

@include break(large) {
  .under-l  { text-decoration: underline; }
  .none-l   { text-decoration: none; }
}

