/*

   UTILITIES

*/

/*
 *  The Media Object
 *  Built by @stubornella
 *  http://www.stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code/
 *
 *  <div class="media attribution">
 *
 *    <a href="http://twitter.com/stubbornella" class="img">
 *      <img src="http://stubbornella.com/profile_image.jpg" alt="me" />
 *    </a>
 *
 *    <div class="bd">
 *      @Stubbornella 14 minutes ago
 *    </div>
 *
 *   </div>
 */



/*
 * The Flag Object
 * Built by @csswizzrdry
 * http://csswizardry.com/2013/05/the-flag-object/
 *
 *
 * Use to vertically center text against an image.
 *
 *  <div class="flag">
 *      <div class="flag--image">
 *          <img src="" alt="">
 *      </div>
 *      <div class="flag--body">
 *          <p></p>
 *      </div>
 *  </div>
 *
 */

.flag {
  display: table;
  width: 100%;
}

.flag--image,
.flag--body {
    display: table-cell;
    vertical-align: middle;

    .flag--top & {
        vertical-align: top;
    }

    .flag--bottom & {
        vertical-align: bottom;
    }

}

.flag--image {
    padding-right: 10px;

    > img {
        display: block;
        max-width: none;
    }

    .flag--rev & {
        padding-right: 0;
        padding-left: 10px;
    }

}

.flag--body {
    width: 100%;
}

/*
  Aspect ratios for media objects i.e canvas, iframe, video, svg etc.
  Defaults to 16x9
*/

.aspect-ratio {
  height: 0;
  padding-top: 56.25%;
  position: relative;
}

.aspect-ratio--object {
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 100;
}

.overflow-container {
  overflow-y: scroll;
}
