/* ==========================================================================
   WHITE SPACE
   ========================================================================== */


.ws-norm    { white-space: normal; }
.ws-nowrap  { white-space: nowrap; }
.ws-pre     { white-space: pre; }
.ws-prewrap { white-space: pre-wrap; }
.ws-preline { white-space: pre-line; }

@include break(not-small) {
  .ws-norm-ns    { white-space: normal; }
  .ws-nowrap-ns  { white-space: nowrap; }
  .ws-pre-ns     { white-space: pre; }
  .ws-prewrap-ns { white-space: pre-wrap; }
  .ws-preline-ns { white-space: pre-line; }
}

@include break(medium) {
  .ws-norm-m    { white-space: normal; }
  .ws-nowrap-m  { white-space: nowrap; }
  .ws-pre-m     { white-space: pre; }
  .ws-prewrap-m { white-space: pre-wrap; }
  .ws-preline-m { white-space: pre-line; }
}

@include break(large) {
  .ws-norm-l    { white-space: normal; }
  .ws-nowrap-l  { white-space: nowrap; }
  .ws-pre-l     { white-space: pre; }
  .ws-prewrap-l { white-space: pre-wrap; }
  .ws-preline-l { white-space: pre-line; }
}

