/*

   WORD SPACING

*/

.wsn { word-spacing: normal; }
.wsib { word-spacing: -0.43em; } /* For eliminating space between inline-block elements */

@include break(not-small) {
  .wsn-ns { word-spacing: normal; }
  .wsib-ns { word-spacing: -0.43em; }
}

@include break(medium) {
  .wsn-m { word-spacing: normal; }
  .wsib-m { word-spacing: -0.43em; }
}

@include break(large) {
  .wsn-l { word-spacing: normal; }
  .wsib-l { word-spacing: -0.43em; }
}







