<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>
      Header / Components / TACHYONS
    </title>
    <meta name="author" content="@mrmrs">
    <meta name="description" content="CSS">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/tachyons.css">
  </head>
  <body class="w-100 sans-serif">
    <header class="bg-dark-gray white dn">
      <div class="bb b--mid-gray phm phl-ns pvl">
        <h1 class="f4 ttu mtn heavy tracked"><a class="white link dim" href="/">Tachyons</a></h1>
        <h2 class="f4 mvn semibold dib prxs"><a class="lightest-blue link dim" href="/docs/">Examples</a></h2>
        <span class="thin white-40">/</span>
        <h3 class="f4 mvn semibold dib prxs"><a class="lightest-blue link dim" href="/examples/#components">Components</a></h3>
        <span class="thin white-40">/</span>
        <h4 class="f4 mvn semibold dib">Header</h4>
      </div>
    </header>
    <main>
      <header style="background-image: url(/examples/img/9.jpg); background-repeat: none; background-position: bottom center;" class="bg-cv w-100 pos-rel h6">
        <div class="pos-abs top-0 bottom-0 right-0 left-0 bg-black-40 tc">
          <nav class="pos-abs top-0 right-0 left-0">
            <ul class="w-100 pln mvn mln tl tc-ns ptl">
              <li class="dib  link mbs">
                <a class="link semibold bold-ns ttu-ns tracked-mega-ns dim white pas pam-ns" href="#">Home</a>

              </li>
              <li class="dib  ">
                <a class="link semibold bold-ns ttu-ns tracked-mega-ns dim white pas pam-ns" href="#">About</a>
              </li>
              <li class="dib  ">
                <a class="link semibold bold-ns ttu-ns tracked-mega-ns dim white pas pam-ns" href="#">Store</a>
              </li>
              <li class="dib  ">
                <a class="link semibold bold-ns ttu-ns tracked-mega-ns dim white pas pam-ns" href="#">Contact</a>
              </li>
            </ul>
          </nav>
          <div class="dt h-100 tc">
            <div class="white dtc v-mid h-100">
              <h1 class="f1-m mega-l ttu tracked mbs">MAIN HERO TITLE</h1>
              <h2 class="serif i f4 f2-l book mtn">Secondary Tagline About Stuff</h2>
            </div>
          </div>
        </div>
      </header>
      <section class="phm phl-ns mw7 center pvxl">
        <h1 class="ttu tracked">Simple Header</h1>
        <p class="f4 f3-ns lh-copy measure">
          This example shows a fixed height header with responsive type that is
          vertically centered. The background image will cover the full header
          regardless of the width of the image or header. There is a background
          overlay that makes it so text is readable over various images.
        </p>
      </section>
    </main>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-55773803-1', 'auto');
ga('send', 'pageview');

    </script>
  </body>
</html>
