/*!!!

  # WORD BREAK

  ### Base

  word = word-break

  ### Media Query Extensions

  - `-m` = medium
  - `-l` = large
*/
.word-normal { word-break: normal; }
.word-wrap { word-break: break-all; }
.word-nowrap { word-break: keep-all; }
@media screen and (min-width: 30em) {
 .word-normal-m { word-break: normal; }
 .word-wrap-m { word-break: break-all; }
 .word-nowrap-m { word-break: keep-all; }
}
@media screen and (min-width: 60em) {
 .word-normal-l { word-break: normal; }
 .word-wrap-l { word-break: break-all; }
 .word-nowrap-l { word-break: keep-all; }
}

