/*

   LINKS

*/
.link { text-decoration: none; -webkit-transition: color .15s ease-in; transition: color .15s ease-in; }
.link:link, .link:visited { -webkit-transition: color .15s ease-in; transition: color .15s ease-in; }
.link:hover { -webkit-transition: color .15s ease-in; transition: color .15s ease-in; }
.link:active { -webkit-transition: color .15s ease-in; transition: color .15s ease-in; }
.link:focus { -webkit-transition: color .15s ease-in; transition: color .15s ease-in; }

