


@custom-media --breakpoint-small screen and (min-width: 30em);
@custom-media --breakpoint-medium screen and (min-width: 48em);
@custom-media --breakpoint-large screen and (min-width: 60em);
/*!!!

# LETTER SPACING

### Docs

http://tachyons.io/docs/typography/tracking/

### Base

- ls

### Modifiers

- 1 = 1st step in spacing scale
- 2 = 2nd step in spacing scale
- 3 = 3rd step in spacing scale

### Media Query Extensions

- `-s` = small
- `-m` = medium
- `-l` = large
*/

.ls1 { letter-spacing: -.05em; }
.ls2 { letter-spacing:  .1em; }
.ls3 { letter-spacing:  .25em; }

@media (--breakpoint-small) {
  .ls1-s { letter-spacing: -.05em; }
  .ls2-s { letter-spacing:  .1em; }
  .ls3-s { letter-spacing:  .25em; }
}

@media (--breakpoint-medium) {
  .ls1-m { letter-spacing: -.05em; }
  .ls2-m { letter-spacing:  .1em; }
  .ls3-m { letter-spacing:  .25em; }
}

@media (--breakpoint-large) {
  .ls1-l { letter-spacing: -.05em; }
  .ls2-l { letter-spacing:  .1em; }
  .ls3-l { letter-spacing:  .25em; }
}
