<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>
      ITEM LIST
    </title>
    <meta name="author" content="@mrmrs">
    <meta name="description" content="Simple CSS">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/tachyons.min.css">
  </head>
  <body class="wi-100 sans-serif">
    <div class="cf">
      <article style="background-image:url(/examples/img/1.jpg);" class="fl aspect-ratio  square-50 square-25-l bg-cv w-50 w-25-l hide-child">
        <div class="pos-abs top-0 bottom-0 right-0 left-0 bg-black-40 white child">
          <div class="h-100 dt">
            <div class="h-100 dtc v-mid tc f4 f3-ns phl bold">Marin, California</div>
          </div>
        </div>
      </article>
      <article style="background-image:url(/examples/img/2.jpg);" class="fl aspect-ratio  square-50 square-25-l bg-cv w-50 w-25-l hide-child">
        <div class="pos-abs top-0 bottom-0 right-0 left-0 bg-black-40 white child">
          <div class="h-100 dt">
            <div class="h-100 dtc v-mid tc f4 f3-ns phl bold">Sutro Baths, San Francisco</div>
          </div>
        </div>
      </article>
      <article style="background-image:url(/examples/img/3.jpg);" class="fl aspect-ratio  square-50 square-25-l bg-cv w-50 w-25-l hide-child">
        <div class="pos-abs top-0 bottom-0 right-0 left-0 bg-black-40 white child">
          <div class="h-100 dt">
            <div class="h-100 dtc v-mid tc f4 f3-ns phl bold">Golden Gate Bridge, San Francisco</div>
          </div>
        </div>
      </article>
      <article style="background-image:url(/examples/img/4.jpg);" class="fl aspect-ratio  square-50 square-25-l bg-cv w-50 w-25-l hide-child">
        <div class="pos-abs top-0 bottom-0 right-0 left-0 bg-black-40 white child">
          <div class="h-100 dt">
            <div class="h-100 dtc v-mid tc f4 f3-ns phl bold">Marin Headlands, California</div>
          </div>
        </div>
      </article>
      <article style="background-image:url(/examples/img/5.jpg);" class="fl aspect-ratio  square-50 square-25-l bg-cv w-50 w-25-l hide-child">
        <div class="pos-abs top-0 bottom-0 right-0 left-0 bg-black-40 white child">
          <div class="h-100 dt">
            <div class="h-100 dtc v-mid tc f4 f3-ns phl bold">Sutro Baths, San Francisco</div>
          </div>
        </div>
      </article>
      <article style="background-image:url(/examples/img/6.jpg);" class="fl aspect-ratio  square-50 square-25-l bg-cv w-50 w-25-l hide-child">
        <div class="pos-abs top-0 bottom-0 right-0 left-0 bg-black-40 white child">
          <div class="h-100 dt">
            <div class="h-100 dtc v-mid tc f4 f3-ns phl bold">Marin Headlands, California</div>
          </div>
        </div>
      </article>
      <article style="background-image:url(/examples/img/7.jpg);" class="fl aspect-ratio square-50 square-25-l bg-cv w-50 w-25-l hide-child">
        <div class="pos-abs top-0 bottom-0 right-0 left-0 bg-black-40 white child">
          <div class="h-100 dt">
            <div class="h-100 dtc v-mid tc f4 f3-ns phl bold">Kennedy Town, Hong Kong</div>
          </div>
        </div>
      </article>
      <article style="background-image:url(/examples/img/8.jpg);" class="fl aspect-ratio  square-50 square-25-l bg-cv w-50 w-25-l hide-child">
        <div class="pos-abs top-0 bottom-0 right-0 left-0 bg-black-40 white child">
          <div class="h-100 dt">
            <div class="h-100 dtc v-mid tc f4 f3-ns phl bold">Observation Wheel, Central, Hong Kong</div>
          </div>
        </div>
      </article>
      <article style="background-image:url(/examples/img/9.jpg);" class="fl aspect-ratio  square-50 square-25-l bg-cv w-50 w-25-l hide-child">
        <div class="pos-abs top-0 bottom-0 right-0 left-0 bg-black-40 white child">
          <div class="h-100 dt">
            <div class="h-100 dtc v-mid tc f4 f3-ns phl bold">Arts Center, Hong Kong</div>
          </div>
        </div>
      </article>
      <article style="background-image:url(/examples/img/10.jpg);" class="fl aspect-ratio  square-50 square-25-l bg-cv w-50 w-25-l hide-child">
        <div class="pos-abs top-0 bottom-0 right-0 left-0 bg-black-40 white child">
          <div class="h-100 dt">
            <div class="h-100 dtc v-mid tc f4 f3-ns phl bold">The Peak, Hong Kong</div>
          </div>
        </div>
      </article>
      <article style="background-image:url(/examples/img/4.jpg);" class="fl aspect-ratio  square-50 square-25-l bg-cv w-50 w-25-l hide-child">
        <div class="pos-abs top-0 bottom-0 right-0 left-0 bg-black-40 white child">
          <div class="h-100 dt">
            <div class="h-100 dtc v-mid tc f4 f3-ns phl bold">Headlands, San Francisco</div>
          </div>
        </div>
      </article>
      <article style="background-image:url(/examples/img/2.jpg);" class="fl aspect-ratio  square-50 square-25-l bg-cv w-50 w-25-l hide-child">
        <div class="pos-abs top-0 bottom-0 right-0 left-0 bg-black-40 white child">
          <div class="h-100 dt">
            <div class="h-100 dtc v-mid tc f4 f3-ns phl bold">Headlands, California</div>
          </div>
        </div>
      </article>

    </div>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-55773803-1', 'auto');
ga('send', 'pageview');

    </script>
  </body>
</html>
