/*!!!

  # BACKGROUND SIZE

  Often used in combination with background image set as an inline style
  on an html element.

  ### Docs

  http://tachyons.io/docs/themes/background-size/

  ### Media Query Extensions

  - `-m` = medium
  - `-l`= large
*/
.cover { background-size: cover !important; }
.contain { background-size: contain !important; }
@media screen and (min-width: 30em) {
 .cover-m { background-size: cover !important; }
 .contain-m { background-size: contain !important; }
}
@media screen and (min-width: 60em) {
 .cover-l { background-size: cover !important; }
 .contain-l { background-size: contain !important; }
}

