<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>
      TACHYONS / Examples
    </title>
    <meta name="author" content="@mrmrs">
    <meta name="description" content="CSS">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/tachyons.css">
  </head>
  <body class="w-100 sans-serif">
    <nav>
      <ul class="list pln phm phl-ns mtn pvl bb b--black">
        <li class="db dib-ns mrl-m mrxl-l mbm mbn-ns"><a href="http://www.url.com" class="f1 db bold link black lh-solid">SiteName</a></li>
        <li class="dib"><a href="http://www.url.com" class="f4 db link black prs prm-ns lh-solid">About</a></li>
        <li class="dib"><a href="http://www.url.com" class="f4 db link black prs prm-ns lh-solid">Shop</a></li>
        <li class="dib"><a href="http://www.url.com" class="f4 db link black prs prm-ns lh-solid">Contact</a></li>
        <li class="dib"><a href="http://www.url.com" class="f4 db link black prs prm-ns lh-solid">Sign In</a></li>
      </ul>
    </nav>
  </body>
</html>
