/*doc
---
title: Buttons
name: buttons
category: controls
---
```html_example
  <a href="#" class="btn btn--s">Button text</a>
  <a href="#" class="btn btn--m">Button text</a>
  <a href="#" class="btn btn--l">Button text</a>
  <a href="#" class="btn btn--full">Button text</a>
```
*/
