/*doc
---
title: Form Text Input
name: text input
parent: forms
category: inputs
---
```html_example
<div>
  <label class="b" for="username">username</label>
  <input class="brs border border--silver" type="text" id="username">
</div>
```
*/
