/*doc
---
title: Forms
name: forms
category: forms
---
```html_example
<form>
  <fieldset>
    <legend></legend>
    <div>
      <label for="username">username</label>
      <input id="username" type="text">
    </div>
  </fieldset>
</form>
```
*/
