/*doc
---
title: Navbar
name: navbar
category: navigation
---
```html_example
<nav class="bg-gray">
  <ul class="list pln mln">
    <li class="dib prs"><a href="#">Home</a></li>
    <li class="dib prs"><a href="#">About</a></li>
    <li class="dib prs"><a href="#">Contact</a></li>
  </ul>
</nav>
```
*/
