<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>
      Header - TACHYONS
    </title>
    <meta name="author" content="@mrmrs">
    <meta name="description" content="Simple CSS">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/tachyons.min.css">
  </head>
  <body class="wi-100 sans-serif">
    <header style="background-image: url(/examples/img/1.jpg); background-position: bottom center;" class="h-100 dt bg-cv">
      <div  class="dtc v-mid  bg-black-10 white-80 tl tc-ns phm">
       <h1 class="f3 f1-m mega-l ttu tracked-mega mbm mtn semibold">Project Title</h1>
       <h2 class="f4 f3-ns book mbm mtn">A Project Subtitle as Elevator Pitch</h2>
       <a href="#" class="f5 f4-ns dim dib mtl br2 bg-white-10 ba b--white-40 white-80 link pam">Call to Action</a>
       <a href="#" class="f5 f4-ns dim dib mtl br2 bg-white-10 ba b--white-40 white-80 link pam">Secondary Call to Action</a>
     </div>
    </header>
    <main>
      <div class="measure center pvl">
        <h1 class="f4 f2-ns semibold ttu tracked lh-title">Simple full screen panel header</h1>

        <p class="measure lh-copy">Vertically aligns content within the panel which is set to fill height and width of the window.</p>
        <p class="measure lh-copy">Can be used with a solid background color, a gradient background, or a custom background image (as shown here).</p>
        <p class="measure lh-copy">Designed to handle zero, one or two call to action buttons.</p>
        <p class="measure lh-copy">Subtitle is optional.</p>
      </div>
    </main>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-55773803-1', 'auto');
ga('send', 'pageview');

    </script>
  </body>
</html>
