/*

  TABLES

*/
.collapse { border-collapse: collapse; border-spacing: 0; }
.striped--moon-gray:nth-child(odd) { background-color: #aaa; }
.striped--moon-gray:nth-child(odd) { background-color: #ccc; }
.striped--light-gray:nth-child(odd) { background-color: #eee; }
.striped--near-white:nth-child(odd) { background-color: #f4f4f4; }

