/*!!!

  # TABLES

  ### Docs

  http://tachyons.io/docs/elements/tables/
*/
.collapse { border-collapse: collapse; border-spacing: 0; }
.striped--light-silver:nth-child(odd) { background-color: undefined; }
.striped--moon-gray:nth-child(odd) { background-color: undefined; }
.striped--light-gray:nth-child(odd) { background-color: undefined; }
.striped--near-white:nth-child(odd) { background-color: undefined; }
.stripe-light:nth-child(odd) { background-color: undefined; }
.stripe-dark:nth-child(odd) { background-color: undefined; }

