/*!!!

# LINE HEIGHT / LEADING

### Docs

http://tachyons.io/docs/typography/line-height

### Base

- lh = line height

### Literal Values

- `-solid` = literal value 1
- `-title` = literal value 1.25
- `-copy`  = literal value 1.5

### Media Query Extensions

- `-s` = small
- `-m` = medium
- `-l` = large
*/
.lh-solid { line-height: 1; }
.lh-title { line-height: 1.25; }
.lh-copy { line-height: 1.5; }
@media screen and (min-width: 30em) {
 .lh-solid-s { line-height: 1; }
 .lh-title-s { line-height: 1.25; }
 .lh-copy-s { line-height: 1.5; }
}
@media screen and (min-width: 48em) {
 .lh-solid-m { line-height: 1; }
 .lh-title-m { line-height: 1.25; }
 .lh-copy-m { line-height: 1.5; }
}
@media screen and (min-width: 60em) {
 .lh-solid-l { line-height: 1; }
 .lh-title-l { line-height: 1.25; }
 .lh-copy-l { line-height: 1.5; }
}

