/*

  ALIGN-CONTENT

  Media Query Extensions:
   -s = small
   -m  = medium
   -l  = large

  MDN: https://developer.mozilla.org/en-US/docs/Web/CSS/align-content

*/

.content-start   { align-content: flex-start; }
.content-end     { align-content: flex-end; }
.content-center  { align-content: center; }
.content-between { align-content: space-between; }
.content-around  { align-content: space-around; }
.content-stretch { align-content: stretch; }

@container (min-width:30em) {
  .content-start-s { align-content: flex-start; }
  .content-end-s { align-content: flex-end; }
  .content-center-s { align-content: center; }
  .content-between-s { align-content: space-between; }
  .content-around-s { align-content: space-around; }
  .content-stretch-s { align-content: stretch; }
}
@container (min-width:48em) {
  .content-start-m { align-content: flex-start; }
  .content-end-m { align-content: flex-end; }
  .content-center-m { align-content: center; }
  .content-between-m { align-content: space-between; }
  .content-around-m { align-content: space-around; }
  .content-stretch-m { align-content: stretch; }
}
@container (min-width:64em) {
  .content-start-l { align-content: flex-start; }
  .content-end-l { align-content: flex-end; }
  .content-center-l { align-content: center; }
  .content-between-l { align-content: space-between; }
  .content-around-l { align-content: space-around; }
  .content-stretch-l { align-content: stretch; }
}
