/*

  ALIGN-SELF

  Media Query Extensions:
   -s = small
   -m  = medium
   -l  = large

*/

.self-start    { align-self: flex-start; }
.self-end      { align-self: flex-end; }
.self-center   { align-self: center; }
.self-baseline { align-self: baseline; }
.self-stretch  { align-self: stretch; }

@media (--breakpoint-small) {
  .self-start-s { align-self: flex-start; }
  .self-end-s { align-self: flex-end; }
  .self-center-s { align-self: center; }
  .self-baseline-s { align-self: baseline; }
  .self-stretch-s { align-self: stretch; }
}

@media (--breakpoint-medium) {
  .self-start-m { align-self: flex-start; }
  .self-end-m { align-self: flex-end; }
  .self-center-m { align-self: center; }
  .self-baseline-m { align-self: baseline; }
  .self-stretch-m { align-self: stretch; }

}

@media (--breakpoint-large) {
  .self-start-l { align-self: flex-start; }
  .self-end-l { align-self: flex-end; }
  .self-center-l { align-self: center; }
  .self-baseline-l { align-self: baseline; }
  .self-stretch-l { align-self: stretch; }
}
