@custom-media --breakpoint-not-small screen and (min-width: 48em);
@custom-media --breakpoint-medium screen and (min-width: 48em) and (max-width: 64em);
@custom-media --breakpoint-large screen and (min-width: 64em);

/*

   BACKGROUND SIZE

   Base:
    bg = background-size

   Modifiers:
    -cv = cover
    -cn = contain

   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large

*/

  .bg-cv  {               background-size: cover; }
  .bg-cn  {               background-size: contain; }

@media (--breakpoint-not-small) {
  .bg-cv-ns {             background-size: cover; }
  .bg-cn-ns {             background-size: contain; }
}

@media (--breakpoint-medium) {
  .bg-cv-m {              background-size: cover; }
  .bg-cn-m {              background-size: contain; }
}

@media (--breakpoint-large) {
  .bg-cv-l {              background-size: cover; }
  .bg-cn-l {              background-size: contain; }
}
