/*

    BACKGROUND POSITION

    Media Query Extensions:
      -ns = not-small
      -m  = medium
      -l  = large

 */
.bg { background-position: center center; background-repeat: no-repeat; }
.bg--top { background-position: top center; background-repeat: no-repeat; }
.bg--right { background-position: center right; background-repeat: no-repeat; }
.bg--bottom { background-position: bottom center; background-repeat: no-repeat; }
.bg--left { background-position: center left; background-repeat: no-repeat; }

@media (--breakpoint-not-small) {
  .bg-ns { background-position: center center; background-repeat: no-repeat; }
  .bg--top-ns { background-position: top center; background-repeat: no-repeat; }
  .bg--right-ns { background-position: center right; background-repeat: no-repeat; }
  .bg--bottom-ns { background-position: bottom center; background-repeat: no-repeat; }
  .bg--left-ns { background-position: center left; background-repeat: no-repeat; }
}

@media (--breakpoint-medium) {
  .bg-m { background-position: center center; background-repeat: no-repeat; }
  .bg--top-m { background-position: top center; background-repeat: no-repeat; }
  .bg--right-m { background-position: center right; background-repeat: no-repeat; }
  .bg--bottom-m { background-position: bottom center; background-repeat: no-repeat; }
  .bg--left-m { background-position: center left; background-repeat: no-repeat; }
}

@media (--breakpoint-large) {
  .bg-l { background-position: center center; background-repeat: no-repeat; }
  .bg--top-l { background-position: top center; background-repeat: no-repeat; }
  .bg--right-l { background-position: center right; background-repeat: no-repeat; }
  .bg--bottom-l { background-position: bottom center; background-repeat: no-repeat; }
  .bg--left-l { background-position: center left; background-repeat: no-repeat; }
}
