@custom-media --breakpoint-not-small screen and (min-width: 48em);
@custom-media --breakpoint-medium screen and (min-width: 48em) and (max-width: 64em);
@custom-media --breakpoint-large screen and (min-width: 64em);

/*

   BORDER STYLES

   Base:
     bs = border-style

   Modifiers:
     none   = none
     dotted = dotted
     solid  = solid

   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large

 */

.bs-none {   border-style: none; }
.bs-dotted { border-style: dotted; }
.bs-solid {  border-style: solid; }

@media (--breakpoint-not-small) {
  .bs-none-ns {   border-style: none; }
  .bs-dotted-ns { border-style: dotted; }
  .bs-solid-ns {  border-style: solid; }
}

@media (--breakpoint-medium) {
  .bs-none-m {   border-style: none; }
  .bs-dotted-m { border-style: dotted; }
  .bs-solid-m {  border-style: solid; }
}

@media (--breakpoint-large) {
  .bs-none-l {   border-style: none; }
  .bs-dotted-l { border-style: dotted; }
  .bs-solid-l {  border-style: solid; }
}
