/*

   BORDER RADIUS
   Docs: http://tachyons.io/docs/themes/border-radius/
   Interactive examples: https://components.ai/u/system/cl7crcjia022509masfvq73ny/cl7ztbozs1650909l6rllmvpko

   Base:
     br   = border-radius

   Modifiers:
     0    = 0/none
     1    = 1st step in scale
     2    = 2nd step in scale
     3    = 3rd step in scale
     4    = 4th step in scale
     5    = 5th step in scale
     6    = 6th step in scale

   Literal values:
     -100 = 100%
     -pill = 9999px

   Media Query Extensions:
     -n = small
     -m  = medium
     -l  = large

*/

  .br0 {        border-radius: 0; }
  .br1 {        border-radius: 4px; }
  .br2 {        border-radius: 6px; }
  .br3 {        border-radius: 8px; }
  .br4 {        border-radius: 12px; }
  .br5 {        border-radius: 16px; }
  .br6 {        border-radius: 32px; }
  .br-100 {     border-radius: 100%; }
  .br-pill {    border-radius: 9999px; }

  .br--bottom {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
  }
  .br--top {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
  }
  .br--right {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
  }
  .br--left {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
  }
  .br-inherit { border-radius: inherit; }
  .br-initial { border-radius: initial; }
  .br-unset { border-radius: unset; }

@media (--breakpoint-small) {
  .br0-s {     border-radius: 0; }
  .br1-s {     border-radius: 4px; }
  .br2-s {     border-radius: 6px; }
  .br3-s {     border-radius: 8px; }
  .br4-s {     border-radius: 12px; }
  .br5-s {     border-radius: 16px; }
  .br6-s {     border-radius: 32px; }
  .br-100-s {  border-radius: 100%; }
  .br-pill-s { border-radius: 9999px; }
  .br--bottom-s {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
  }
  .br--top-s {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
  }
  .br--right-s {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
  }
  .br--left-s {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
  }
  .br-inherit-s { border-radius: inherit; }
  .br-initial-s { border-radius: initial; }
  .br-unset-s { border-radius: unset; }
}

@media (--breakpoint-medium) {
  .br0-m {     border-radius: 0; }
  .br1-m {     border-radius: 4px; }
  .br2-m {     border-radius: 6px; }
  .br3-m {     border-radius: 8px; }
  .br4-m {     border-radius: 12px; }
  .br5-m {  border-radius: 16px; }
  .br6-m {  border-radius: 32px; }
  .br-100-m {  border-radius: 100%; }
  .br-pill-m { border-radius: 9999px; }
  .br--bottom-m {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
  }
  .br--top-m {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
  }
  .br--right-m {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
  }
  .br--left-m {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
  }
  .br-inherit-m { border-radius: inherit; }
  .br-initial-m { border-radius: initial; }
  .br-unset-m { border-radius: unset; }
}

@media (--breakpoint-large) {
  .br0-l {     border-radius: 0; }
  .br1-l {     border-radius: 4px; }
  .br2-l {     border-radius: 6px; }
  .br3-l {     border-radius: 8px; }
  .br4-l {     border-radius: 12px; }
  .br5-l {     border-radius: 16px; }
  .br6-l {     border-radius: 32px; }
  .br-100-l {  border-radius: 100%; }
  .br-pill-l { border-radius: 9999px; }
  .br--bottom-l {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
  }
  .br--top-l {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
  }
  .br--right-l {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
  }
  .br--left-l {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
  }
  .br-inherit-l { border-radius: inherit; }
  .br-initial-l { border-radius: initial; }
  .br-unset-l { border-radius: unset; }
}
