/*

   BORDER WIDTHS
   Docs: http://tachyons.io/docs/themes/borders/

   Base:
     bw = border-width

   Modifiers:
     0 = 0 width border
     1 = 1st step in border-width scale
     2 = 2nd step in border-width scale
     3 = 3rd step in border-width scale
     4 = 4th step in border-width scale

   Media Query Extensions:
     -s = small
     -m = medium
     -l = large

*/

.bw0 { border-width: 0; }
.bw1 { border-width: 1px; }
.bw2 { border-width: 2px; }
.bw3 { border-width: 4px; }
.bw4 { border-width: 8px; }

/* Resets */
.bt-0 { border-top-width: 0; }
.br-0 { border-right-width: 0; }
.bb-0 { border-bottom-width: 0; }
.bl-0 { border-left-width: 0; }

@media (--breakpoint-small) {
  .bw0-s { border-width: 0; }
  .bw1-s { border-width: 1px; }
  .bw2-s { border-width: 2px; }
  .bw3-s { border-width: 4px; }
  .bw4-s { border-width: 8px; }
  .bt-0-s { border-top-width: 0; }
  .br-0-s { border-right-width: 0; }
  .bb-0-s { border-bottom-width: 0; }
  .bl-0-s { border-left-width: 0; }
}

@media (--breakpoint-medium) {
  .bw0-m { border-width: 0; }
  .bw1-m { border-width: 1px; }
  .bw2-m { border-width: 2px; }
  .bw3-m { border-width: 4px; }
  .bw4-m { border-width: 8px; }
  .bt-0-m { border-top-width: 0; }
  .br-0-m { border-right-width: 0; }
  .bb-0-m { border-bottom-width: 0; }
  .bl-0-m { border-left-width: 0; }
}

@media (--breakpoint-large) {
  .bw0-l { border-width: 0; }
  .bw1-l { border-width: 1px; }
  .bw2-l { border-width: 2px; }
  .bw3-l { border-width: 4px; }
  .bw4-l { border-width: 8px; }
  .bt-0-l { border-top-width: 0; }
  .br-0-l { border-right-width: 0; }
  .bb-0-l { border-bottom-width: 0; }
  .bl-0-l { border-left-width: 0; }
}
