/*

   BORDER COLORS

 */

.b--black {        border-color: var(--black); }
.b--near-black {   border-color: var(--near-black); }
.b--dark-gray {    border-color: var(--dark-gray); }
.b--mid-gray {     border-color: var(--mid-gray); }
.b--gray {         border-color: var(--gray); }
.b--silver {       border-color: var(--silver); }
.b--light-silver { border-color: var(--light-silver); }
.b--light-gray {   border-color: var(--light-gray); }
.b--near-white {   border-color: var(--near-white); }
.b--white {        border-color: var(--white); }

.b--white-10 {   border-color: hsla(0, 0, 100%, .1); }
.b--white-25 {   border-color: hsla(0, 0, 100%, .25); }
.b--white-50 {   border-color: hsla(0, 0, 100%, .5); }
.b--white-75 {   border-color: hsla(0, 0, 100%, .75); }
.b--black-10 {   border-color: hsla(0, 0, 0,    .1); }
.b--black-25 {   border-color: hsla(0, 0, 0,    .25); }
.b--black-50 {   border-color: hsla(0, 0, 0,    .5); }
.b--black-75 {   border-color: hsla(0, 0, 0,    .75); }


.b--blue { border-color: var(--blue); }
.b--light-blue { border-color: var(--light-blue); }
.b--lightest-blue { border-color: var(--lightest-blue); }
.b--dark-blue { border-color: var(--dark-blue); }
.b--darkest-blue { border-color: var(--darkest-blue); }
.b--yellow { border-color: var(--yellow); }
.b--light-yellow { border-color: var(--light-yellow); }
.b--lightest-yellow { border-color: var(--lightest-yellow); }
.b--dark-yellow { border-color: var(--dark-yellow); }
.b--darkest-yellow { border-color: var(--darkest-yellow); }
.b--orange { border-color: var(--orange); }
.b--light-orange { border-color: var(--light-orange); }
.b--lightest-orange { border-color: var(--lightest-orange); }
.b--dark-orange { border-color: var(--dark-orange); }
.b--darkest-orange { border-color: var(--darkest-orange); }
.b--red { border-color: var(--red); }
.b--light-red { border-color: var(--light-red); }
.b--lightest-red { border-color: var(--lightest-red); }
.b--dark-red { border-color: var(--dark-red); }
.b--darkest-red { border-color: var(--darkest-red); }
.b--teal { border-color: var(--teal); }
.b--light-teal { border-color: var(--light-teal); }
.b--lightest-teal { border-color: var(--lightest-teal); }
.b--dark-teal { border-color: var(--dark-teal); }
.b--darkest-teal { border-color: var(--darkest-teal); }
.b--green { border-color: var(--green); }
.b--light-green { border-color: var(--light-green); }
.b--lightest-green { border-color: var(--lightest-green); }
.b--dark-green { border-color: var(--dark-green); }
.b--darkest-green { border-color: var(--darkest-green); }
.b--pink { border-color: var(--pink); }
.b--light-pink { border-color: var(--light-pink); }
.b--lightest-pink { border-color: var(--lightest-pink); }
.b--dark-pink { border-color: var(--dark-pink); }
.b--darkest-pink { border-color: var(--darkest-pink); }
.b--purple { border-color: var(--purple); }
.b--light-purple { border-color: var(--light-purple); }
.b--lightest-purple { border-color: var(--lightest-purple); }
.b--dark-purple { border-color: var(--dark-purple); }
.b--darkest-purple { border-color: var(--darkest-purple); }
