/*

   BORDER RADIUS
   Docs: http://tachyons.io/docs/themes/border-radius/
   Interactive examples: https://components.ai/u/system/cl7crcjia022509masfvq73ny/cl7ztbozs1650909l6rllmvpko

   Base:
     br   = border-radius

   Modifiers:
     0    = 0/none
     1    = 1st step in scale
     2    = 2nd step in scale
     3    = 3rd step in scale
     4    = 4th step in scale
     5    = 5th step in scale
     6    = 6th step in scale

   Literal values:
     -100 = 100%
     -pill = 9999px

   Media Query Extensions:
     -n = small
     -m  = medium
     -l  = large

*/

  .br-primary  {        border-radius: var(--border-radius, 6px); }
  .br0 {        border-radius: var(--border-radius-0, 0); }
  .br1 {        border-radius: var(--border-radius-1, 4px); }
  .br2 {        border-radius: var(--border-radius-2, 6px); }
  .br3 {        border-radius: var(--border-radius-3, 8px); }
  .br4 {        border-radius: var(--border-radius-4, 12px); }
  .br5 {        border-radius: var(--border-radius-5, 16px); }
  .br6 {        border-radius: var(--border-radius-6, 20px); }
  .br7 {        border-radius: var(--border-radius-7, 24px); }
  .br8 {        border-radius: var(--border-radius-8, 32px); }
  .br9 {        border-radius: var(--border-radius-9, 48px); }
  .br10 {        border-radius: var(--border-radius-10, 64px); }
  .br11 {        border-radius: var(--border-radius-11, 9999px); }

  .br--bottom {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
  }
  .br--top {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
  }
  .br--right {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
  }
  .br--left {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
  }
  .br-inherit { border-radius: inherit; }
  .br-initial { border-radius: initial; }
  .br-unset { border-radius: unset; }

@container (min-width:30em) {
  .br-primary-s  {          border-radius: var(--border-radius, 6px); }
  .br0-s {        border-radius: var(--border-radius-0, 0); }
  .br1-s {        border-radius: var(--border-radius-1, 4px); }
  .br2-s {        border-radius: var(--border-radius-2, 6px); }
  .br3-s {        border-radius: var(--border-radius-3, 8px); }
  .br4-s {        border-radius: var(--border-radius-4, 12px); }
  .br5-s {        border-radius: var(--border-radius-5, 16px); }
  .br6-s {        border-radius: var(--border-radius-6, 20px); }
  .br7-s {        border-radius: var(--border-radius-7, 24px); }
  .br8-s {        border-radius: var(--border-radius-8, 32px); }
  .br9-s {        border-radius: var(--border-radius-9, 48px); }
  .br10-s {       border-radius: var(--border-radius-10, 64px); }
  .br11-s {    border-radius: var(--border-radius-11, 9999px); }
  .br--bottom-s {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
  }
  .br--top-s {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
  }
  .br--right-s {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
  }
  .br--left-s {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
  }
  .br-inherit-s { border-radius: inherit; }
  .br-initial-s { border-radius: initial; }
  .br-unset-s { border-radius: unset; }
}

@container (min-width:48em) {
  .br-primary-m  {        border-radius: var(--border-radius, 6px); }
  .br0-m {        border-radius: var(--border-radius-0, 0); }
  .br1-m {        border-radius: var(--border-radius-1, 4px); }
  .br2-m {        border-radius: var(--border-radius-2, 6px); }
  .br3-m {        border-radius: var(--border-radius-3, 8px); }
  .br4-m {        border-radius: var(--border-radius-4, 12px); }
  .br5-m {        border-radius: var(--border-radius-5, 16px); }
  .br6-m {        border-radius: var(--border-radius-6, 20px); }
  .br7-m {        border-radius: var(--border-radius-7, 24px); }
  .br8-m {        border-radius: var(--border-radius-8, 32px); }
  .br9-m {        border-radius: var(--border-radius-9, 48px); }
  .br10-m {       border-radius: var(--border-radius-10, 64px); }
  .br11-m {    border-radius: var(--border-radius-11, 9999px); }
  .br--bottom-m {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
  }
  .br--top-m {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
  }
  .br--right-m {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
  }
  .br--left-m {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
  }
  .br-inherit-m { border-radius: inherit; }
  .br-initial-m { border-radius: initial; }
  .br-unset-m { border-radius: unset; }
}

@container (min-width:64em) {
  .br-primary-l { border-radius: var(--border-radius, 6px); }
  .br0-l {        border-radius: var(--border-radius-0, 0); }
  .br1-l {        border-radius: var(--border-radius-1, 4px); }
  .br2-l {        border-radius: var(--border-radius-2, 6px); }
  .br3-l {        border-radius: var(--border-radius-3, 8px); }
  .br4-l {        border-radius: var(--border-radius-4, 12px); }
  .br5-l {        border-radius: var(--border-radius-5, 16px); }
  .br6-l {        border-radius: var(--border-radius-6, 20px); }
  .br7-l {        border-radius: var(--border-radius-7, 24px); }
  .br8-l {        border-radius: var(--border-radius-8, 32px); }
  .br9-l {        border-radius: var(--border-radius-9, 48px); }
  .br10-l {       border-radius: var(--border-radius-10, 64px); }
  .br11-l {       border-radius: var(--border-radius-11, 9999px); }
  .br--bottom-l {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
  }
  .br--top-l {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
  }
  .br--right-l {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
  }
  .br--left-l {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
  }
  .br-inherit-l { border-radius: inherit; }
  .br-initial-l { border-radius: initial; }
  .br-unset-l { border-radius: unset; }
}
