/*
  Box Sizing
*/

div,
article,
section,
main,
footer,
header,
form,
fieldset,
pre,
code,
p,
input[type="text"],
input[type="tel"],
input[type="email"],
input[type="url"],
input[type="password"] {
  box-sizing: border-box;
}

