/*

  BOX-SHADOW
  Docs: http://tachyons.io/docs/themes/box-shadow/

  REF
  Layered shadows: https://tobiasahlin.com/blog/layered-smooth-box-shadows/

  Media Query Extensions:
   -s = small
   -m  = medium
   -l  = large

 */

.shadow { 
  box-shadow: var(--shadow, inset 0 0 1px 0 rgb(var(--shadow-color, 0 0 0) / var(--shadow-opacity, .5))); 
}

.shadow-hover:hover,
.shadow-hover:focus { 
  --shadow-opacity: .6;
}

/* 
 * TODO: potential pattern 
  .shadow-hover:hover {
    --shadow-opacity: .09;
    --shadow-x: 1px;
    --shadow-y: 1px;
    --shadow-blur: 1px;
    --shadow-spread: 1px;
    --shadow-multiplier: 2;
  }
*/

/* Box shadow based borders */
 
.shadow-border-1 { box-shadow: inset 0 0 var(--shadow-border-width, 1px) 0 rgb(var(--shadow-color, 0 0 0) / var(--shadow-opacity, .125)); }
.shadow-border-2 { box-shadow: inset 0 0 var(--shadow-border-width, 1px) 0 rgb(var(--shadow-color, 0 0 0) / var(--shadow-opacity, .25)); }
.shadow-border-3 { box-shadow: inset 0 0 var(--shadow-border-width) 0 currentColor; }
.shadow-border-4 { box-shadow: inset 0 0 2px 0 rgb(var(--shadow-color-light, 255 255 255) / var(--shadow-opacity, .125)); }
.shadow-border-5 { box-shadow: inset 0 0 2px 0 rgb(var(--shadow-color, 0 0 0) / var(--shadow-opacity, .125))}
.shadow-border-6 { box-shadow: inset 0 0 2px 0 currentColor; }

.shadow-1 { 
  box-shadow: 
    0 1px 1px rgb(var(--shadow-color, 0 0 0) / var(--shadow-opacity, .125)), 
    0 2px 2px rgb(var(--shadow-color, 0 0 0) / var(--shadow-opacity, .125)), 
    0 4px 4px rgb(var(--shadow-color, 0 0 0) / var(--shadow-opacity, .125)), 
    0 8px 8px rgb(var(--shadow-color, 0 0 0) / var(--shadow-opacity, .125)), 
    0 16px 16px rgb(var(--shadow-color, 0 0 0) / var(--shadow-opacity, .125)); 
}

.shadow-2 {  
  box-shadow: 
    0 1px 1px rgb(var(--shadow-color, 0 0 0) / var(--shadow-opacity, .125)), 
    0 2px 2px rgb(var(--shadow-color, 0 0 0) / var(--shadow-opacity, .125)), 
    0 4px 4px rgb(var(--shadow-color, 0 0 0) / var(--shadow-opacity, .125)), 
    0 8px 8px rgb(var(--shadow-color, 0 0 0) / var(--shadow-opacity, .125)); 
}

.shadow-3 {  
  --shadow-opacity: .11;
  box-shadow: 
    0 1px 1px rgb(var(--shadow-color, 0 0 0) / var(--shadow-opacity, .11)),
    0 2px 2px rgb(var(--shadow-color, 0 0 0) / var(--shadow-opacity, .11)),
    0 4px 4px rgb(var(--shadow-color, 0 0 0) / var(--shadow-opacity, .11)),
    0 8px 8px rgb(var(--shadow-color, 0 0 0) / var(--shadow-opacity, .11)),
    0 16px 16px rgb(var(--shadow-color, 0 0 0) / var(--shadow-opacity, .11)), 
    0 32px 32px rgb(var(--shadow-color, 0 0 0) / var(--shadow-opacity, .11)); 
}

.shadow-4 {  
  --shadow-opacity: .05;
  box-shadow: 
    0 1px 1px rgb(var(--shadow-color, 0 0 0) / calc(var(--shadow-opacity, 0.25) * 5)), 
    0 2px 2px rgb(var(--shadow-color, 0 0 0) / calc(var(--shadow-opacity, 0.20) * 4)),
    0 4px 4px rgb(var(--shadow-color, 0 0 0) / calc(var(--shadow-opacity, 0.15) * 3)), 
    0 8px 8px rgb(var(--shadow-color, 0 0 0) / calc(var(--shadow-opacity, 0.10) * 2)), 
    0 16px 16px rgb(var(--shadow-color, 0 0 0) / var(--shadow-opacity, 0.05)); 
}

.shadow-5 {  
  --shadow-opacity: .08;
  box-shadow: 
    0 var(--shadow-y) 1px rgb(var(--shadow-color, 0 0 0) / calc(var(--shadow-opacity, 0.08) * 1)), 
    0 calc(var(--shadow-y) * 2) 2px rgb(var(--shadow-color, 0 0 0) / calc(var(--shadow-opacity, 0.12) * 1.5)), 
    0 calc(var(--shadow-y) * 4) 4px rgb(var(--shadow-color, 0 0 0) / calc(var(--shadow-opacity, 0.16) * 2)), 
    0 calc(var(--shadow-y) * 8) 8px rgb(var(--shadow-color, 0 0 0) / calc(var(--shadow-opacity, 0.20) * 2.5)); 
}

.shadow-6 {  
  --shadow-opacity: .07;
  box-shadow: 
    0 1px 2px rgb(var(--shadow-color, 0 0 0) / var(--shadow-opacity, 0.7)), 
    0 2px 4px rgb(var(--shadow-color, 0 0 0) / var(--shadow-opacity, 0.7)), 
    0 4px 8px rgb(var(--shadow-color, 0 0 0) / var(--shadow-opacity, 0.7)), 
    0 8px 16px rgb(var(--shadow-color, 0 0 0) / var(--shadow-opacity, 0.7)), 
    0 16px 32px rgb(var(--shadow-color, 0 0 0) / var(--shadow-opacity, 0.7)), 
    0 32px 64px rgb(var(--shadow-color, 0 0 0) / var(--shadow-opacity, 0.7)); 
}

.shadow-7 {  
  --shadow-opacity: .11;
  box-shadow: 
    0 1px 1px rgb(var(--shadow-color, 0 0 0) / var(--shadow-opacity, 0.11)), 
    0 2px 2px rgb(var(--shadow-color, 0 0 0) / var(--shadow-opacity, 0.11)), 
    0 4px 4px rgb(var(--shadow-color, 0 0 0) / var(--shadow-opacity, 0.11)), 
    0 6px 8px rgb(var(--shadow-color, 0 0 0) / var(--shadow-opacity, 0.11)), 
    0 8px 16px rgb(var(--shadow-color, 0 0 0) / var(--shadow-opacity, 0.11)); 
}

.shadow-8 {  
  --shadow-opacity: .09;
  box-shadow: 
    0 2px 1px rgb(var(--shadow-color, 0 0 0) / 0.09), 
    0 4px 2px rgb(var(--shadow-color, 0 0 0) / 0.09), 
    0 8px 4px rgb(var(--shadow-color, 0 0 0) / 0.09), 
    0 16px 8px rgb(var(--shadow-color, 0 0 0) / 0.09), 
    0 32px 16px rgb(var(--shadow-color, 0 0 0) / 0.09); 
}
