/*!!!

# COLOR VARIABLES

### Grayscale

- Solids
- Transparencies for black and white, 0-100
- Custom colors based on palx
*/

:root {
  --transparent: transparent;

  --black-90: rgba(0,0,0,.9);
  --black-70: rgba(0,0,0,.7);
  --black-40: rgba(0,0,0,.4);
  --black-20: rgba(0,0,0,.2);
  --black-10: rgba(0,0,0,.1);
  --black-05: rgba(0,0,0,.05);
  --black-025: rgba(0,0,0,.025);
  --black-0125: rgba(0,0,0,.0125);

  --white-90: rgba(255,255,255,.9);
  --white-70: rgba(255,255,255,.7);
  --white-40: rgba(255,255,255,.4);
  --white-20: rgba(255,255,255,.2);
  --white-10: rgba(255,255,255,.1);
  --white-05: rgba(255,255,255,.05);
  --white-025: rgba(255,255,255,.025);
  --white-0125: rgba(255,255,255,.0125);

  --black: #000000;
  --gray-0: #161a1d;
  --gray-1: #242c34;
  --gray-2: #364049;
  --gray-3: #4b545c;
  --gray-4: #626a71;
  --gray-5: #798086;
  --gray-6: #91969b;
  --gray-7: #a9aeb1;
  --gray-8: #c3c5c8;
  --gray-9: #dddedf;
  --gray-10: #f7f7f7;
  --white: #f7f7f7;

  --green-0: #044324;
  --green-1: #05532d;
  --green-2: #087640;
  --green-3: #098849;
  --green-4: #0b9b53;
  --green-5: #0cad5d;
  --green-6: #0ec167;
  --green-7: #0fd472;
  --green-8: #10e87c;
  --green-9: #78f5a6;
  --green-10: #c3fbdf;

  --teal-0: #003d37;
  --teal-1: #004e46;
  --teal-2: #007166;
  --teal-3: #008477;
  --teal-4: #009788;
  --teal-5: #00ab9a;
  --teal-6: #00bfac;
  --teal-7: #00d3be;
  --teal-8: #00e8d1;
  --teal-9: #00fde4;
  --teal-10: #ccfffa;

  --cyan-0: #015151;
  --cyan-1: #046064;
  --cyan-2: #0f7f8a;
  --cyan-3: #148f9f;
  --cyan-4: #19a0b3;
  --cyan-5: #1eb1c9;
  --cyan-6: #24c2de;
  --cyan-7: #29d3f4;
  --cyan-8: #64e2fd;
  --cyan-9: #9cf0fe;
  --cyan-10: #c7fefe;

  --blue-0: #002c52;
  --blue-1: #003a6c;
  --blue-2: #0057a2;
  --blue-3: #0066bf;
  --blue-4: #0076dc;
  --blue-5: #0086fb;
  --blue-6: #4d97ff;
  --blue-7: #72a9ff;
  --blue-8: #8fbbff;
  --blue-9: #a8ceff;
  --blue-10: #bfe1ff;

  --indigo-0: #2c0599;
  --indigo-1: #3706be;
  --indigo-2: #5c26ef;
  --indigo-3: #733ff1;
  --indigo-4: #8655f3;
  --indigo-5: #9769f5;
  --indigo-6: #a67df7;
  --indigo-7: #b491f9;
  --indigo-8: #c2a6fb;
  --indigo-9: #cebafc;
  --indigo-10: #dacefd;

  --purple-0: #500576;
  --purple-0: #630691;
  --purple-0: #8a09cb;
  --purple-0: #9f0ae9;
  --purple-0: #af2ef6;
  --purple-0: #bb4ef7;
  --purple-0: #c568f9;
  --purple-0: #d080fa;
  --purple-0: #d996fb;
  --purple-0: #e1acfb;
  --purple-0: #e9c2fc;

  --pink: #640233;
  --pink: #7c033f;
  --pink: #ae0459;
  --pink: #c80467;
  --pink: #e30574;
  --pink: #fb1d83;
  --pink: #fe5195;
  --pink: #ff73a7;
  --pink: #ff8fba;
  --pink: #ffa9cc;
  --pink: #fec1df;

  --red-0: #390408;
  --red-1: #520814;
  --red-2: #8a1223;
  --red-3: #a7172b;
  --red-4: #c61d33;
  --red-5: #e02e40;
  --red-6: #e95459;
  --red-7: #f17373;
  --red-8: #f68e8f;
  --red-9: #faa9ab;
  --red-10: #fbc3c8;

  --orange-0: #6f2601;
  --orange-1: #862e03;
  --orange-2: #b73f04;
  --orange-3: #d04704;
  --orange-4: #ea5003;
  --orange-5: #fe6018;
  --orange-6: #ff7e45;
  --orange-7: #ff9969;
  --orange-8: #ffb18b;
  --orange-9: #ffc7ac;
  --orange-10: #feddcd;

  --yellow-0: #806800;
  --yellow-1: #8e7300;
  --yellow-2: #aa8a00;
  --yellow-3: #b89600;
  --yellow-4: #c7a200;
  --yellow-5: #d6ae00;
  --yellow-6: #e5ba00;
  --yellow-7: #f4c700;
  --yellow-8: #ffd434;
  --yellow-9: #ffe483;
  --yellow-10: #fff3bf;
}
