/*

   COORDINATES

   Use in combination with the position module.

*/

.top-0    { top:   0; }
.left-0   { left:  0; }
.right-0  { right: 0; }
.bottom-0 { bottom: 0; }

.top-1    { top:   1rem; }
.left-1   { left:  1rem; }
.right-1  { right: 1rem; }
.bottom-1 { bottom: 1rem; }

.top-2    { top:   2rem; }
.left-2   { left:  2rem; }
.right-2  { right: 2rem; }
.bottom-2 { bottom: 2rem; }

.top-4    { top:   4rem; }
.left-4   { left:  4rem; }
.right-4  { right: 4rem; }
.bottom-4 { bottom: 4rem; }

@media (--breakpoint-not-small) {
  .top-0-ns    { top:   0; }
  .left-0-ns   { left:  0; }
  .right-0-ns  { right: 0; }
  .bottom-0-ns { bottom: 0; }
  .top-1-ns    { top:   1rem; }
  .left-1-ns   { left:  1rem; }
  .right-1-ns  { right: 1rem; }
  .bottom-1-ns { bottom: 1rem; }
  .top-2-ns    { top:   2rem; }
  .left-2-ns   { left:  2rem; }
  .right-2-ns  { right: 2rem; }
  .bottom-2-ns { bottom: 2rem; }
  .top-4-ns    { top:   4rem; }
  .left-4-ns   { left:  4rem; }
  .right-4-ns  { right: 4rem; }
  .bottom-4-ns { bottom: 4rem; }
}

@media (--breakpoint-medium) {
  .top-0-m    { top:   0; }
  .left-0-m   { left:  0; }
  .right-0-m  { right: 0; }
  .bottom-0-m { bottom: 0; }
  .top-1-m    { top:   1rem; }
  .left-1-m   { left:  1rem; }
  .right-1-m  { right: 1rem; }
  .bottom-1-m { bottom: 1rem; }
  .top-2-m    { top:   2rem; }
  .left-2-m   { left:  2rem; }
  .right-2-m  { right: 2rem; }
  .bottom-2-m { bottom: 2rem; }
  .top-4-m    { top:   4rem; }
  .left-4-m   { left:  4rem; }
  .right-4-m  { right: 4rem; }
  .bottom-4-m { bottom: 4rem; }
}

@media (--breakpoint-large) {
  .top-0-l    { top:   0; }
  .left-0-l   { left:  0; }
  .right-0-l  { right: 0; }
  .bottom-0-l { bottom: 0; }
  .top-1-l    { top:   1rem; }
  .left-1-l   { left:  1rem; }
  .right-1-l  { right: 1rem; }
  .bottom-1-l { bottom: 1rem; }
  .top-2-l    { top:   2rem; }
  .left-2-l   { left:  2rem; }
  .right-2-l  { right: 2rem; }
  .bottom-2-l { bottom: 2rem; }
  .top-4-l    { top:   4rem; }
  .left-4-l   { left:  4rem; }
  .right-4-l  { right: 4rem; }
  .bottom-4-l { bottom: 4rem; }
}
