/* 
 
  DEBUG (PESTICIDE)
  Docs: http://tachyons.io/docs/debug/

  This is a partial you have to manually include in your
  build file. It places a different colored outline on 
  each element which can help you debug layout issues.
  There is also a handy chrome extension that can 
  be found at http://pesticide.io

*/

body {        outline: 1px solid  var(--blue-0)!important; }
article {     outline: 1px solid  var(--blue-1)!important; }
nav {         outline: 1px solid  var(--blue-2)!important; }
aside {       outline: 1px solid  var(--blue-3)!important; }
section {     outline: 1px solid  var(--blue-4)!important; }
header {      outline: 1px solid  var(--blue-5)!important; }
footer {      outline: 1px solid  var(--blue-6)!important; }
h1 {          outline: 1px solid  var(--blue-7)!important; }
h2 {          outline: 1px solid  var(--blue-8)!important; }
h3 {          outline: 1px solid  var(--blue-9)!important; }
h4 {          outline: 1px solid  var(--blue-10)!important; }
h5 {          outline: 1px solid  var(--blue-11)!important; }
h6 {          outline: 1px solid  var(--indigo-0)!important; }
main {        outline: 1px solid  var(--indigo-1)!important; }
address {     outline: 1px solid  var(--indigo-2)!important; }
div {         outline: 1px solid  var(--indigo-3)!important; }


p {           outline: 1px solid  var(--red-0)!important; }
hr {          outline: 1px solid  var(--red-1)!important; }
pre {         outline: 1px solid  var(--red-2)!important; }
blockquote {  outline: 1px solid  var(--red-3)!important; }
ol {          outline: 1px solid  var(--red-4)!important; }
ul {          outline: 1px solid  var(--red-5)!important; }
li {          outline: 1px solid  var(--red-6)!important; }
dl {          outline: 1px solid  var(--red-7)!important; }
dt {          outline: 1px solid  var(--red-8)!important; }
dd {          outline: 1px solid  var(--red-9)!important; }
figure {      outline: 1px solid  var(--red-10)!important; }
figcaption {  outline: 1px solid  var(--red-11)!important; }



table {       outline: 1px solid  var(--teal-2)!important; }
caption {     outline: 1px solid  var(--teal-3)!important; }
thead {       outline: 1px solid  var(--teal-4)!important; }
tbody {       outline: 1px solid  var(--teal-5)!important; }
tfoot {       outline: 1px solid  var(--teal-6)!important; }
tr {          outline: 1px solid  var(--teal-7)!important; }
th {          outline: 1px solid  var(--teal-8)!important; }
td {          outline: 1px solid  var(--teal-9)!important; }
col {         outline: 1px solid  var(--teal-10)!important; }
colgroup {    outline: 1px solid  var(--teal-11)!important; }


button {      outline: 1px solid  var(--magenta-0)!important; }
datalist {    outline: 1px solid  var(--magenta-1)!important; }
fieldset {    outline: 1px solid  var(--magenta-2)!important; }
form {        outline: 1px solid  var(--magenta-3)!important; }
input {       outline: 1px solid  var(--magenta-4)!important; }
keygen {      outline: 1px solid  var(--magenta-5)!important; }
label {       outline: 1px solid  var(--magenta-6)!important; }
legend {      outline: 1px solid  var(--magenta-7)!important; }
meter {       outline: 1px solid  var(--magenta-8)!important; }
optgroup {    outline: 1px solid  var(--magenta-9)!important; }
option {      outline: 1px solid  var(--magenta-10)!important; }
output {      outline: 1px solid  var(--magenta-11)!important; }
progress {    outline: 1px solid  var(--violet-0)!important; }
select {      outline: 1px solid  var(--violet-1)!important; }
textarea {    outline: 1px solid  var(--violet-2)!important; }



details {     outline: 1px solid  var(--cyan-0)!important; }
summary {     outline: 1px solid  var(--cyan-1)!important; }
command {     outline: 1px solid  var(--cyan-2)!important; }
menu {        outline: 1px solid  var(--cyan-3)!important; }



del {         outline: 1px solid  var(--red-5)!important; }
ins {         outline: 1px solid  var(--green-5)!important; }



img     {     outline: 1px solid var(--green-0)!important; }
iframe  {     outline: 1px solid var(--green-1)!important; }
embed   {     outline: 1px solid var(--green-2)!important; }
object  {     outline: 1px solid var(--green-3)!important; }
param   {     outline: 1px solid var(--green-4)!important; }
video   {     outline: 1px solid var(--green-6)!important; }
audio   {     outline: 1px solid var(--green-7)!important; }
source  {     outline: 1px solid var(--green-8)!important; }
canvas  {     outline: 1px solid var(--green-9)!important; }
track   {     outline: 1px solid var(--green-10)!important; }
map     {     outline: 1px solid var(--green-11)!important; }
area    {     outline: 1px solid var(--cyan-5)!important; }



a {           outline: 1px solid var(--violet-0)!important; }
em {          outline: 1px solid var(--violet-1)!important; }
strong {      outline: 1px solid var(--violet-2)!important; }
i {           outline: 1px solid var(--violet-3)!important; }
b {           outline: 1px solid var(--violet-4)!important; }
u {           outline: 1px solid var(--violet-5)!important; }
s {           outline: 1px solid var(--violet-6)!important; }
small {       outline: 1px solid var(--violet-7)!important; }
abbr {        outline: 1px solid var(--violet-8)!important; }
q {           outline: 1px solid var(--violet-9)!important; }
cite {        outline: 1px solid var(--violet-10)!important; }
dfn {         outline: 1px solid var(--violet-11)!important; }
sub {         outline: 1px solid var(--red-orange-0)!important; }
sup {         outline: 1px solid var(--red-orange-1)!important; }
time {        outline: 1px solid var(--red-orange-2)!important; }
code {        outline: 1px solid var(--red-orange-3)!important; }
kbd {         outline: 1px solid var(--red-orange-4)!important; }
samp {        outline: 1px solid var(--red-orange-5)!important; }
var {         outline: 1px solid var(--red-orange-6)!important; }
mark {        outline: 1px solid var(--red-orange-7)!important; }
bdi {         outline: 1px solid var(--red-orange-8)!important; }
bdo {         outline: 1px solid var(--red-orange-9)!important; }
ruby {        outline: 1px solid var(--red-orange-10)!important; }
ruby {        outline: 1px solid var(--red-orange-11)!important; }
rt {          outline: 1px solid var(--yellow-6)!important; }
rp {          outline: 1px solid var(--yellow-7)!important; }
span {        outline: 1px solid var(--yellow-8)!important; }
br {          outline: 1px solid var(--yellow-9)!important; }
wbr {         outline: 1px solid var(--yellow-10)!important; }

