/*

  # DEBUG CHILDREN

  Add the debug class to any element to see outlines on its
  children.

  ### Docs

  http://tachyons.io/docs/debug/
*/

.debug * { outline: 1px solid gold; }
.debug-white * { outline: 1px solid white; }
.debug-black * { outline: 1px solid black; }
