/*

   DEBUG GRID
   http://tachyons.io/docs/debug-grid/

   Can be useful for debugging layout issues
   or helping to make sure things line up perfectly.
   Just tack one of these classes onto a parent element.

*/

.debug-grid-8 {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAIAQMAAAD+wSzIAAAABlBMVEUAAAAA7/9Rg7lhAAAAAnRSTlMATX7+8BUAAAAMSURBVAjXY2BEgf8BAU4BBxOyn34AAAAASUVORK5CYII=) repeat top left;
}

.debug-grid-16 {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAgMAAABinRfyAAAADFBMVEUAAAAA7/8A7/8A7/99Shw6AAAABHRSTlMAQ0g+OI6NpQAAABtJREFUCNdjAAJmEMEIIpjALJIJJghxNTQ0EgAI+AHtmvdinwAAAABJRU5ErkJggg==) repeat top left;
}

.debug-grid-transparent {
  background-color: transparent;
}

.debug-grid-solid {
  background-color: white;
}