/*

   DISPLAY
   Docs: http://tachyons.io/docs/layout/display

   Base:
    d = display

   Modifiers:
    n     = none
    b     = block
    ib    = inline-block
    if    = inline-flex
    ig    = inline-grid
    f    = flex
    g    = grid

   Media Query Extensions:
     -s = small
     -m  = medium
     -l  = large

*/

.dn {                display: none; }
.di {                display: inline; }
.db {                display: block; }
.dib {               display: inline-block; }
.df, .flex {         display: flex; }
.dif, .inline-flex { display: inline-flex; }
.dg,
.grid {
  display: grid;
}

.dig,
.inline-grid {
  display: inline-grid;
}

@container (min-width:30em) {
  .dn-s {                display: none; }
  .di-s {                display: inline; }
  .db-s {                display: block; }
  .dib-s {               display: inline-block; }
  .df-s, .flex-s {         display: flex; }
  .dif-s, .inline-flex-s { display: inline-flex; }
  .dg-s,
  .grid-s {
    display: grid;
  }

  .dig-s,
  .inline-grid-s {
    display: inline-grid;
  }
}

@container (min-width:48em) {

  .dn-m {                display: none; }
  .di-m {                display: inline; }
  .db-m {                display: block; }
  .dib-m {               display: inline-block; }
  .df-m, .flex-m {         display: flex; }
  .dif-m, .inline-flex-m { display: inline-flex; }
  .dg-m,
  .grid-m {
    display: grid;
  }

  .dig-m,
  .inline-grid-m {
    display: inline-grid;
  }
}

@container (min-width:64em) {
  .dn-l {                display: none; }
  .di-l {                display: inline; }
  .db-l {                display: block; }
  .dib-l {               display: inline-block; }
  .df-l, .flex-l {         display: flex; }
  .dif-l, .inline-flex-l { display: inline-flex; }
  .dg-l,
  .grid-l {
    display: grid;
  }

  .dig-l,
  .inline-grid-l {
    display: inline-grid;
  }
}

