/*!!!

  # FLOATS

  Floated elements are automatically rendered as block level elements.
  Setting floats to display inline will fix the double margin bug in
  ie6. You know... just in case.

  Don't forget to clearfix your floats with `.cf`

  ### Docs

  http://tachyons.io/docs/layout/floats/

  ### Base

  `f` = float

  ### Modifiers

  - l = left
  - r = right
  - n = none

  ### Media Query Extensions

  - `-m` = medium
  - `-l` = large
*/



.fl { float: left;  _display: inline; }
.fr { float: right; _display: inline; }
.fn { float: none; }

@media (--breakpoint-medium) {
  .fl-m { float: left; _display: inline; }
  .fr-m { float: right; _display: inline; }
  .fn-m { float: none; }
}

@media (--breakpoint-large) {
  .fl-l { float: left; _display: inline; }
  .fr-l { float: right; _display: inline; }
  .fn-l { float: none; }
}
