
/* Media Query Variables */

@custom-media --breakpoint-not-small screen and (min-width: 48em);
@custom-media --breakpoint-medium screen and (min-width: 48em) and (max-width: 64em);
@custom-media --breakpoint-large screen and (min-width: 64em);

/*

   FLOATS

   1. Floated elements are automatically rendered as block level elements.
      Setting floats to display inline will fix the double margin bug in
      ie6. You know... just in case.

   2. Don't forget to clearfix your floats with .cf

   Base:
     f = float

   Modifiers:
     l = left
     r = right
     n = none

   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large

*/



.fl { float: left;  display: inline; }
.fr { float: right; display: inline; }
.fn { float: none; }

@media (--breakpoint-not-small) {
  .fl-ns { float: left; display: inline; }
  .fr-ns { float: right;display: inline; }
  .fn-ns { float: none!important; }
}

@media (--breakpoint-medium) {
  .fl-m { float: left; display: inline; }
  .fr-m { float: right;  display: inline; }
  .fn-m { float: none; }
}

@media (--breakpoint-large) {
  .fl-l { float: left; display: inline; }
  .fr-l { float: right;  display: inline; }
  .fn-l { float: none; }
}
