/* 

   FONT FAMILY GROUPS
   Docs: http://tachyons.io/docs/typography/font-family/

*/

.f-heading { font-family: var(--font-family-heading); }
.f-body { font-family: var(--font-family-body); }
.f-mono { font-family: var(--font-family-mono); }
