/* 

   FONT FAMILY GROUPS
   Docs: http://tachyons.io/docs/typography/font-family/

*/

.f-heading { font-family: var(--font-family-heading, sans-serif); }
.f-body { font-family: var(--font-family-body, sans-serif); }
.f-mono { font-family: var(--font-family-mono, monospace); }
