/*

   FONTS
   Buoy fonts

*/
@font-face {
  font-family: 'SlatePro-Medium';
  src: url('/static/fonts/3013B9_2_0.woff2') format('woff2'), url('/static/fonts/3013B9_2_0.woff') format('woff');
}

@font-face {
  font-family: 'SlatePro-Light';
  src: url('/static/fonts/3013B9_3_0.woff2') format('woff2'), url('/static/fonts/3013B9_3_0.woff') format('woff');
}