/*

   FONT FAMILY GROUPS

*/

.sans-serif {
  font-family: 'avenir next', avenir,
                helvetica, 'helvetica neue',
                arial,
                sans-serif;
}

.serif {
  font-family: times, TimesNewRoman, "Times New Roman",
               georgia,
               serif;
}

/* From http://cssfontstack.com */

code, .code {
  font-family: Consolas,
               monaco,
               monospace;
}

.helvetica {
  font-family:  helvetica, 'helvetica neue',
                arial,
                sans-serif;
}

.bodoni {
  font-family: "Bodoni MT",
                Didot,
               "Didot LT STD",
               "Hoefler Text",
                Garamond,
                Times,
               "Times New Roman",
                serif;
}

.calisto {
  font-family: "Calisto MT",
               "Bookman Old Style", Bookman,
               "Goudy Old Style",
                Garamond,
               "Hoefler Text",
               "Bitstream Charter",
                Georgia,
                serif;
}

.garamond {
  font-family: Garamond,
               Baskerville, "Baskerville Old Face",
              "Hoefler Text",
              "Times New Roman",
               serif;
}

.times {
  font-family: Times, TimesNewRoman, "Times New Roman",
               Baskerville,
               Georgia,
               serif;
}
