/*

   FORMS

*/

.input-text {
  outline: 0;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.input-text:focus,
.input-text:hover {
  outline: 0;
}

.input-invisible {
  outline: 0;
  border: 0;
}

