/*!!!

  # FORMS

  ### Docs

  http://tachyons.io/docs/elements/forms/
*/

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
}

.button-reset::-moz-focus-inner,
.input-reset::-moz-focus-inner {
  border: 0;
  padding: 0;
}
