/*

   GRADIENTS


*/

.gradient-blue { 
  background-image: linear-gradient(#4570B0, #0081C2);
}

.gradient-blue-reversed { 
  background-image: linear-gradient(#0081C2, #4570B0);
}

.gradient-light-blue { 
  background-image: linear-gradient(#76D3FE, #008AE0);
}

.gradient-light-blue-reversed { 
  background-image: linear-gradient(#008AE0, #76D3FE);
}
