/*

  GRID

  Media Query Extensions:
   -ns = not-small
   -m  = medium
   -l  = large

*/

.grid { display: grid; }

.grid-self-start    { align-self: start; }
.grid-self-end      { align-self: end; }
.grid-self-center   { align-self: center; }


