/*

  Grid

  Media Query Extensions:
   -s = small
   -m  = medium
   -l  = large

*/

.flow-row { grid-auto-flow: row; }
.flow-column { grid-auto-flow: column; }
.flow-dense { grid-auto-flow: dense; }


@media (--breakpoint-small) {
}
@media (--breakpoint-medium) {
}

@media (--breakpoint-large) {
}
