@custom-media --breakpoint-not-small screen and (min-width: 48em);
@custom-media --breakpoint-medium screen and (min-width: 48em) and (max-width: 64em);
@custom-media --breakpoint-large screen and (min-width: 64em);

/*

   HEIGHTS

*/

/* Height Scale */

.h1 {  height: 1rem; }
.h2 {  height: 2rem; }
.h3 {  height: 4rem; }
.h4 {  height: 8rem; }
.h5 {  height: 16rem; }

/* Height Percentages */

.h-25 { height:  25%; }
.h-50 { height:  50%; }
.h-75 { height:  75%; }
.h-100 { height: 100%; }

/* String Properties */

.h-at { height: auto; }
.h-i {  height: inherit; }

@media (--breakpoint-not-small) {
  .h1-ns {  height: 1rem; }
  .h2-ns {  height: 2rem; }
  .h3-ns {  height: 4rem; }
  .h4-ns {  height: 8rem; }
  .h5-ns {  height: 16rem; }
  .h-25-ns  { height: 25%; }
  .h-50-ns  { height: 50%; }
  .h-75-ns  { height: 75%; }
  .h-100-ns { height: 100%; }
  .h-at-ns { height: auto; }
  .h-i-ns {  height: inherit; }
}

@media (--breakpoint-medium) {
  .h1-m {      height: 1rem; }
  .h2-m {      height: 2rem; }
  .h3-m {      height: 4rem; }
  .h4-m {      height: 8rem; }
  .h5-m {      height: 16rem; }
  .h-25-m  { height: 25%; }
  .h-50-m  { height: 50%; }
  .h-75-m  { height: 75%; }
  .h-100-m { height: 100%; }
  .h-at-m {    height: auto; }
  .h-i-m {     height: inherit; }
}

@media (--breakpoint-large) {
  .h1-l {      height: 1rem; }
  .h2-l {      height: 2rem; }
  .h3-l {      height: 4rem; }
  .h4-l {      height: 8rem; }
  .h5-l {      height: 16rem; }
  .h-25-l  { height: 25%; }
  .h-50-l  { height: 50%; }
  .h-75-l  { height: 75%; }
  .h-100-l { height: 100%; }
  .h-at-l {    height: auto; }
  .h-i-l {     height: inherit; }
}
