/*

  JUSTIFY-CONTENT

  Media Query Extensions:
   -s = small
   -m  = medium
   -l  = large

  MDN: https://developer.mozilla.org/en-US/docs/Web/CSS/justify-content

*/

.justify-start   { justify-content: flex-start; }
.justify-end     { justify-content: flex-end; }
.justify-center  { justify-content: center; }
.justify-between { justify-content: space-between; }
.justify-around  { justify-content: space-around; }

@container (min-width:30em) {
  .justify-start-s { justify-content: flex-start; }
  .justify-end-s { justify-content: flex-end; }
  .justify-center-s { justify-content: center; }
  .justify-between-s { justify-content: space-between; }
  .justify-around-s { justify-content: space-around; }
}
@container (min-width:48em) {
  .justify-start-m { justify-content: flex-start; }
  .justify-end-m { justify-content: flex-end; }
  .justify-center-m { justify-content: center; }
  .justify-between-m { justify-content: space-between; }
  .justify-around-m { justify-content: space-around; }

}
@container (min-width:64em) {
  .justify-start-l { justify-content: flex-start; }
  .justify-end-l { justify-content: flex-end; }
  .justify-center-l { justify-content: center; }
  .justify-between-l { justify-content: space-between; }
  .justify-around-l { justify-content: space-around; }
}
