/*

   LETTER SPACING
   Docs: http://tachyons.io/docs/typography/tracking/

   Media Query Extensions:
     -s = small
     -m  = medium
     -l  = large

*/

.tracked       { letter-spacing:  var(--letter-spacing-tracked, .1em); }
.tracked-tight { letter-spacing: var(--letter-spacing-tight, -0.05em); }
.tracked-mega  { letter-spacing:  var(--letter-spacing-large, .25em); }

@container (min-width:30em) {
  .tracked-s       { letter-spacing:  var(--letter-spacing-tracked, .1em); }
  .tracked-tight-s { letter-spacing: var(--letter-spacing-tight, -0.05em); }
  .tracked-mega-s  { letter-spacing:  var(--letter-spacing-large, .25em); }
}

@container (min-width:48em) {
  .tracked-m       { letter-spacing:  var(--letter-spacing-tracked, .1em); }
  .tracked-tight-m { letter-spacing: var(--letter-spacing-tight, -0.05em); }
  .tracked-mega-m  { letter-spacing:  var(--letter-spacing-large, .25em); }
}

@container (min-width:64em) {
  .tracked-l       { letter-spacing:  var(--letter-spacing-tracked, .1em); }
  .tracked-tight-l { letter-spacing: var(--letter-spacing-tight, -0.05em); }
  .tracked-mega-l  { letter-spacing:  var(--letter-spacing-large, .25em); }
}
