/*

   LINKS
   Docs: http://tachyons.io/docs/elements/links/

*/
@import './_colors.css';

a {
  text-decoration: none;
  color: var(--blue);;
}

.link {
  text-decoration: none;
  transition: color .15s ease-in;
}

.link:link,
.link:visited {
  transition: color .15s ease-in;
}


.link:hover   {
  transition: color .15s ease-in;
}

.link:active  {
  transition: color .15s ease-in;
}

.link:focus   {
  transition: color .15s ease-in;
  outline: 1px dotted currentColor;
}

