/*

  CUSTOM MEDIA QUERIES

  Media query values can be changed to fit your own content.
  There are no magic bullets when it comes to media query width values.
  They should be declared in em units - and they should be set to meet
  the needs of your content. You can also add additional media queries,
  or remove some of the existing ones.

  These media queries can be referenced like so:

  @container (min-width:30em) {
    .example-s {
      background-color: red;
    }
  }

  @container (min-width:48em) {
    .example-m {
      background-color: red;
    }
  }

  @container (min-width:64em) {
    .example-l {
      background-color: red;
    }
  }

*/

/* Media Queries */
@custom-media min-width:30em screen and (min-width: 30em);
@custom-media min-width:48em screen and (min-width: 48em);
@custom-media min-width:64em screen and (min-width: 60em);
