/*
   NEGATIVE MARGINS

   Base:
     n = negative

   Modifiers:
     a = all
     t = top
     r = right
     b = bottom
     l = left

     1 = 1st step in spacing scale
     2 = 2nd step in spacing scale
     3 = 3rd step in spacing scale
     4 = 4th step in spacing scale
     5 = 5th step in spacing scale
     6 = 6th step in spacing scale
     7 = 7th step in spacing scale

   Media Query Extensions:
     -s = small
     -m  = medium
     -l  = large

*/



.na1 { margin: calc(-1 * var(--spacing-1)); }
.na2 { margin: calc(-1 * var(--spacing-2)); }
.na3 { margin: calc(-1 * var(--spacing-3)); }
.na4 { margin: calc(-1 * var(--spacing-4)); }
.na5 { margin: calc(-1 * var(--spacing-5)); }
.na6 { margin: calc(-1 * var(--spacing-6)); }
.na7 { margin: calc(-1 * var(--spacing-7)); }

.nl1 { margin-left: calc(-1 * var(--spacing-1)); }
.nl2 { margin-left: calc(-1 * var(--spacing-2)); }
.nl3 { margin-left: calc(-1 * var(--spacing-3)); }
.nl4 { margin-left: calc(-1 * var(--spacing-4)); }
.nl5 { margin-left: calc(-1 * var(--spacing-5)); }
.nl6 { margin-left: calc(-1 * var(--spacing-6)); }
.nl7 { margin-left: calc(-1 * var(--spacing-7)); }

.nr1 { margin-right: calc(-1 * var(--spacing-1)); }
.nr2 { margin-right: calc(-1 * var(--spacing-2)); }
.nr3 { margin-right: calc(-1 * var(--spacing-3)); }
.nr4 { margin-right: calc(-1 * var(--spacing-4)); }
.nr5 { margin-right: calc(-1 * var(--spacing-5)); }
.nr6 { margin-right: calc(-1 * var(--spacing-6)); }
.nr7 { margin-right: calc(-1 * var(--spacing-7)); }

.nb1 { margin-bottom: calc(-1 * var(--spacing-1)); }
.nb2 { margin-bottom: calc(-1 * var(--spacing-2)); }
.nb3 { margin-bottom: calc(-1 * var(--spacing-3)); }
.nb4 { margin-bottom: calc(-1 * var(--spacing-4)); }
.nb5 { margin-bottom: calc(-1 * var(--spacing-5)); }
.nb6 { margin-bottom: calc(-1 * var(--spacing-6)); }
.nb7 { margin-bottom: calc(-1 * var(--spacing-7)); }

.nt1 { margin-top: calc(-1 * var(--spacing-1)); }
.nt2 { margin-top: calc(-1 * var(--spacing-2)); }
.nt3 { margin-top: calc(-1 * var(--spacing-3)); }
.nt4 { margin-top: calc(-1 * var(--spacing-4)); }
.nt5 { margin-top: calc(-1 * var(--spacing-5)); }
.nt6 { margin-top: calc(-1 * var(--spacing-6)); }
.nt7 { margin-top: calc(-1 * var(--spacing-7)); }

@container (--breakpoint-2) {

  .na1-s { margin: calc(-1 * var(--spacing-1)); }
  .na2-s { margin: calc(-1 * var(--spacing-2)); }
  .na3-s { margin: calc(-1 * var(--spacing-3)); }
  .na4-s { margin: calc(-1 * var(--spacing-4)); }
  .na5-s { margin: calc(-1 * var(--spacing-5)); }
  .na6-s { margin: calc(-1 * var(--spacing-6)); }
  .na7-s { margin: calc(-1 * var(--spacing-7)); }

  .nl1-s { margin-left: calc(-1 * var(--spacing-1)); }
  .nl2-s { margin-left: calc(-1 * var(--spacing-2)); }
  .nl3-s { margin-left: calc(-1 * var(--spacing-3)); }
  .nl4-s { margin-left: calc(-1 * var(--spacing-4)); }
  .nl5-s { margin-left: calc(-1 * var(--spacing-5)); }
  .nl6-s { margin-left: calc(-1 * var(--spacing-6)); }
  .nl7-s { margin-left: calc(-1 * var(--spacing-7)); }

  .nr1-s { margin-right: calc(-1 * var(--spacing-1)); }
  .nr2-s { margin-right: calc(-1 * var(--spacing-2)); }
  .nr3-s { margin-right: calc(-1 * var(--spacing-3)); }
  .nr4-s { margin-right: calc(-1 * var(--spacing-4)); }
  .nr5-s { margin-right: calc(-1 * var(--spacing-5)); }
  .nr6-s { margin-right: calc(-1 * var(--spacing-6)); }
  .nr7-s { margin-right: calc(-1 * var(--spacing-7)); }

  .nb1-s { margin-bottom: calc(-1 * var(--spacing-1)); }
  .nb2-s { margin-bottom: calc(-1 * var(--spacing-2)); }
  .nb3-s { margin-bottom: calc(-1 * var(--spacing-3)); }
  .nb4-s { margin-bottom: calc(-1 * var(--spacing-4)); }
  .nb5-s { margin-bottom: calc(-1 * var(--spacing-5)); }
  .nb6-s { margin-bottom: calc(-1 * var(--spacing-6)); }
  .nb7-s { margin-bottom: calc(-1 * var(--spacing-7)); }

  .nt1-s { margin-top: calc(-1 * var(--spacing-1)); }
  .nt2-s { margin-top: calc(-1 * var(--spacing-2)); }
  .nt3-s { margin-top: calc(-1 * var(--spacing-3)); }
  .nt4-s { margin-top: calc(-1 * var(--spacing-4)); }
  .nt5-s { margin-top: calc(-1 * var(--spacing-5)); }
  .nt6-s { margin-top: calc(-1 * var(--spacing-6)); }
  .nt7-s { margin-top: calc(-1 * var(--spacing-7)); }

}

@container (--breakpoint-3) {
  .na1-m { margin: calc(-1 * var(--spacing-1)); }
  .na2-m { margin: calc(-1 * var(--spacing-2)); }
  .na3-m { margin: calc(-1 * var(--spacing-3)); }
  .na4-m { margin: calc(-1 * var(--spacing-4)); }
  .na5-m { margin: calc(-1 * var(--spacing-5)); }
  .na6-m { margin: calc(-1 * var(--spacing-6)); }
  .na7-m { margin: calc(-1 * var(--spacing-7)); }

  .nl1-m { margin-left: calc(-1 * var(--spacing-1)); }
  .nl2-m { margin-left: calc(-1 * var(--spacing-2)); }
  .nl3-m { margin-left: calc(-1 * var(--spacing-3)); }
  .nl4-m { margin-left: calc(-1 * var(--spacing-4)); }
  .nl5-m { margin-left: calc(-1 * var(--spacing-5)); }
  .nl6-m { margin-left: calc(-1 * var(--spacing-6)); }
  .nl7-m { margin-left: calc(-1 * var(--spacing-7)); }

  .nr1-m { margin-right: calc(-1 * var(--spacing-1)); }
  .nr2-m { margin-right: calc(-1 * var(--spacing-2)); }
  .nr3-m { margin-right: calc(-1 * var(--spacing-3)); }
  .nr4-m { margin-right: calc(-1 * var(--spacing-4)); }
  .nr5-m { margin-right: calc(-1 * var(--spacing-5)); }
  .nr6-m { margin-right: calc(-1 * var(--spacing-6)); }
  .nr7-m { margin-right: calc(-1 * var(--spacing-7)); }

  .nb1-m { margin-bottom: calc(-1 * var(--spacing-1)); }
  .nb2-m { margin-bottom: calc(-1 * var(--spacing-2)); }
  .nb3-m { margin-bottom: calc(-1 * var(--spacing-3)); }
  .nb4-m { margin-bottom: calc(-1 * var(--spacing-4)); }
  .nb5-m { margin-bottom: calc(-1 * var(--spacing-5)); }
  .nb6-m { margin-bottom: calc(-1 * var(--spacing-6)); }
  .nb7-m { margin-bottom: calc(-1 * var(--spacing-7)); }

  .nt1-m { margin-top: calc(-1 * var(--spacing-1)); }
  .nt2-m { margin-top: calc(-1 * var(--spacing-2)); }
  .nt3-m { margin-top: calc(-1 * var(--spacing-3)); }
  .nt4-m { margin-top: calc(-1 * var(--spacing-4)); }
  .nt5-m { margin-top: calc(-1 * var(--spacing-5)); }
  .nt6-m { margin-top: calc(-1 * var(--spacing-6)); }
  .nt7-m { margin-top: calc(-1 * var(--spacing-7)); }

}

@container (min-width:64em) {
  .na1-l { margin: calc(-1 * var(--spacing-1)); }
  .na2-l { margin: calc(-1 * var(--spacing-2)); }
  .na3-l { margin: calc(-1 * var(--spacing-3)); }
  .na4-l { margin: calc(-1 * var(--spacing-4)); }
  .na5-l { margin: calc(-1 * var(--spacing-5)); }
  .na6-l { margin: calc(-1 * var(--spacing-6)); }
  .na7-l { margin: calc(-1 * var(--spacing-7)); }

  .nl1-l { margin-left: calc(-1 * var(--spacing-1)); }
  .nl2-l { margin-left: calc(-1 * var(--spacing-2)); }
  .nl3-l { margin-left: calc(-1 * var(--spacing-3)); }
  .nl4-l { margin-left: calc(-1 * var(--spacing-4)); }
  .nl5-l { margin-left: calc(-1 * var(--spacing-5)); }
  .nl6-l { margin-left: calc(-1 * var(--spacing-6)); }
  .nl7-l { margin-left: calc(-1 * var(--spacing-7)); }

  .nr1-l { margin-right: calc(-1 * var(--spacing-1)); }
  .nr2-l { margin-right: calc(-1 * var(--spacing-2)); }
  .nr3-l { margin-right: calc(-1 * var(--spacing-3)); }
  .nr4-l { margin-right: calc(-1 * var(--spacing-4)); }
  .nr5-l { margin-right: calc(-1 * var(--spacing-5)); }
  .nr6-l { margin-right: calc(-1 * var(--spacing-6)); }
  .nr7-l { margin-right: calc(-1 * var(--spacing-7)); }

  .nb1-l { margin-bottom: calc(-1 * var(--spacing-1)); }
  .nb2-l { margin-bottom: calc(-1 * var(--spacing-2)); }
  .nb3-l { margin-bottom: calc(-1 * var(--spacing-3)); }
  .nb4-l { margin-bottom: calc(-1 * var(--spacing-4)); }
  .nb5-l { margin-bottom: calc(-1 * var(--spacing-5)); }
  .nb6-l { margin-bottom: calc(-1 * var(--spacing-6)); }
  .nb7-l { margin-bottom: calc(-1 * var(--spacing-7)); }

  .nt1-l { margin-top: calc(-1 * var(--spacing-1)); }
  .nt2-l { margin-top: calc(-1 * var(--spacing-2)); }
  .nt3-l { margin-top: calc(-1 * var(--spacing-3)); }
  .nt4-l { margin-top: calc(-1 * var(--spacing-4)); }
  .nt5-l { margin-top: calc(-1 * var(--spacing-5)); }
  .nt6-l { margin-top: calc(-1 * var(--spacing-6)); }
  .nt7-l { margin-top: calc(-1 * var(--spacing-7)); }
}

