/*

  OBJECT FIT

  Base
    object = object-fit

*/

.object-contain { object-fit: contain; }

.object-cover { object-fit: cover; }

.object-fill { object-fit: fill; }

.object-none { object-fit: none; }

.object-scale-down { object-fit: scale-down; }
