/*

  ORDER

  Media Query Extensions:
   -s = small
   -m  = medium
   -l  = large

*/

.order-0 { order: 0; }
.order-1 { order: 1; }
.order-2 { order: 2; }
.order-3 { order: 3; }
.order-4 { order: 4; }
.order-5 { order: 5; }
.order-6 { order: 6; }
.order-7 { order: 7; }
.order-8 { order: 8; }
.order-last { order: 99999; }

@container (min-width:30em) {
  .order-0-s { order: 0; }
  .order-1-s { order: 1; }
  .order-2-s { order: 2; }
  .order-3-s { order: 3; }
  .order-4-s { order: 4; }
  .order-5-s { order: 5; }
  .order-6-s { order: 6; }
  .order-7-s { order: 7; }
  .order-8-s { order: 8; }
  .order-last-s { order: 99999; }
}
@container (min-width:48em) {
  .order-0-m { order: 0; }
  .order-1-m { order: 1; }
  .order-2-m { order: 2; }
  .order-3-m { order: 3; }
  .order-4-m { order: 4; }
  .order-5-m { order: 5; }
  .order-6-m { order: 6; }
  .order-7-m { order: 7; }
  .order-8-m { order: 8; }
  .order-last-m { order: 99999; }

}

@container (min-width:64em) {
  .order-0-l { order: 0; }
  .order-1-l { order: 1; }
  .order-2-l { order: 2; }
  .order-3-l { order: 3; }
  .order-4-l { order: 4; }
  .order-5-l { order: 5; }
  .order-6-l { order: 6; }
  .order-7-l { order: 7; }
  .order-8-l { order: 8; }
  .order-last-l { order: 99999; }
}
