/*

   OUTLINES

   Media Query Extensions:
     -s = small
     -m  = medium
     -l  = large

*/

.outline { outline: var(--border-width, 1px) solid currentColor; }
.outline-color { outline: var(--border-width, 1px) solid var(--border-color, gray); }
.outline-transparent { outline: var(--border-width, 1px) solid transparent; }
.outline-0 { outline: 0; }

@container (min-width:30em) {
  .outline-s { outline: var(--border-width, 1px) solid currentColor; }
  .outline-color-s { outline: var(--border-width, 1px) solid var(--border-color, gray); }
  .outline-transparent-s { outline: var(--border-width, 1px) solid transparent; }
  .outline-0-s { outline: 0; }
}

@container (min-width:48em) {
  .outline-m { outline: var(--border-width, 1px) solid currentColor; }
  .outline-color-m { outline: var(--border-width, 1px) solid var(--border-color, gray); }
  .outline-transparent-m { outline: var(--border-width, 1px) solid transparent; }
  .outline-0-m { outline: 0; }
}

@container (min-width:64em) {
  .outline-l { outline: var(--border-width, 1px) solid currentColor; }
  .outline-color-l { outline: var(--border-width, 1px) solid var(--border-color, gray); }
  .outline-transparent-l { outline: var(--border-width, 1px) solid transparent; }
  .outline-0-l { outline: 0; }
}
