/*

   OUTLINES

   Media Query Extensions:
     -s = small
     -m = medium
     -l = large

*/

.outline { outline: 1px solid; }
.outline-transparent { outline: 1px solid transparent; }
.outline-0 { outline: 0; }

@media (--breakpoint-small) {
  .outline-s { outline: 1px solid; }
  .outline-transparent-s { outline: 1px solid transparent; }
  .outline-0-s { outline: 0; }
}

@media (--breakpoint-medium) {
  .outline-m { outline: 1px solid; }
  .outline-transparent-m { outline: 1px solid transparent; }
  .outline-0-m { outline: 0; }
}

@media (--breakpoint-large) {
  .outline-l { outline: 1px solid; }
  .outline-transparent-l { outline: 1px solid transparent; }
  .outline-0-l { outline: 0; }
}
