@custom-media --breakpoint-not-small screen and (min-width: 48em);
@custom-media --breakpoint-medium screen and (min-width: 48em) and (max-width: 64em);
@custom-media --breakpoint-large screen and (min-width: 64em);

/*

    OVERFLOW

 */

.of-vis { overflow: visible; }
.of-hid,.oh { overflow: hidden; }
.of-scr { overflow: scroll; }
.of-aut { overflow: auto; }

.ofx-vis { overflow-x: visible; }
.ofx-hid { overflow-x: hidden; }
.ofx-scr { overflow-x: scroll; }
.ofx-aut { overflow-x: auto; }

.ofy-vis { overflow-y: visible; }
.ofy-hid { overflow-y: hidden; }
.ofy-scr { overflow-y: scroll; }
.ofy-aut { overflow-y: auto; }

@media (--breakpoint-not-small) {
  .of-vis-ns { overflow: visible; }
  .of-hid-ns,.oh { overflow: hidden; }
  .of-scr-ns { overflow: scroll; }
  .of-aut-ns { overflow: auto; }

  .ofx-vis-ns { overflow-x: visible; }
  .ofx-hid-ns { overflow-x: hidden; }
  .ofx-scr-ns { overflow-x: scroll; }
  .ofx-aut-ns { overflow-x: auto; }

  .ofy-vis-ns { overflow-y: visible; }
  .ofy-hid-ns { overflow-y: hidden; }
  .ofy-scr-ns { overflow-y: scroll; }
  .ofy-aut-ns { overflow-y: auto; }
}

@media (--breakpoint-medium) {
  .of-vis-m { overflow: visible; }
  .of-hid-m { overflow: hidden; }
  .of-scr-m { overflow: scroll; }
  .of-aut-m { overflow: auto; }

  .ofx-vis-m { overflow-x: visible; }
  .ofx-hid-m { overflow-x: hidden; }
  .ofx-scr-m { overflow-x: scroll; }
  .ofx-aut-m { overflow-x: auto; }

  .ofy-vis-m { overflow-y: visible; }
  .ofy-hid-m { overflow-y: hidden; }
  .ofy-scr-m { overflow-y: scroll; }
  .ofy-aut-m { overflow-y: auto; }
}

@media (--breakpoint-large) {
  .of-vis-l { overflow: visible; }
  .of-hid-l { overflow: hidden; }
  .of-scr-l { overflow: scroll; }
  .of-aut-l { overflow: auto; }

  .ofx-vis-l { overflow-x: visible; }
  .ofx-hid-l { overflow-x: hidden; }
  .ofx-scr-l { overflow-x: scroll; }
  .ofx-aut-l { overflow-x: auto; }

  .ofy-vis-l { overflow-y: visible; }
  .ofy-hid-l { overflow-y: hidden; }
  .ofy-scr-l { overflow-y: scroll; }
  .ofy-aut-l { overflow-y: auto; }
}
