/*

   POSITIONING
   Docs: http://tachyons.io/docs/layout/position/

   Media Query Extensions:
     -s = small
     -m  = medium
     -l  = large

*/

.static { position: static; }
.relative  { position: relative; }
.absolute  { position: absolute; }
.fixed  { position: fixed; }
.sticky  { position: sticky; }

@container (min-width:30em) {
  .static-s { position: static; }
  .relative-s  { position: relative; }
  .absolute-s  { position: absolute; }
  .fixed-s  { position: fixed; }
  .sticky-s  { position: sticky; }
}

@container (min-width:48em) {
  .static-m { position: static; }
  .relative-m  { position: relative; }
  .absolute-m  { position: absolute; }
  .fixed-m  { position: fixed; }
  .sticky-m  { position: sticky; }
}

@container (min-width:64em) {
  .static-l { position: static; }
  .relative-l  { position: relative; }
  .absolute-l  { position: absolute; }
  .fixed-l  { position: fixed; }
  .sticky-l  { position: sticky; }
}
