/*!!!

# SKINS

### Docs

http://tachyons.io/docs/themes/skins/

Classes for setting foreground and background colors on elements.
If you haven't declared a border color, but set border on an element, it will
be set to the current text color.
*/

/* Text colors */

.black-90 {         color: var(--black-90); }
.black-80 {         color: var(--black-80); }
.black-70 {         color: var(--black-70); }
.black-60 {         color: var(--black-60); }
.black-50 {         color: var(--black-50); }
.black-40 {         color: var(--black-40); }
.black-30 {         color: var(--black-30); }
.black-20 {         color: var(--black-20); }
.black-10 {         color: var(--black-10); }
.black-05 {         color: var(--black-05); }

.white-90 {         color: var(--white-90); }
.white-80 {         color: var(--white-80); }
.white-70 {         color: var(--white-70); }
.white-60 {         color: var(--white-60); }
.white-50 {         color: var(--white-50); }
.white-40 {         color: var(--white-40); }
.white-30 {         color: var(--white-30); }
.white-20 {         color: var(--white-20); }
.white-10 {         color: var(--white-10); }

.black {            color: var(--black); }
.gray0 {            color: var(--gray-0); }
.gray1 {            color: var(--gray-1); }
.gray2 {            color: var(--gray-2); }
.gray3 {            color: var(--gray-3); }
.gray4 {            color: var(--gray-4); }
.gray5 {            color: var(--gray-5); }
.gray6 {            color: var(--gray-6); }
.gray7 {            color: var(--gray-7); }
.gray8 {            color: var(--gray-8); }
.white {            color: var(--white); }

.green-0 { color: #044324; }
.green-1 { color: #05532d; }
.green-2 { color: #087640; }
.green-3 { color: #098849; }
.green-4 { color: #0b9b53; }
.green-5 { color: #0cad5d; }
.green-6 { color: #0ec167; }
.green-7 { color: #0fd472; }
.green-8 { color: #10e87c; }
.green-9 { color: #78f5a6; }
.green-10 { color: #c3fbdf; }

.teal-0 { color: #003d37; }
.teal-1 { color: #004e46; }
.teal-2 { color: #007166; }
.teal-3 { color: #008477; }
.teal-4 { color: #009788; }
.teal-5 { color: #00ab9a; }
.teal-6 { color: #00bfac; }
.teal-7 { color: #00d3be; }
.teal-8 { color: #00e8d1; }
.teal-9 { color: #00fde4; }
.teal-10 { color: #ccfffa; }

.cyan-0 { color: #015151; }
.cyan-1 { color: #046064; }
.cyan-2 { color: #0f7f8a; }
.cyan-3 { color: #148f9f; }
.cyan-4 { color: #19a0b3; }
.cyan-5 { color: #1eb1c9; }
.cyan-6 { color: #24c2de; }
.cyan-7 { color: #29d3f4; }
.cyan-8 { color: #64e2fd; }
.cyan-9 { color: #9cf0fe; }
.cyan-10 { color: #c7fefe; }

.blue-0 { color: #002c52; }
.blue-1 { color: #003a6c; }
.blue-2 { color: #0057a2; }
.blue-3 { color: #0066bf; }
.blue-4 { color: #0076dc; }
.blue-5 { color: #0086fb; }
.blue-6 { color: #4d97ff; }
.blue-7 { color: #72a9ff; }
.blue-8 { color: #8fbbff; }
.blue-9 { color: #a8ceff; }
.blue-10 { color: #bfe1ff; }

.indigo-0 { color: #2c0599; }
.indigo-1 { color: #3706be; }
.indigo-2 { color: #5c26ef; }
.indigo-3 { color: #733ff1; }
.indigo-4 { color: #8655f3; }
.indigo-5 { color: #9769f5; }
.indigo-6 { color: #a67df7; }
.indigo-7 { color: #b491f9; }
.indigo-8 { color: #c2a6fb; }
.indigo-9 { color: #cebafc; }
.indigo-10 { color: #dacefd; }

.purple-0 { color: #500576; }
.purple-0 { color: #630691; }
.purple-0 { color: #8a09cb; }
.purple-0 { color: #9f0ae9; }
.purple-0 { color: #af2ef6; }
.purple-0 { color: #bb4ef7; }
.purple-0 { color: #c568f9; }
.purple-0 { color: #d080fa; }
.purple-0 { color: #d996fb; }
.purple-0 { color: #e1acfb; }
.purple-0 { color: #e9c2fc; }

.pink { color: #640233; }
.pink { color: #7c033f; }
.pink { color: #ae0459; }
.pink { color: #c80467; }
.pink { color: #e30574; }
.pink { color: #fb1d83; }
.pink { color: #fe5195; }
.pink { color: #ff73a7; }
.pink { color: #ff8fba; }
.pink { color: #ffa9cc; }
.pink { color: #fec1df; }

.red-0 { color: #390408; }
.red-1 { color: #520814; }
.red-2 { color: #8a1223; }
.red-3 { color: #a7172b; }
.red-4 { color: #c61d33; }
.red-5 { color: #e02e40; }
.red-6 { color: #e95459; }
.red-7 { color: #f17373; }
.red-8 { color: #f68e8f; }
.red-9 { color: #faa9ab; }
.red-10 { color: #fbc3c8; }

.orange-0 { color: #6f2601; }
.orange-1 { color: #862e03; }
.orange-2 { color: #b73f04; }
.orange-3 { color: #d04704; }
.orange-4 { color: #ea5003; }
.orange-5 { color: #fe6018; }
.orange-6 { color: #ff7e45; }
.orange-7 { color: #ff9969; }
.orange-8 { color: #ffb18b; }
.orange-9 { color: #ffc7ac; }
.orange-10 { color: #feddcd; }

.yellow-0 { color: #806800; }
.yellow-1 { color: #8e7300; }
.yellow-2 { color: #aa8a00; }
.yellow-3 { color: #b89600; }
.yellow-4 { color: #c7a200; }
.yellow-5 { color: #d6ae00; }
.yellow-6 { color: #e5ba00; }
.yellow-7 { color: #f4c700; }
.yellow-8 { color: #ffd434; }
.yellow-9 { color: #ffe483; }
.yellow-10 { color: #fff3bf; }

.bg-black-90 {         background-color: var(--black-90); }
.bg-black-80 {         background-color: var(--black-80); }
.bg-black-70 {         background-color: var(--black-70); }
.bg-black-60 {         background-color: var(--black-60); }
.bg-black-50 {         background-color: var(--black-50); }
.bg-black-40 {         background-color: var(--black-40); }
.bg-black-30 {         background-color: var(--black-30); }
.bg-black-20 {         background-color: var(--black-20); }
.bg-black-10 {         background-color: var(--black-10); }
.bg-black-05 {         background-color: var(--black-05); }

.bg-white-90 {         background-color: var(--white-90); }
.bg-white-80 {         background-color: var(--white-80); }
.bg-white-70 {         background-color: var(--white-70); }
.bg-white-60 {         background-color: var(--white-60); }
.bg-white-50 {         background-color: var(--white-50); }
.bg-white-40 {         background-color: var(--white-40); }
.bg-white-30 {         background-color: var(--white-30); }
.bg-white-20 {         background-color: var(--white-20); }
.bg-white-10 {         background-color: var(--white-10); }

.bg-black {            background-color: var(--black); }
.bg-gray0 {            background-color: var(--gray-0); }
.bg-gray1 {            background-color: var(--gray-1); }
.bg-gray2 {            background-color: var(--gray-2); }
.bg-gray3 {            background-color: var(--gray-3); }
.bg-gray4 {            background-color: var(--gray-4); }
.bg-gray5 {            background-color: var(--gray-5); }
.bg-gray6 {            background-color: var(--gray-6); }
.bg-gray7 {            background-color: var(--gray-7); }
.bg-gray8 {            background-color: var(--gray-8); }
.bg-white {            background-color: var(--white); }

.bg-green-0 { background-color: #044324; }
.bg-green-1 { background-color: #05532d; }
.bg-green-2 { background-color: #087640; }
.bg-green-3 { background-color: #098849; }
.bg-green-4 { background-color: #0b9b53; }
.bg-green-5 { background-color: #0cad5d; }
.bg-green-6 { background-color: #0ec167; }
.bg-green-7 { background-color: #0fd472; }
.bg-green-8 { background-color: #10e87c; }
.bg-green-9 { background-color: #78f5a6; }
.bg-green-10 { background-color: #c3fbdf; }

.bg-teal-0 { background-color: #003d37; }
.bg-teal-1 { background-color: #004e46; }
.bg-teal-2 { background-color: #007166; }
.bg-teal-3 { background-color: #008477; }
.bg-teal-4 { background-color: #009788; }
.bg-teal-5 { background-color: #00ab9a; }
.bg-teal-6 { background-color: #00bfac; }
.bg-teal-7 { background-color: #00d3be; }
.bg-teal-8 { background-color: #00e8d1; }
.bg-teal-9 { background-color: #00fde4; }
.bg-teal-10 { background-color: #ccfffa; }

.bg-cyan-0 { background-color: #015151; }
.bg-cyan-1 { background-color: #046064; }
.bg-cyan-2 { background-color: #0f7f8a; }
.bg-cyan-3 { background-color: #148f9f; }
.bg-cyan-4 { background-color: #19a0b3; }
.bg-cyan-5 { background-color: #1eb1c9; }
.bg-cyan-6 { background-color: #24c2de; }
.bg-cyan-7 { background-color: #29d3f4; }
.bg-cyan-8 { background-color: #64e2fd; }
.bg-cyan-9 { background-color: #9cf0fe; }
.bg-cyan-10 { background-color: #c7fefe; }

.bg-blue-0 { background-color: #002c52; }
.bg-blue-1 { background-color: #003a6c; }
.bg-blue-2 { background-color: #0057a2; }
.bg-blue-3 { background-color: #0066bf; }
.bg-blue-4 { background-color: #0076dc; }
.bg-blue-5 { background-color: #0086fb; }
.bg-blue-6 { background-color: #4d97ff; }
.bg-blue-7 { background-color: #72a9ff; }
.bg-blue-8 { background-color: #8fbbff; }
.bg-blue-9 { background-color: #a8ceff; }
.bg-blue-10 { background-color: #bfe1ff; }

.bg-indigo-0 { background-color: #2c0599; }
.bg-indigo-1 { background-color: #3706be; }
.bg-indigo-2 { background-color: #5c26ef; }
.bg-indigo-3 { background-color: #733ff1; }
.bg-indigo-4 { background-color: #8655f3; }
.bg-indigo-5 { background-color: #9769f5; }
.bg-indigo-6 { background-color: #a67df7; }
.bg-indigo-7 { background-color: #b491f9; }
.bg-indigo-8 { background-color: #c2a6fb; }
.bg-indigo-9 { background-color: #cebafc; }
.bg-indigo-10 { background-color: #dacefd; }

.bg-purple-0 { background-color: #500576; }
.bg-purple-0 { background-color: #630691; }
.bg-purple-0 { background-color: #8a09cb; }
.bg-purple-0 { background-color: #9f0ae9; }
.bg-purple-0 { background-color: #af2ef6; }
.bg-purple-0 { background-color: #bb4ef7; }
.bg-purple-0 { background-color: #c568f9; }
.bg-purple-0 { background-color: #d080fa; }
.bg-purple-0 { background-color: #d996fb; }
.bg-purple-0 { background-color: #e1acfb; }
.bg-purple-0 { background-color: #e9c2fc; }

.bg-pink { background-color: #640233; }
.bg-pink { background-color: #7c033f; }
.bg-pink { background-color: #ae0459; }
.bg-pink { background-color: #c80467; }
.bg-pink { background-color: #e30574; }
.bg-pink { background-color: #fb1d83; }
.bg-pink { background-color: #fe5195; }
.bg-pink { background-color: #ff73a7; }
.bg-pink { background-color: #ff8fba; }
.bg-pink { background-color: #ffa9cc; }
.bg-pink { background-color: #fec1df; }

.bg-red-0 { background-color: #390408; }
.bg-red-1 { background-color: #520814; }
.bg-red-2 { background-color: #8a1223; }
.bg-red-3 { background-color: #a7172b; }
.bg-red-4 { background-color: #c61d33; }
.bg-red-5 { background-color: #e02e40; }
.bg-red-6 { background-color: #e95459; }
.bg-red-7 { background-color: #f17373; }
.bg-red-8 { background-color: #f68e8f; }
.bg-red-9 { background-color: #faa9ab; }
.bg-red-10 { background-color: #fbc3c8; }

.bg-orange-0 { background-color: #6f2601; }
.bg-orange-1 { background-color: #862e03; }
.bg-orange-2 { background-color: #b73f04; }
.bg-orange-3 { background-color: #d04704; }
.bg-orange-4 { background-color: #ea5003; }
.bg-orange-5 { background-color: #fe6018; }
.bg-orange-6 { background-color: #ff7e45; }
.bg-orange-7 { background-color: #ff9969; }
.bg-orange-8 { background-color: #ffb18b; }
.bg-orange-9 { background-color: #ffc7ac; }
.bg-orange-10 { background-color: #feddcd; }

.bg-yellow-0 { background-color: #806800; }
.bg-yellow-1 { background-color: #8e7300; }
.bg-yellow-2 { background-color: #aa8a00; }
.bg-yellow-3 { background-color: #b89600; }
.bg-yellow-4 { background-color: #c7a200; }
.bg-yellow-5 { background-color: #d6ae00; }
.bg-yellow-6 { background-color: #e5ba00; }
.bg-yellow-7 { background-color: #f4c700; }
.bg-yellow-8 { background-color: #ffd434; }
.bg-yellow-9 { background-color: #ffe483; }
.bg-yellow-10 { background-color: #fff3bf; }
