/* 
  
   SKINS:PSEUDO

   Customize the color of an element when
   it is focused or hovered over. This is a larger file. Feel
   free to remove and edit colors that aren't needed.
 
 */

.hover-overlay-tint-0:hover { color: var( --overlay-tint-0); }
.hover-overlay-tint-1:hover { color: var( --overlay-tint-1); }
.hover-overlay-tint-2:hover { color: var( --overlay-tint-2); }
.hover-overlay-tint-3:hover { color: var( --overlay-tint-3); }
.hover-overlay-tint-4:hover { color: var( --overlay-tint-4); }
.hover-overlay-tint-5:hover { color: var( --overlay-tint-5); }
.hover-overlay-tint-6:hover { color: var( --overlay-tint-6); }
.hover-overlay-tint-7:hover { color: var( --overlay-tint-7); }
.hover-overlay-tint-8:hover { color: var( --overlay-tint-8); }
.hover-overlay-tint-9:hover { color: var( --overlay-tint-9); }
.hover-overlay-tint-10:hover { color: var( --overlay-tint-10); }
.hover-overlay-tint-11:hover { color: var( --overlay-tint-11); }
.hover-overlay-shadow-0:hover { color: var( --overlay-shadow-0); }
.hover-overlay-shadow-1:hover { color: var( --overlay-shadow-1); }
.hover-overlay-shadow-2:hover { color: var( --overlay-shadow-2); }
.hover-overlay-shadow-3:hover { color: var( --overlay-shadow-3); }
.hover-overlay-shadow-4:hover { color: var( --overlay-shadow-4); }
.hover-overlay-shadow-5:hover { color: var( --overlay-shadow-5); }
.hover-overlay-shadow-6:hover { color: var( --overlay-shadow-6); }
.hover-overlay-shadow-7:hover { color: var( --overlay-shadow-7); }
.hover-overlay-shadow-8:hover { color: var( --overlay-shadow-8); }
.hover-overlay-shadow-9:hover { color: var( --overlay-shadow-9); }
.hover-overlay-shadow-10:hover { color: var( --overlay-shadow-10); }
.hover-overlay-shadow-11:hover { color: var( --overlay-shadow-11); }
.hover-gray-0:hover { color: var( --gray-0); }
.hover-gray-1:hover { color: var( --gray-1); }
.hover-gray-2:hover { color: var( --gray-2); }
.hover-gray-3:hover { color: var( --gray-3); }
.hover-gray-4:hover { color: var( --gray-4); }
.hover-gray-5:hover { color: var( --gray-5); }
.hover-gray-6:hover { color: var( --gray-6); }
.hover-gray-7:hover { color: var( --gray-7); }
.hover-gray-8:hover { color: var( --gray-8); }
.hover-gray-9:hover { color: var( --gray-9); }
.hover-gray-10:hover { color: var( --gray-10); }
.hover-gray-11:hover { color: var( --gray-11); }
.hover-slate-gray-0:hover { color: var( --slate-gray-0); }
.hover-slate-gray-1:hover { color: var( --slate-gray-1); }
.hover-slate-gray-2:hover { color: var( --slate-gray-2); }
.hover-slate-gray-3:hover { color: var( --slate-gray-3); }
.hover-slate-gray-4:hover { color: var( --slate-gray-4); }
.hover-slate-gray-5:hover { color: var( --slate-gray-5); }
.hover-slate-gray-6:hover { color: var( --slate-gray-6); }
.hover-slate-gray-7:hover { color: var( --slate-gray-7); }
.hover-slate-gray-8:hover { color: var( --slate-gray-8); }
.hover-slate-gray-9:hover { color: var( --slate-gray-9); }
.hover-slate-gray-10:hover { color: var( --slate-gray-10); }
.hover-slate-gray-11:hover { color: var( --slate-gray-11); }
.hover-blue-0:hover { color: var( --blue-0); }
.hover-blue-1:hover { color: var( --blue-1); }
.hover-blue-2:hover { color: var( --blue-2); }
.hover-blue-3:hover { color: var( --blue-3); }
.hover-blue-4:hover { color: var( --blue-4); }
.hover-blue-5:hover { color: var( --blue-5); }
.hover-blue-6:hover { color: var( --blue-6); }
.hover-blue-7:hover { color: var( --blue-7); }
.hover-blue-8:hover { color: var( --blue-8); }
.hover-blue-9:hover { color: var( --blue-9); }
.hover-blue-10:hover { color: var( --blue-10); }
.hover-blue-11:hover { color: var( --blue-11); }
.hover-indigo-0:hover { color: var( --indigo-0); }
.hover-indigo-1:hover { color: var( --indigo-1); }
.hover-indigo-2:hover { color: var( --indigo-2); }
.hover-indigo-3:hover { color: var( --indigo-3); }
.hover-indigo-4:hover { color: var( --indigo-4); }
.hover-indigo-5:hover { color: var( --indigo-5); }
.hover-indigo-6:hover { color: var( --indigo-6); }
.hover-indigo-7:hover { color: var( --indigo-7); }
.hover-indigo-8:hover { color: var( --indigo-8); }
.hover-indigo-9:hover { color: var( --indigo-9); }
.hover-indigo-10:hover { color: var( --indigo-10); }
.hover-indigo-11:hover { color: var( --indigo-11); }
.hover-violet-0:hover { color: var( --violet-0); }
.hover-violet-1:hover { color: var( --violet-1); }
.hover-violet-2:hover { color: var( --violet-2); }
.hover-violet-3:hover { color: var( --violet-3); }
.hover-violet-4:hover { color: var( --violet-4); }
.hover-violet-5:hover { color: var( --violet-5); }
.hover-violet-6:hover { color: var( --violet-6); }
.hover-violet-7:hover { color: var( --violet-7); }
.hover-violet-8:hover { color: var( --violet-8); }
.hover-violet-9:hover { color: var( --violet-9); }
.hover-violet-10:hover { color: var( --violet-10); }
.hover-violet-11:hover { color: var( --violet-11); }
.hover-magenta-0:hover { color: var( --magenta-0); }
.hover-magenta-1:hover { color: var( --magenta-1); }
.hover-magenta-2:hover { color: var( --magenta-2); }
.hover-magenta-3:hover { color: var( --magenta-3); }
.hover-magenta-4:hover { color: var( --magenta-4); }
.hover-magenta-5:hover { color: var( --magenta-5); }
.hover-magenta-6:hover { color: var( --magenta-6); }
.hover-magenta-7:hover { color: var( --magenta-7); }
.hover-magenta-8:hover { color: var( --magenta-8); }
.hover-magenta-9:hover { color: var( --magenta-9); }
.hover-magenta-10:hover { color: var( --magenta-10); }
.hover-magenta-11:hover { color: var( --magenta-11); }
.hover-red-0:hover { color: var( --red-0); }
.hover-red-1:hover { color: var( --red-1); }
.hover-red-2:hover { color: var( --red-2); }
.hover-red-3:hover { color: var( --red-3); }
.hover-red-4:hover { color: var( --red-4); }
.hover-red-5:hover { color: var( --red-5); }
.hover-red-6:hover { color: var( --red-6); }
.hover-red-7:hover { color: var( --red-7); }
.hover-red-8:hover { color: var( --red-8); }
.hover-red-9:hover { color: var( --red-9); }
.hover-red-10:hover { color: var( --red-10); }
.hover-red-11:hover { color: var( --red-11); }
.hover-red-orange-0:hover { color: var( --red-orange-0); }
.hover-red-orange-1:hover { color: var( --red-orange-1); }
.hover-red-orange-2:hover { color: var( --red-orange-2); }
.hover-red-orange-3:hover { color: var( --red-orange-3); }
.hover-red-orange-4:hover { color: var( --red-orange-4); }
.hover-red-orange-5:hover { color: var( --red-orange-5); }
.hover-red-orange-6:hover { color: var( --red-orange-6); }
.hover-red-orange-7:hover { color: var( --red-orange-7); }
.hover-red-orange-8:hover { color: var( --red-orange-8); }
.hover-red-orange-9:hover { color: var( --red-orange-9); }
.hover-red-orange-10:hover { color: var( --red-orange-10); }
.hover-red-orange-11:hover { color: var( --red-orange-11); }
.hover-orange-0:hover { color: var( --orange-0); }
.hover-orange-1:hover { color: var( --orange-1); }
.hover-orange-2:hover { color: var( --orange-2); }
.hover-orange-3:hover { color: var( --orange-3); }
.hover-orange-4:hover { color: var( --orange-4); }
.hover-orange-5:hover { color: var( --orange-5); }
.hover-orange-6:hover { color: var( --orange-6); }
.hover-orange-7:hover { color: var( --orange-7); }
.hover-orange-8:hover { color: var( --orange-8); }
.hover-orange-9:hover { color: var( --orange-9); }
.hover-orange-10:hover { color: var( --orange-10); }
.hover-orange-11:hover { color: var( --orange-11); }
.hover-gold-0:hover { color: var( --gold-0); }
.hover-gold-1:hover { color: var( --gold-1); }
.hover-gold-2:hover { color: var( --gold-2); }
.hover-gold-3:hover { color: var( --gold-3); }
.hover-gold-4:hover { color: var( --gold-4); }
.hover-gold-5:hover { color: var( --gold-5); }
.hover-gold-6:hover { color: var( --gold-6); }
.hover-gold-7:hover { color: var( --gold-7); }
.hover-gold-8:hover { color: var( --gold-8); }
.hover-gold-9:hover { color: var( --gold-9); }
.hover-gold-10:hover { color: var( --gold-10); }
.hover-gold-11:hover { color: var( --gold-11); }
.hover-yellow-0:hover { color: var( --yellow-0); }
.hover-yellow-1:hover { color: var( --yellow-1); }
.hover-yellow-2:hover { color: var( --yellow-2); }
.hover-yellow-3:hover { color: var( --yellow-3); }
.hover-yellow-4:hover { color: var( --yellow-4); }
.hover-yellow-5:hover { color: var( --yellow-5); }
.hover-yellow-6:hover { color: var( --yellow-6); }
.hover-yellow-7:hover { color: var( --yellow-7); }
.hover-yellow-8:hover { color: var( --yellow-8); }
.hover-yellow-9:hover { color: var( --yellow-9); }
.hover-yellow-10:hover { color: var( --yellow-10); }
.hover-yellow-11:hover { color: var( --yellow-11); }
.hover-green-0:hover { color: var( --green-0); }
.hover-green-1:hover { color: var( --green-1); }
.hover-green-2:hover { color: var( --green-2); }
.hover-green-3:hover { color: var( --green-3); }
.hover-green-4:hover { color: var( --green-4); }
.hover-green-5:hover { color: var( --green-5); }
.hover-green-6:hover { color: var( --green-6); }
.hover-green-7:hover { color: var( --green-7); }
.hover-green-8:hover { color: var( --green-8); }
.hover-green-9:hover { color: var( --green-9); }
.hover-green-10:hover { color: var( --green-10); }
.hover-green-11:hover { color: var( --green-11); }
.hover-teal-0:hover { color: var( --teal-0); }
.hover-teal-1:hover { color: var( --teal-1); }
.hover-teal-2:hover { color: var( --teal-2); }
.hover-teal-3:hover { color: var( --teal-3); }
.hover-teal-4:hover { color: var( --teal-4); }
.hover-teal-5:hover { color: var( --teal-5); }
.hover-teal-6:hover { color: var( --teal-6); }
.hover-teal-7:hover { color: var( --teal-7); }
.hover-teal-8:hover { color: var( --teal-8); }
.hover-teal-9:hover { color: var( --teal-9); }
.hover-teal-10:hover { color: var( --teal-10); }
.hover-teal-11:hover { color: var( --teal-11); }
.hover-cyan-0:hover { color: var( --cyan-0); }
.hover-cyan-1:hover { color: var( --cyan-1); }
.hover-cyan-2:hover { color: var( --cyan-2); }
.hover-cyan-3:hover { color: var( --cyan-3); }
.hover-cyan-4:hover { color: var( --cyan-4); }
.hover-cyan-5:hover { color: var( --cyan-5); }
.hover-cyan-6:hover { color: var( --cyan-6); }
.hover-cyan-7:hover { color: var( --cyan-7); }
.hover-cyan-8:hover { color: var( --cyan-8); }
.hover-cyan-9:hover { color: var( --cyan-9); }
.hover-cyan-10:hover { color: var( --cyan-10); }
.hover-cyan-11:hover { color: var( --cyan-11); }

/* Background colors */

.hover-bg-overlay-tint-0:hover { background-color: var( --overlay-tint-0); }
.hover-bg-overlay-tint-1:hover { background-color: var( --overlay-tint-1); }
.hover-bg-overlay-tint-2:hover { background-color: var( --overlay-tint-2); }
.hover-bg-overlay-tint-3:hover { background-color: var( --overlay-tint-3); }
.hover-bg-overlay-tint-4:hover { background-color: var( --overlay-tint-4); }
.hover-bg-overlay-tint-5:hover { background-color: var( --overlay-tint-5); }
.hover-bg-overlay-tint-6:hover { background-color: var( --overlay-tint-6); }
.hover-bg-overlay-tint-7:hover { background-color: var( --overlay-tint-7); }
.hover-bg-overlay-tint-8:hover { background-color: var( --overlay-tint-8); }
.hover-bg-overlay-tint-9:hover { background-color: var( --overlay-tint-9); }
.hover-bg-overlay-tint-10:hover { background-color: var( --overlay-tint-10); }
.hover-bg-overlay-tint-11:hover { background-color: var( --overlay-tint-11); }
.hover-bg-overlay-shadow-0:hover { background-color: var( --overlay-shadow-0); }
.hover-bg-overlay-shadow-1:hover { background-color: var( --overlay-shadow-1); }
.hover-bg-overlay-shadow-2:hover { background-color: var( --overlay-shadow-2); }
.hover-bg-overlay-shadow-3:hover { background-color: var( --overlay-shadow-3); }
.hover-bg-overlay-shadow-4:hover { background-color: var( --overlay-shadow-4); }
.hover-bg-overlay-shadow-5:hover { background-color: var( --overlay-shadow-5); }
.hover-bg-overlay-shadow-6:hover { background-color: var( --overlay-shadow-6); }
.hover-bg-overlay-shadow-7:hover { background-color: var( --overlay-shadow-7); }
.hover-bg-overlay-shadow-8:hover { background-color: var( --overlay-shadow-8); }
.hover-bg-overlay-shadow-9:hover { background-color: var( --overlay-shadow-9); }
.hover-bg-overlay-shadow-10:hover { background-color: var( --overlay-shadow-10); }
.hover-bg-overlay-shadow-11:hover { background-color: var( --overlay-shadow-11); }
.hover-bg-gray-0:hover { background-color: var( --gray-0); }
.hover-bg-gray-1:hover { background-color: var( --gray-1); }
.hover-bg-gray-2:hover { background-color: var( --gray-2); }
.hover-bg-gray-3:hover { background-color: var( --gray-3); }
.hover-bg-gray-4:hover { background-color: var( --gray-4); }
.hover-bg-gray-5:hover { background-color: var( --gray-5); }
.hover-bg-gray-6:hover { background-color: var( --gray-6); }
.hover-bg-gray-7:hover { background-color: var( --gray-7); }
.hover-bg-gray-8:hover { background-color: var( --gray-8); }
.hover-bg-gray-9:hover { background-color: var( --gray-9); }
.hover-bg-gray-10:hover { background-color: var( --gray-10); }
.hover-bg-gray-11:hover { background-color: var( --gray-11); }
.hover-bg-slate-gray-0:hover { background-color: var( --slate-gray-0); }
.hover-bg-slate-gray-1:hover { background-color: var( --slate-gray-1); }
.hover-bg-slate-gray-2:hover { background-color: var( --slate-gray-2); }
.hover-bg-slate-gray-3:hover { background-color: var( --slate-gray-3); }
.hover-bg-slate-gray-4:hover { background-color: var( --slate-gray-4); }
.hover-bg-slate-gray-5:hover { background-color: var( --slate-gray-5); }
.hover-bg-slate-gray-6:hover { background-color: var( --slate-gray-6); }
.hover-bg-slate-gray-7:hover { background-color: var( --slate-gray-7); }
.hover-bg-slate-gray-8:hover { background-color: var( --slate-gray-8); }
.hover-bg-slate-gray-9:hover { background-color: var( --slate-gray-9); }
.hover-bg-slate-gray-10:hover { background-color: var( --slate-gray-10); }
.hover-bg-slate-gray-11:hover { background-color: var( --slate-gray-11); }
.hover-bg-blue-0:hover { background-color: var( --blue-0); }
.hover-bg-blue-1:hover { background-color: var( --blue-1); }
.hover-bg-blue-2:hover { background-color: var( --blue-2); }
.hover-bg-blue-3:hover { background-color: var( --blue-3); }
.hover-bg-blue-4:hover { background-color: var( --blue-4); }
.hover-bg-blue-5:hover { background-color: var( --blue-5); }
.hover-bg-blue-6:hover { background-color: var( --blue-6); }
.hover-bg-blue-7:hover { background-color: var( --blue-7); }
.hover-bg-blue-8:hover { background-color: var( --blue-8); }
.hover-bg-blue-9:hover { background-color: var( --blue-9); }
.hover-bg-blue-10:hover { background-color: var( --blue-10); }
.hover-bg-blue-11:hover { background-color: var( --blue-11); }
.hover-bg-indigo-0:hover { background-color: var( --indigo-0); }
.hover-bg-indigo-1:hover { background-color: var( --indigo-1); }
.hover-bg-indigo-2:hover { background-color: var( --indigo-2); }
.hover-bg-indigo-3:hover { background-color: var( --indigo-3); }
.hover-bg-indigo-4:hover { background-color: var( --indigo-4); }
.hover-bg-indigo-5:hover { background-color: var( --indigo-5); }
.hover-bg-indigo-6:hover { background-color: var( --indigo-6); }
.hover-bg-indigo-7:hover { background-color: var( --indigo-7); }
.hover-bg-indigo-8:hover { background-color: var( --indigo-8); }
.hover-bg-indigo-9:hover { background-color: var( --indigo-9); }
.hover-bg-indigo-10:hover { background-color: var( --indigo-10); }
.hover-bg-indigo-11:hover { background-color: var( --indigo-11); }
.hover-bg-violet-0:hover { background-color: var( --violet-0); }
.hover-bg-violet-1:hover { background-color: var( --violet-1); }
.hover-bg-violet-2:hover { background-color: var( --violet-2); }
.hover-bg-violet-3:hover { background-color: var( --violet-3); }
.hover-bg-violet-4:hover { background-color: var( --violet-4); }
.hover-bg-violet-5:hover { background-color: var( --violet-5); }
.hover-bg-violet-6:hover { background-color: var( --violet-6); }
.hover-bg-violet-7:hover { background-color: var( --violet-7); }
.hover-bg-violet-8:hover { background-color: var( --violet-8); }
.hover-bg-violet-9:hover { background-color: var( --violet-9); }
.hover-bg-violet-10:hover { background-color: var( --violet-10); }
.hover-bg-violet-11:hover { background-color: var( --violet-11); }
.hover-bg-magenta-0:hover { background-color: var( --magenta-0); }
.hover-bg-magenta-1:hover { background-color: var( --magenta-1); }
.hover-bg-magenta-2:hover { background-color: var( --magenta-2); }
.hover-bg-magenta-3:hover { background-color: var( --magenta-3); }
.hover-bg-magenta-4:hover { background-color: var( --magenta-4); }
.hover-bg-magenta-5:hover { background-color: var( --magenta-5); }
.hover-bg-magenta-6:hover { background-color: var( --magenta-6); }
.hover-bg-magenta-7:hover { background-color: var( --magenta-7); }
.hover-bg-magenta-8:hover { background-color: var( --magenta-8); }
.hover-bg-magenta-9:hover { background-color: var( --magenta-9); }
.hover-bg-magenta-10:hover { background-color: var( --magenta-10); }
.hover-bg-magenta-11:hover { background-color: var( --magenta-11); }
.hover-bg-red-0:hover { background-color: var( --red-0); }
.hover-bg-red-1:hover { background-color: var( --red-1); }
.hover-bg-red-2:hover { background-color: var( --red-2); }
.hover-bg-red-3:hover { background-color: var( --red-3); }
.hover-bg-red-4:hover { background-color: var( --red-4); }
.hover-bg-red-5:hover { background-color: var( --red-5); }
.hover-bg-red-6:hover { background-color: var( --red-6); }
.hover-bg-red-7:hover { background-color: var( --red-7); }
.hover-bg-red-8:hover { background-color: var( --red-8); }
.hover-bg-red-9:hover { background-color: var( --red-9); }
.hover-bg-red-10:hover { background-color: var( --red-10); }
.hover-bg-red-11:hover { background-color: var( --red-11); }
.hover-bg-red-orange-0:hover { background-color: var( --red-orange-0); }
.hover-bg-red-orange-1:hover { background-color: var( --red-orange-1); }
.hover-bg-red-orange-2:hover { background-color: var( --red-orange-2); }
.hover-bg-red-orange-3:hover { background-color: var( --red-orange-3); }
.hover-bg-red-orange-4:hover { background-color: var( --red-orange-4); }
.hover-bg-red-orange-5:hover { background-color: var( --red-orange-5); }
.hover-bg-red-orange-6:hover { background-color: var( --red-orange-6); }
.hover-bg-red-orange-7:hover { background-color: var( --red-orange-7); }
.hover-bg-red-orange-8:hover { background-color: var( --red-orange-8); }
.hover-bg-red-orange-9:hover { background-color: var( --red-orange-9); }
.hover-bg-red-orange-10:hover { background-color: var( --red-orange-10); }
.hover-bg-red-orange-11:hover { background-color: var( --red-orange-11); }
.hover-bg-orange-0:hover { background-color: var( --orange-0); }
.hover-bg-orange-1:hover { background-color: var( --orange-1); }
.hover-bg-orange-2:hover { background-color: var( --orange-2); }
.hover-bg-orange-3:hover { background-color: var( --orange-3); }
.hover-bg-orange-4:hover { background-color: var( --orange-4); }
.hover-bg-orange-5:hover { background-color: var( --orange-5); }
.hover-bg-orange-6:hover { background-color: var( --orange-6); }
.hover-bg-orange-7:hover { background-color: var( --orange-7); }
.hover-bg-orange-8:hover { background-color: var( --orange-8); }
.hover-bg-orange-9:hover { background-color: var( --orange-9); }
.hover-bg-orange-10:hover { background-color: var( --orange-10); }
.hover-bg-orange-11:hover { background-color: var( --orange-11); }
.hover-bg-gold-0:hover { background-color: var( --gold-0); }
.hover-bg-gold-1:hover { background-color: var( --gold-1); }
.hover-bg-gold-2:hover { background-color: var( --gold-2); }
.hover-bg-gold-3:hover { background-color: var( --gold-3); }
.hover-bg-gold-4:hover { background-color: var( --gold-4); }
.hover-bg-gold-5:hover { background-color: var( --gold-5); }
.hover-bg-gold-6:hover { background-color: var( --gold-6); }
.hover-bg-gold-7:hover { background-color: var( --gold-7); }
.hover-bg-gold-8:hover { background-color: var( --gold-8); }
.hover-bg-gold-9:hover { background-color: var( --gold-9); }
.hover-bg-gold-10:hover { background-color: var( --gold-10); }
.hover-bg-gold-11:hover { background-color: var( --gold-11); }
.hover-bg-yellow-0:hover { background-color: var( --yellow-0); }
.hover-bg-yellow-1:hover { background-color: var( --yellow-1); }
.hover-bg-yellow-2:hover { background-color: var( --yellow-2); }
.hover-bg-yellow-3:hover { background-color: var( --yellow-3); }
.hover-bg-yellow-4:hover { background-color: var( --yellow-4); }
.hover-bg-yellow-5:hover { background-color: var( --yellow-5); }
.hover-bg-yellow-6:hover { background-color: var( --yellow-6); }
.hover-bg-yellow-7:hover { background-color: var( --yellow-7); }
.hover-bg-yellow-8:hover { background-color: var( --yellow-8); }
.hover-bg-yellow-9:hover { background-color: var( --yellow-9); }
.hover-bg-yellow-10:hover { background-color: var( --yellow-10); }
.hover-bg-yellow-11:hover { background-color: var( --yellow-11); }
.hover-bg-green-0:hover { background-color: var( --green-0); }
.hover-bg-green-1:hover { background-color: var( --green-1); }
.hover-bg-green-2:hover { background-color: var( --green-2); }
.hover-bg-green-3:hover { background-color: var( --green-3); }
.hover-bg-green-4:hover { background-color: var( --green-4); }
.hover-bg-green-5:hover { background-color: var( --green-5); }
.hover-bg-green-6:hover { background-color: var( --green-6); }
.hover-bg-green-7:hover { background-color: var( --green-7); }
.hover-bg-green-8:hover { background-color: var( --green-8); }
.hover-bg-green-9:hover { background-color: var( --green-9); }
.hover-bg-green-10:hover { background-color: var( --green-10); }
.hover-bg-green-11:hover { background-color: var( --green-11); }
.hover-bg-teal-0:hover { background-color: var( --teal-0); }
.hover-bg-teal-1:hover { background-color: var( --teal-1); }
.hover-bg-teal-2:hover { background-color: var( --teal-2); }
.hover-bg-teal-3:hover { background-color: var( --teal-3); }
.hover-bg-teal-4:hover { background-color: var( --teal-4); }
.hover-bg-teal-5:hover { background-color: var( --teal-5); }
.hover-bg-teal-6:hover { background-color: var( --teal-6); }
.hover-bg-teal-7:hover { background-color: var( --teal-7); }
.hover-bg-teal-8:hover { background-color: var( --teal-8); }
.hover-bg-teal-9:hover { background-color: var( --teal-9); }
.hover-bg-teal-10:hover { background-color: var( --teal-10); }
.hover-bg-teal-11:hover { background-color: var( --teal-11); }
.hover-bg-cyan-0:hover { background-color: var( --cyan-0); }
.hover-bg-cyan-1:hover { background-color: var( --cyan-1); }
.hover-bg-cyan-2:hover { background-color: var( --cyan-2); }
.hover-bg-cyan-3:hover { background-color: var( --cyan-3); }
.hover-bg-cyan-4:hover { background-color: var( --cyan-4); }
.hover-bg-cyan-5:hover { background-color: var( --cyan-5); }
.hover-bg-cyan-6:hover { background-color: var( --cyan-6); }
.hover-bg-cyan-7:hover { background-color: var( --cyan-7); }
.hover-bg-cyan-8:hover { background-color: var( --cyan-8); }
.hover-bg-cyan-9:hover { background-color: var( --cyan-9); }
.hover-bg-cyan-10:hover { background-color: var( --cyan-10); }
.hover-bg-cyan-11:hover { background-color: var( --cyan-11); }

.focus-overlay-tint-0:focus { color: var( --overlay-tint-0); }
.focus-overlay-tint-1:focus { color: var( --overlay-tint-1); }
.focus-overlay-tint-2:focus { color: var( --overlay-tint-2); }
.focus-overlay-tint-3:focus { color: var( --overlay-tint-3); }
.focus-overlay-tint-4:focus { color: var( --overlay-tint-4); }
.focus-overlay-tint-5:focus { color: var( --overlay-tint-5); }
.focus-overlay-tint-6:focus { color: var( --overlay-tint-6); }
.focus-overlay-tint-7:focus { color: var( --overlay-tint-7); }
.focus-overlay-tint-8:focus { color: var( --overlay-tint-8); }
.focus-overlay-tint-9:focus { color: var( --overlay-tint-9); }
.focus-overlay-tint-10:focus { color: var( --overlay-tint-10); }
.focus-overlay-tint-11:focus { color: var( --overlay-tint-11); }
.focus-overlay-shadow-0:focus { color: var( --overlay-shadow-0); }
.focus-overlay-shadow-1:focus { color: var( --overlay-shadow-1); }
.focus-overlay-shadow-2:focus { color: var( --overlay-shadow-2); }
.focus-overlay-shadow-3:focus { color: var( --overlay-shadow-3); }
.focus-overlay-shadow-4:focus { color: var( --overlay-shadow-4); }
.focus-overlay-shadow-5:focus { color: var( --overlay-shadow-5); }
.focus-overlay-shadow-6:focus { color: var( --overlay-shadow-6); }
.focus-overlay-shadow-7:focus { color: var( --overlay-shadow-7); }
.focus-overlay-shadow-8:focus { color: var( --overlay-shadow-8); }
.focus-overlay-shadow-9:focus { color: var( --overlay-shadow-9); }
.focus-overlay-shadow-10:focus { color: var( --overlay-shadow-10); }
.focus-overlay-shadow-11:focus { color: var( --overlay-shadow-11); }
.focus-gray-0:focus { color: var( --gray-0); }
.focus-gray-1:focus { color: var( --gray-1); }
.focus-gray-2:focus { color: var( --gray-2); }
.focus-gray-3:focus { color: var( --gray-3); }
.focus-gray-4:focus { color: var( --gray-4); }
.focus-gray-5:focus { color: var( --gray-5); }
.focus-gray-6:focus { color: var( --gray-6); }
.focus-gray-7:focus { color: var( --gray-7); }
.focus-gray-8:focus { color: var( --gray-8); }
.focus-gray-9:focus { color: var( --gray-9); }
.focus-gray-10:focus { color: var( --gray-10); }
.focus-gray-11:focus { color: var( --gray-11); }
.focus-slate-gray-0:focus { color: var( --slate-gray-0); }
.focus-slate-gray-1:focus { color: var( --slate-gray-1); }
.focus-slate-gray-2:focus { color: var( --slate-gray-2); }
.focus-slate-gray-3:focus { color: var( --slate-gray-3); }
.focus-slate-gray-4:focus { color: var( --slate-gray-4); }
.focus-slate-gray-5:focus { color: var( --slate-gray-5); }
.focus-slate-gray-6:focus { color: var( --slate-gray-6); }
.focus-slate-gray-7:focus { color: var( --slate-gray-7); }
.focus-slate-gray-8:focus { color: var( --slate-gray-8); }
.focus-slate-gray-9:focus { color: var( --slate-gray-9); }
.focus-slate-gray-10:focus { color: var( --slate-gray-10); }
.focus-slate-gray-11:focus { color: var( --slate-gray-11); }
.focus-blue-0:focus { color: var( --blue-0); }
.focus-blue-1:focus { color: var( --blue-1); }
.focus-blue-2:focus { color: var( --blue-2); }
.focus-blue-3:focus { color: var( --blue-3); }
.focus-blue-4:focus { color: var( --blue-4); }
.focus-blue-5:focus { color: var( --blue-5); }
.focus-blue-6:focus { color: var( --blue-6); }
.focus-blue-7:focus { color: var( --blue-7); }
.focus-blue-8:focus { color: var( --blue-8); }
.focus-blue-9:focus { color: var( --blue-9); }
.focus-blue-10:focus { color: var( --blue-10); }
.focus-blue-11:focus { color: var( --blue-11); }
.focus-indigo-0:focus { color: var( --indigo-0); }
.focus-indigo-1:focus { color: var( --indigo-1); }
.focus-indigo-2:focus { color: var( --indigo-2); }
.focus-indigo-3:focus { color: var( --indigo-3); }
.focus-indigo-4:focus { color: var( --indigo-4); }
.focus-indigo-5:focus { color: var( --indigo-5); }
.focus-indigo-6:focus { color: var( --indigo-6); }
.focus-indigo-7:focus { color: var( --indigo-7); }
.focus-indigo-8:focus { color: var( --indigo-8); }
.focus-indigo-9:focus { color: var( --indigo-9); }
.focus-indigo-10:focus { color: var( --indigo-10); }
.focus-indigo-11:focus { color: var( --indigo-11); }
.focus-violet-0:focus { color: var( --violet-0); }
.focus-violet-1:focus { color: var( --violet-1); }
.focus-violet-2:focus { color: var( --violet-2); }
.focus-violet-3:focus { color: var( --violet-3); }
.focus-violet-4:focus { color: var( --violet-4); }
.focus-violet-5:focus { color: var( --violet-5); }
.focus-violet-6:focus { color: var( --violet-6); }
.focus-violet-7:focus { color: var( --violet-7); }
.focus-violet-8:focus { color: var( --violet-8); }
.focus-violet-9:focus { color: var( --violet-9); }
.focus-violet-10:focus { color: var( --violet-10); }
.focus-violet-11:focus { color: var( --violet-11); }
.focus-magenta-0:focus { color: var( --magenta-0); }
.focus-magenta-1:focus { color: var( --magenta-1); }
.focus-magenta-2:focus { color: var( --magenta-2); }
.focus-magenta-3:focus { color: var( --magenta-3); }
.focus-magenta-4:focus { color: var( --magenta-4); }
.focus-magenta-5:focus { color: var( --magenta-5); }
.focus-magenta-6:focus { color: var( --magenta-6); }
.focus-magenta-7:focus { color: var( --magenta-7); }
.focus-magenta-8:focus { color: var( --magenta-8); }
.focus-magenta-9:focus { color: var( --magenta-9); }
.focus-magenta-10:focus { color: var( --magenta-10); }
.focus-magenta-11:focus { color: var( --magenta-11); }
.focus-red-0:focus { color: var( --red-0); }
.focus-red-1:focus { color: var( --red-1); }
.focus-red-2:focus { color: var( --red-2); }
.focus-red-3:focus { color: var( --red-3); }
.focus-red-4:focus { color: var( --red-4); }
.focus-red-5:focus { color: var( --red-5); }
.focus-red-6:focus { color: var( --red-6); }
.focus-red-7:focus { color: var( --red-7); }
.focus-red-8:focus { color: var( --red-8); }
.focus-red-9:focus { color: var( --red-9); }
.focus-red-10:focus { color: var( --red-10); }
.focus-red-11:focus { color: var( --red-11); }
.focus-red-orange-0:focus { color: var( --red-orange-0); }
.focus-red-orange-1:focus { color: var( --red-orange-1); }
.focus-red-orange-2:focus { color: var( --red-orange-2); }
.focus-red-orange-3:focus { color: var( --red-orange-3); }
.focus-red-orange-4:focus { color: var( --red-orange-4); }
.focus-red-orange-5:focus { color: var( --red-orange-5); }
.focus-red-orange-6:focus { color: var( --red-orange-6); }
.focus-red-orange-7:focus { color: var( --red-orange-7); }
.focus-red-orange-8:focus { color: var( --red-orange-8); }
.focus-red-orange-9:focus { color: var( --red-orange-9); }
.focus-red-orange-10:focus { color: var( --red-orange-10); }
.focus-red-orange-11:focus { color: var( --red-orange-11); }
.focus-orange-0:focus { color: var( --orange-0); }
.focus-orange-1:focus { color: var( --orange-1); }
.focus-orange-2:focus { color: var( --orange-2); }
.focus-orange-3:focus { color: var( --orange-3); }
.focus-orange-4:focus { color: var( --orange-4); }
.focus-orange-5:focus { color: var( --orange-5); }
.focus-orange-6:focus { color: var( --orange-6); }
.focus-orange-7:focus { color: var( --orange-7); }
.focus-orange-8:focus { color: var( --orange-8); }
.focus-orange-9:focus { color: var( --orange-9); }
.focus-orange-10:focus { color: var( --orange-10); }
.focus-orange-11:focus { color: var( --orange-11); }
.focus-gold-0:focus { color: var( --gold-0); }
.focus-gold-1:focus { color: var( --gold-1); }
.focus-gold-2:focus { color: var( --gold-2); }
.focus-gold-3:focus { color: var( --gold-3); }
.focus-gold-4:focus { color: var( --gold-4); }
.focus-gold-5:focus { color: var( --gold-5); }
.focus-gold-6:focus { color: var( --gold-6); }
.focus-gold-7:focus { color: var( --gold-7); }
.focus-gold-8:focus { color: var( --gold-8); }
.focus-gold-9:focus { color: var( --gold-9); }
.focus-gold-10:focus { color: var( --gold-10); }
.focus-gold-11:focus { color: var( --gold-11); }
.focus-yellow-0:focus { color: var( --yellow-0); }
.focus-yellow-1:focus { color: var( --yellow-1); }
.focus-yellow-2:focus { color: var( --yellow-2); }
.focus-yellow-3:focus { color: var( --yellow-3); }
.focus-yellow-4:focus { color: var( --yellow-4); }
.focus-yellow-5:focus { color: var( --yellow-5); }
.focus-yellow-6:focus { color: var( --yellow-6); }
.focus-yellow-7:focus { color: var( --yellow-7); }
.focus-yellow-8:focus { color: var( --yellow-8); }
.focus-yellow-9:focus { color: var( --yellow-9); }
.focus-yellow-10:focus { color: var( --yellow-10); }
.focus-yellow-11:focus { color: var( --yellow-11); }
.focus-green-0:focus { color: var( --green-0); }
.focus-green-1:focus { color: var( --green-1); }
.focus-green-2:focus { color: var( --green-2); }
.focus-green-3:focus { color: var( --green-3); }
.focus-green-4:focus { color: var( --green-4); }
.focus-green-5:focus { color: var( --green-5); }
.focus-green-6:focus { color: var( --green-6); }
.focus-green-7:focus { color: var( --green-7); }
.focus-green-8:focus { color: var( --green-8); }
.focus-green-9:focus { color: var( --green-9); }
.focus-green-10:focus { color: var( --green-10); }
.focus-green-11:focus { color: var( --green-11); }
.focus-teal-0:focus { color: var( --teal-0); }
.focus-teal-1:focus { color: var( --teal-1); }
.focus-teal-2:focus { color: var( --teal-2); }
.focus-teal-3:focus { color: var( --teal-3); }
.focus-teal-4:focus { color: var( --teal-4); }
.focus-teal-5:focus { color: var( --teal-5); }
.focus-teal-6:focus { color: var( --teal-6); }
.focus-teal-7:focus { color: var( --teal-7); }
.focus-teal-8:focus { color: var( --teal-8); }
.focus-teal-9:focus { color: var( --teal-9); }
.focus-teal-10:focus { color: var( --teal-10); }
.focus-teal-11:focus { color: var( --teal-11); }
.focus-cyan-0:focus { color: var( --cyan-0); }
.focus-cyan-1:focus { color: var( --cyan-1); }
.focus-cyan-2:focus { color: var( --cyan-2); }
.focus-cyan-3:focus { color: var( --cyan-3); }
.focus-cyan-4:focus { color: var( --cyan-4); }
.focus-cyan-5:focus { color: var( --cyan-5); }
.focus-cyan-6:focus { color: var( --cyan-6); }
.focus-cyan-7:focus { color: var( --cyan-7); }
.focus-cyan-8:focus { color: var( --cyan-8); }
.focus-cyan-9:focus { color: var( --cyan-9); }
.focus-cyan-10:focus { color: var( --cyan-10); }
.focus-cyan-11:focus { color: var( --cyan-11); }

/* Background colors */

.focus-bg-overlay-tint-0:focus { background-color: var( --overlay-tint-0); }
.focus-bg-overlay-tint-1:focus { background-color: var( --overlay-tint-1); }
.focus-bg-overlay-tint-2:focus { background-color: var( --overlay-tint-2); }
.focus-bg-overlay-tint-3:focus { background-color: var( --overlay-tint-3); }
.focus-bg-overlay-tint-4:focus { background-color: var( --overlay-tint-4); }
.focus-bg-overlay-tint-5:focus { background-color: var( --overlay-tint-5); }
.focus-bg-overlay-tint-6:focus { background-color: var( --overlay-tint-6); }
.focus-bg-overlay-tint-7:focus { background-color: var( --overlay-tint-7); }
.focus-bg-overlay-tint-8:focus { background-color: var( --overlay-tint-8); }
.focus-bg-overlay-tint-9:focus { background-color: var( --overlay-tint-9); }
.focus-bg-overlay-tint-10:focus { background-color: var( --overlay-tint-10); }
.focus-bg-overlay-tint-11:focus { background-color: var( --overlay-tint-11); }
.focus-bg-overlay-shadow-0:focus { background-color: var( --overlay-shadow-0); }
.focus-bg-overlay-shadow-1:focus { background-color: var( --overlay-shadow-1); }
.focus-bg-overlay-shadow-2:focus { background-color: var( --overlay-shadow-2); }
.focus-bg-overlay-shadow-3:focus { background-color: var( --overlay-shadow-3); }
.focus-bg-overlay-shadow-4:focus { background-color: var( --overlay-shadow-4); }
.focus-bg-overlay-shadow-5:focus { background-color: var( --overlay-shadow-5); }
.focus-bg-overlay-shadow-6:focus { background-color: var( --overlay-shadow-6); }
.focus-bg-overlay-shadow-7:focus { background-color: var( --overlay-shadow-7); }
.focus-bg-overlay-shadow-8:focus { background-color: var( --overlay-shadow-8); }
.focus-bg-overlay-shadow-9:focus { background-color: var( --overlay-shadow-9); }
.focus-bg-overlay-shadow-10:focus { background-color: var( --overlay-shadow-10); }
.focus-bg-overlay-shadow-11:focus { background-color: var( --overlay-shadow-11); }
.focus-bg-gray-0:focus { background-color: var( --gray-0); }
.focus-bg-gray-1:focus { background-color: var( --gray-1); }
.focus-bg-gray-2:focus { background-color: var( --gray-2); }
.focus-bg-gray-3:focus { background-color: var( --gray-3); }
.focus-bg-gray-4:focus { background-color: var( --gray-4); }
.focus-bg-gray-5:focus { background-color: var( --gray-5); }
.focus-bg-gray-6:focus { background-color: var( --gray-6); }
.focus-bg-gray-7:focus { background-color: var( --gray-7); }
.focus-bg-gray-8:focus { background-color: var( --gray-8); }
.focus-bg-gray-9:focus { background-color: var( --gray-9); }
.focus-bg-gray-10:focus { background-color: var( --gray-10); }
.focus-bg-gray-11:focus { background-color: var( --gray-11); }
.focus-bg-slate-gray-0:focus { background-color: var( --slate-gray-0); }
.focus-bg-slate-gray-1:focus { background-color: var( --slate-gray-1); }
.focus-bg-slate-gray-2:focus { background-color: var( --slate-gray-2); }
.focus-bg-slate-gray-3:focus { background-color: var( --slate-gray-3); }
.focus-bg-slate-gray-4:focus { background-color: var( --slate-gray-4); }
.focus-bg-slate-gray-5:focus { background-color: var( --slate-gray-5); }
.focus-bg-slate-gray-6:focus { background-color: var( --slate-gray-6); }
.focus-bg-slate-gray-7:focus { background-color: var( --slate-gray-7); }
.focus-bg-slate-gray-8:focus { background-color: var( --slate-gray-8); }
.focus-bg-slate-gray-9:focus { background-color: var( --slate-gray-9); }
.focus-bg-slate-gray-10:focus { background-color: var( --slate-gray-10); }
.focus-bg-slate-gray-11:focus { background-color: var( --slate-gray-11); }
.focus-bg-blue-0:focus { background-color: var( --blue-0); }
.focus-bg-blue-1:focus { background-color: var( --blue-1); }
.focus-bg-blue-2:focus { background-color: var( --blue-2); }
.focus-bg-blue-3:focus { background-color: var( --blue-3); }
.focus-bg-blue-4:focus { background-color: var( --blue-4); }
.focus-bg-blue-5:focus { background-color: var( --blue-5); }
.focus-bg-blue-6:focus { background-color: var( --blue-6); }
.focus-bg-blue-7:focus { background-color: var( --blue-7); }
.focus-bg-blue-8:focus { background-color: var( --blue-8); }
.focus-bg-blue-9:focus { background-color: var( --blue-9); }
.focus-bg-blue-10:focus { background-color: var( --blue-10); }
.focus-bg-blue-11:focus { background-color: var( --blue-11); }
.focus-bg-indigo-0:focus { background-color: var( --indigo-0); }
.focus-bg-indigo-1:focus { background-color: var( --indigo-1); }
.focus-bg-indigo-2:focus { background-color: var( --indigo-2); }
.focus-bg-indigo-3:focus { background-color: var( --indigo-3); }
.focus-bg-indigo-4:focus { background-color: var( --indigo-4); }
.focus-bg-indigo-5:focus { background-color: var( --indigo-5); }
.focus-bg-indigo-6:focus { background-color: var( --indigo-6); }
.focus-bg-indigo-7:focus { background-color: var( --indigo-7); }
.focus-bg-indigo-8:focus { background-color: var( --indigo-8); }
.focus-bg-indigo-9:focus { background-color: var( --indigo-9); }
.focus-bg-indigo-10:focus { background-color: var( --indigo-10); }
.focus-bg-indigo-11:focus { background-color: var( --indigo-11); }
.focus-bg-violet-0:focus { background-color: var( --violet-0); }
.focus-bg-violet-1:focus { background-color: var( --violet-1); }
.focus-bg-violet-2:focus { background-color: var( --violet-2); }
.focus-bg-violet-3:focus { background-color: var( --violet-3); }
.focus-bg-violet-4:focus { background-color: var( --violet-4); }
.focus-bg-violet-5:focus { background-color: var( --violet-5); }
.focus-bg-violet-6:focus { background-color: var( --violet-6); }
.focus-bg-violet-7:focus { background-color: var( --violet-7); }
.focus-bg-violet-8:focus { background-color: var( --violet-8); }
.focus-bg-violet-9:focus { background-color: var( --violet-9); }
.focus-bg-violet-10:focus { background-color: var( --violet-10); }
.focus-bg-violet-11:focus { background-color: var( --violet-11); }
.focus-bg-magenta-0:focus { background-color: var( --magenta-0); }
.focus-bg-magenta-1:focus { background-color: var( --magenta-1); }
.focus-bg-magenta-2:focus { background-color: var( --magenta-2); }
.focus-bg-magenta-3:focus { background-color: var( --magenta-3); }
.focus-bg-magenta-4:focus { background-color: var( --magenta-4); }
.focus-bg-magenta-5:focus { background-color: var( --magenta-5); }
.focus-bg-magenta-6:focus { background-color: var( --magenta-6); }
.focus-bg-magenta-7:focus { background-color: var( --magenta-7); }
.focus-bg-magenta-8:focus { background-color: var( --magenta-8); }
.focus-bg-magenta-9:focus { background-color: var( --magenta-9); }
.focus-bg-magenta-10:focus { background-color: var( --magenta-10); }
.focus-bg-magenta-11:focus { background-color: var( --magenta-11); }
.focus-bg-red-0:focus { background-color: var( --red-0); }
.focus-bg-red-1:focus { background-color: var( --red-1); }
.focus-bg-red-2:focus { background-color: var( --red-2); }
.focus-bg-red-3:focus { background-color: var( --red-3); }
.focus-bg-red-4:focus { background-color: var( --red-4); }
.focus-bg-red-5:focus { background-color: var( --red-5); }
.focus-bg-red-6:focus { background-color: var( --red-6); }
.focus-bg-red-7:focus { background-color: var( --red-7); }
.focus-bg-red-8:focus { background-color: var( --red-8); }
.focus-bg-red-9:focus { background-color: var( --red-9); }
.focus-bg-red-10:focus { background-color: var( --red-10); }
.focus-bg-red-11:focus { background-color: var( --red-11); }
.focus-bg-red-orange-0:focus { background-color: var( --red-orange-0); }
.focus-bg-red-orange-1:focus { background-color: var( --red-orange-1); }
.focus-bg-red-orange-2:focus { background-color: var( --red-orange-2); }
.focus-bg-red-orange-3:focus { background-color: var( --red-orange-3); }
.focus-bg-red-orange-4:focus { background-color: var( --red-orange-4); }
.focus-bg-red-orange-5:focus { background-color: var( --red-orange-5); }
.focus-bg-red-orange-6:focus { background-color: var( --red-orange-6); }
.focus-bg-red-orange-7:focus { background-color: var( --red-orange-7); }
.focus-bg-red-orange-8:focus { background-color: var( --red-orange-8); }
.focus-bg-red-orange-9:focus { background-color: var( --red-orange-9); }
.focus-bg-red-orange-10:focus { background-color: var( --red-orange-10); }
.focus-bg-red-orange-11:focus { background-color: var( --red-orange-11); }
.focus-bg-orange-0:focus { background-color: var( --orange-0); }
.focus-bg-orange-1:focus { background-color: var( --orange-1); }
.focus-bg-orange-2:focus { background-color: var( --orange-2); }
.focus-bg-orange-3:focus { background-color: var( --orange-3); }
.focus-bg-orange-4:focus { background-color: var( --orange-4); }
.focus-bg-orange-5:focus { background-color: var( --orange-5); }
.focus-bg-orange-6:focus { background-color: var( --orange-6); }
.focus-bg-orange-7:focus { background-color: var( --orange-7); }
.focus-bg-orange-8:focus { background-color: var( --orange-8); }
.focus-bg-orange-9:focus { background-color: var( --orange-9); }
.focus-bg-orange-10:focus { background-color: var( --orange-10); }
.focus-bg-orange-11:focus { background-color: var( --orange-11); }
.focus-bg-gold-0:focus { background-color: var( --gold-0); }
.focus-bg-gold-1:focus { background-color: var( --gold-1); }
.focus-bg-gold-2:focus { background-color: var( --gold-2); }
.focus-bg-gold-3:focus { background-color: var( --gold-3); }
.focus-bg-gold-4:focus { background-color: var( --gold-4); }
.focus-bg-gold-5:focus { background-color: var( --gold-5); }
.focus-bg-gold-6:focus { background-color: var( --gold-6); }
.focus-bg-gold-7:focus { background-color: var( --gold-7); }
.focus-bg-gold-8:focus { background-color: var( --gold-8); }
.focus-bg-gold-9:focus { background-color: var( --gold-9); }
.focus-bg-gold-10:focus { background-color: var( --gold-10); }
.focus-bg-gold-11:focus { background-color: var( --gold-11); }
.focus-bg-yellow-0:focus { background-color: var( --yellow-0); }
.focus-bg-yellow-1:focus { background-color: var( --yellow-1); }
.focus-bg-yellow-2:focus { background-color: var( --yellow-2); }
.focus-bg-yellow-3:focus { background-color: var( --yellow-3); }
.focus-bg-yellow-4:focus { background-color: var( --yellow-4); }
.focus-bg-yellow-5:focus { background-color: var( --yellow-5); }
.focus-bg-yellow-6:focus { background-color: var( --yellow-6); }
.focus-bg-yellow-7:focus { background-color: var( --yellow-7); }
.focus-bg-yellow-8:focus { background-color: var( --yellow-8); }
.focus-bg-yellow-9:focus { background-color: var( --yellow-9); }
.focus-bg-yellow-10:focus { background-color: var( --yellow-10); }
.focus-bg-yellow-11:focus { background-color: var( --yellow-11); }
.focus-bg-green-0:focus { background-color: var( --green-0); }
.focus-bg-green-1:focus { background-color: var( --green-1); }
.focus-bg-green-2:focus { background-color: var( --green-2); }
.focus-bg-green-3:focus { background-color: var( --green-3); }
.focus-bg-green-4:focus { background-color: var( --green-4); }
.focus-bg-green-5:focus { background-color: var( --green-5); }
.focus-bg-green-6:focus { background-color: var( --green-6); }
.focus-bg-green-7:focus { background-color: var( --green-7); }
.focus-bg-green-8:focus { background-color: var( --green-8); }
.focus-bg-green-9:focus { background-color: var( --green-9); }
.focus-bg-green-10:focus { background-color: var( --green-10); }
.focus-bg-green-11:focus { background-color: var( --green-11); }
.focus-bg-teal-0:focus { background-color: var( --teal-0); }
.focus-bg-teal-1:focus { background-color: var( --teal-1); }
.focus-bg-teal-2:focus { background-color: var( --teal-2); }
.focus-bg-teal-3:focus { background-color: var( --teal-3); }
.focus-bg-teal-4:focus { background-color: var( --teal-4); }
.focus-bg-teal-5:focus { background-color: var( --teal-5); }
.focus-bg-teal-6:focus { background-color: var( --teal-6); }
.focus-bg-teal-7:focus { background-color: var( --teal-7); }
.focus-bg-teal-8:focus { background-color: var( --teal-8); }
.focus-bg-teal-9:focus { background-color: var( --teal-9); }
.focus-bg-teal-10:focus { background-color: var( --teal-10); }
.focus-bg-teal-11:focus { background-color: var( --teal-11); }
.focus-bg-cyan-0:focus { background-color: var( --cyan-0); }
.focus-bg-cyan-1:focus { background-color: var( --cyan-1); }
.focus-bg-cyan-2:focus { background-color: var( --cyan-2); }
.focus-bg-cyan-3:focus { background-color: var( --cyan-3); }
.focus-bg-cyan-4:focus { background-color: var( --cyan-4); }
.focus-bg-cyan-5:focus { background-color: var( --cyan-5); }
.focus-bg-cyan-6:focus { background-color: var( --cyan-6); }
.focus-bg-cyan-7:focus { background-color: var( --cyan-7); }
.focus-bg-cyan-8:focus { background-color: var( --cyan-8); }
.focus-bg-cyan-9:focus { background-color: var( --cyan-9); }
.focus-bg-cyan-10:focus { background-color: var( --cyan-10); }
.focus-bg-cyan-11:focus { background-color: var( --cyan-11); }

