/*!!!

# SKINS

### Docs

http://tachyons.io/docs/themes/skins/

Classes for setting foreground and background colors on elements.
If you haven't declared a border color, but set border on an element, it will
be set to the current text color.
*/

/* Text colors */

.color-inherit {    color: inherit; }

.black-90 {         color: var(--black-90); }
.black-80 {         color: var(--black-80); }
.black-70 {         color: var(--black-70); }
.black-60 {         color: var(--black-60); }
.black-50 {         color: var(--black-50); }
.black-40 {         color: var(--black-40); }
.black-30 {         color: var(--black-30); }
.black-20 {         color: var(--black-20); }
.black-10 {         color: var(--black-10); }
.black-05 {         color: var(--black-05); }

.white-90 {         color: var(--white-90); }
.white-80 {         color: var(--white-80); }
.white-70 {         color: var(--white-70); }
.white-60 {         color: var(--white-60); }
.white-50 {         color: var(--white-50); }
.white-40 {         color: var(--white-40); }
.white-30 {         color: var(--white-30); }
.white-20 {         color: var(--white-20); }
.white-10 {         color: var(--white-10); }

.black {            color: var(--black); }
.gray-0 {           color: var(--gray-0); }
.gray-1 {           color: var(--gray-1); }
.gray-2 {           color: var(--gray-2); }
.gray-3 {           color: var(--gray-3); }
.gray-4 {           color: var(--gray-4); }
.gray-5 {           color: var(--gray-5); }
.gray-6 {           color: var(--gray-6); }
.gray-7 {           color: var(--gray-7); }
.gray-8 {           color: var(--gray-8); }
.gray-9 {           color: var(--gray-9); }
.gray-10 {           color: var(--gray-10); }
.white {            color: var(--white); }

.green-0 {          color: var(--green-0); }
.green-1 {          color: var(--green-1); }
.green-2 {          color: var(--green-2); }
.green-3 {          color: var(--green-3); }
.green-4 {          color: var(--green-4); }
.green-5 {          color: var(--green-5); }
.green-6 {          color: var(--green-6); }
.green-7 {          color: var(--green-7); }
.green-8 {          color: var(--green-8); }
.green-9 {          color: var(--green-9); }
.green-10 {         color: var(--green-10); }

.teal-0 {           color: var(--teal-0); }
.teal-1 {           color: var(--teal-1); }
.teal-2 {           color: var(--teal-2); }
.teal-3 {           color: var(--teal-3); }
.teal-4 {           color: var(--teal-4); }
.teal-5 {           color: var(--teal-5); }
.teal-6 {           color: var(--teal-6); }
.teal-7 {           color: var(--teal-7); }
.teal-8 {           color: var(--teal-8); }
.teal-9 {           color: var(--teal-9); }
.teal-10 {          color: var(--teal-10); }

.cyan-0 {           color: var(--cyan-0); }
.cyan-1 {           color: var(--cyan-1); }
.cyan-2 {           color: var(--cyan-2); }
.cyan-3 {           color: var(--cyan-3); }
.cyan-4 {           color: var(--cyan-4); }
.cyan-5 {           color: var(--cyan-5); }
.cyan-6 {           color: var(--cyan-6); }
.cyan-7 {           color: var(--cyan-7); }
.cyan-8 {           color: var(--cyan-8); }
.cyan-9 {           color: var(--cyan-9); }
.cyan-10 {          color: var(--cyan-10); }

.blue-0 {           color: var(--blue-0); }
.blue-1 {           color: var(--blue-1); }
.blue-2 {           color: var(--blue-2); }
.blue-3 {           color: var(--blue-3); }
.blue-4 {           color: var(--blue-4); }
.blue-5 {           color: var(--blue-5); }
.blue-6 {           color: var(--blue-6); }
.blue-7 {           color: var(--blue-7); }
.blue-8 {           color: var(--blue-8); }
.blue-9 {           color: var(--blue-9); }
.blue-10 {          color: var(--blue-10); }

.indigo-0 {         color: var(--indigo-0); }
.indigo-1 {         color: var(--indigo-1); }
.indigo-2 {         color: var(--indigo-2); }
.indigo-3 {         color: var(--indigo-3); }
.indigo-4 {         color: var(--indigo-4); }
.indigo-5 {         color: var(--indigo-5); }
.indigo-6 {         color: var(--indigo-6); }
.indigo-7 {         color: var(--indigo-7); }
.indigo-8 {         color: var(--indigo-8); }
.indigo-9 {         color: var(--indigo-9); }
.indigo-10 {        color: var(--indigo-10); }

.purple-0 {         color: var(--purple-0); }
.purple-1 {         color: var(--purple-1); }
.purple-2 {         color: var(--purple-2); }
.purple-3 {         color: var(--purple-3); }
.purple-4 {         color: var(--purple-4); }
.purple-5 {         color: var(--purple-5); }
.purple-6 {         color: var(--purple-6); }
.purple-7 {         color: var(--purple-7); }
.purple-8 {         color: var(--purple-8); }
.purple-9 {         color: var(--purple-9); }
.purple-10 {        color: var(--purple-10); }

.pink-0 {           color: var(--pink-0); }
.pink-1 {           color: var(--pink-1); }
.pink-2 {           color: var(--pink-2); }
.pink-3 {           color: var(--pink-3); }
.pink-4 {           color: var(--pink-4); }
.pink-5 {           color: var(--pink-5); }
.pink-6 {           color: var(--pink-6); }
.pink-7 {           color: var(--pink-7); }
.pink-8 {           color: var(--pink-8); }
.pink-9 {           color: var(--pink-9); }
.pink-10 {          color: var(--pink-10); }

.red-0 {            color: var(--red-0); }
.red-1 {            color: var(--red-1); }
.red-2 {            color: var(--red-2); }
.red-3 {            color: var(--red-3); }
.red-4 {            color: var(--red-4); }
.red-5 {            color: var(--red-5); }
.red-6 {            color: var(--red-6); }
.red-7 {            color: var(--red-7); }
.red-8 {            color: var(--red-8); }
.red-9 {            color: var(--red-9); }
.red-10 {           color: var(--red-10); }

.orange-0 {         color: var(--orange-0); }
.orange-1 {         color: var(--orange-1); }
.orange-2 {         color: var(--orange-2); }
.orange-3 {         color: var(--orange-3); }
.orange-4 {         color: var(--orange-4); }
.orange-5 {         color: var(--orange-5); }
.orange-6 {         color: var(--orange-6); }
.orange-7 {         color: var(--orange-7); }
.orange-8 {         color: var(--orange-8); }
.orange-9 {         color: var(--orange-9); }
.orange-10 {        color: var(--orange-10); }

.yellow-0 {         color: var(--yellow-0); }
.yellow-1 {         color: var(--yellow-1); }
.yellow-2 {         color: var(--yellow-2); }
.yellow-3 {         color: var(--yellow-3); }
.yellow-4 {         color: var(--yellow-4); }
.yellow-5 {         color: var(--yellow-5); }
.yellow-6 {         color: var(--yellow-6); }
.yellow-7 {         color: var(--yellow-7); }
.yellow-8 {         color: var(--yellow-8); }
.yellow-9 {         color: var(--yellow-9); }
.yellow-10 {        color: var(--yellow-10); }



/* Background colors */

.bg-transparent {   background-color: var(--transparent); }

.bg-black-90 {      background-color: var(--black-90); }
.bg-black-80 {      background-color: var(--black-80); }
.bg-black-70 {      background-color: var(--black-70); }
.bg-black-60 {      background-color: var(--black-60); }
.bg-black-50 {      background-color: var(--black-50); }
.bg-black-40 {      background-color: var(--black-40); }
.bg-black-30 {      background-color: var(--black-30); }
.bg-black-20 {      background-color: var(--black-20); }
.bg-black-10 {      background-color: var(--black-10); }
.bg-black-05 {      background-color: var(--black-05); }

.bg-white-90 {      background-color: var(--white-90); }
.bg-white-80 {      background-color: var(--white-80); }
.bg-white-70 {      background-color: var(--white-70); }
.bg-white-60 {      background-color: var(--white-60); }
.bg-white-50 {      background-color: var(--white-50); }
.bg-white-40 {      background-color: var(--white-40); }
.bg-white-30 {      background-color: var(--white-30); }
.bg-white-20 {      background-color: var(--white-20); }
.bg-white-10 {      background-color: var(--white-10); }

.bg-black {         background-color: var(--black); }
.bg-gray-0 {        background-color: var(--gray-0); }
.bg-gray-1 {        background-color: var(--gray-1); }
.bg-gray-2 {        background-color: var(--gray-2); }
.bg-gray-3 {        background-color: var(--gray-3); }
.bg-gray-4 {        background-color: var(--gray-4); }
.bg-gray-5 {        background-color: var(--gray-5); }
.bg-gray-6 {        background-color: var(--gray-6); }
.bg-gray-7 {        background-color: var(--gray-7); }
.bg-gray-8 {        background-color: var(--gray-8); }
.bg-gray-9 {        background-color: var(--gray-9); }
.bg-gray-10 {        background-color: var(--gray-10); }
.bg-white {         background-color: var(--white); }

.bg-green-0 {       background-color: var(--green-0); }
.bg-green-1 {       background-color: var(--green-1); }
.bg-green-2 {       background-color: var(--green-2); }
.bg-green-3 {       background-color: var(--green-3); }
.bg-green-4 {       background-color: var(--green-4); }
.bg-green-5 {       background-color: var(--green-5); }
.bg-green-6 {       background-color: var(--green-6); }
.bg-green-7 {       background-color: var(--green-7); }
.bg-green-8 {       background-color: var(--green-8); }
.bg-green-9 {       background-color: var(--green-9); }
.bg-green-10 {      background-color: var(--green-10); }

.bg-teal-0 {        background-color: var(--teal-0); }
.bg-teal-1 {        background-color: var(--teal-1); }
.bg-teal-2 {        background-color: var(--teal-2); }
.bg-teal-3 {        background-color: var(--teal-3); }
.bg-teal-4 {        background-color: var(--teal-4); }
.bg-teal-5 {        background-color: var(--teal-5); }
.bg-teal-6 {        background-color: var(--teal-6); }
.bg-teal-7 {        background-color: var(--teal-7); }
.bg-teal-8 {        background-color: var(--teal-8); }
.bg-teal-9 {        background-color: var(--teal-9); }
.bg-teal-10 {       background-color: var(--teal-10); }

.bg-cyan-0 {        background-color: var(--cyan-0); }
.bg-cyan-1 {        background-color: var(--cyan-1); }
.bg-cyan-2 {        background-color: var(--cyan-2); }
.bg-cyan-3 {        background-color: var(--cyan-3); }
.bg-cyan-4 {        background-color: var(--cyan-4); }
.bg-cyan-5 {        background-color: var(--cyan-5); }
.bg-cyan-6 {        background-color: var(--cyan-6); }
.bg-cyan-7 {        background-color: var(--cyan-7); }
.bg-cyan-8 {        background-color: var(--cyan-8); }
.bg-cyan-9 {        background-color: var(--cyan-9); }
.bg-cyan-10 {       background-color: var(--cyan-10); }

.bg-blue-0 {        background-color: var(--blue-0); }
.bg-blue-1 {        background-color: var(--blue-1); }
.bg-blue-2 {        background-color: var(--blue-2); }
.bg-blue-3 {        background-color: var(--blue-3); }
.bg-blue-4 {        background-color: var(--blue-4); }
.bg-blue-5 {        background-color: var(--blue-5); }
.bg-blue-6 {        background-color: var(--blue-6); }
.bg-blue-7 {        background-color: var(--blue-7); }
.bg-blue-8 {        background-color: var(--blue-8); }
.bg-blue-9 {        background-color: var(--blue-9); }
.bg-blue-10 {       background-color: var(--blue-10); }

.bg-indigo-0 {      background-color: var(--indigo-0); }
.bg-indigo-1 {      background-color: var(--indigo-1); }
.bg-indigo-2 {      background-color: var(--indigo-2); }
.bg-indigo-3 {      background-color: var(--indigo-3); }
.bg-indigo-4 {      background-color: var(--indigo-4); }
.bg-indigo-5 {      background-color: var(--indigo-5); }
.bg-indigo-6 {      background-color: var(--indigo-6); }
.bg-indigo-7 {      background-color: var(--indigo-7); }
.bg-indigo-8 {      background-color: var(--indigo-8); }
.bg-indigo-9 {      background-color: var(--indigo-9); }
.bg-indigo-10 {     background-color: var(--indigo-10); }

.bg-purple-0 {      background-color: var(--purple-0); }
.bg-purple-1 {      background-color: var(--purple-1); }
.bg-purple-2 {      background-color: var(--purple-2); }
.bg-purple-3 {      background-color: var(--purple-3); }
.bg-purple-4 {      background-color: var(--purple-4); }
.bg-purple-5 {      background-color: var(--purple-5); }
.bg-purple-6 {      background-color: var(--purple-6); }
.bg-purple-7 {      background-color: var(--purple-7); }
.bg-purple-8 {      background-color: var(--purple-8); }
.bg-purple-9 {      background-color: var(--purple-9); }
.bg-purple-10 {     background-color: var(--purple-10); }

.bg-pink-0 {        background-color: var(--pink-0); }
.bg-pink-1 {        background-color: var(--pink-1); }
.bg-pink-2 {        background-color: var(--pink-2); }
.bg-pink-3 {        background-color: var(--pink-3); }
.bg-pink-4 {        background-color: var(--pink-4); }
.bg-pink-5 {        background-color: var(--pink-5); }
.bg-pink-6 {        background-color: var(--pink-6); }
.bg-pink-7 {        background-color: var(--pink-7); }
.bg-pink-8 {        background-color: var(--pink-8); }
.bg-pink-9 {        background-color: var(--pink-9); }
.bg-pink-10 {       background-color: var(--pink-10); }

.bg-red-0 {         background-color: var(--red-0); }
.bg-red-1 {         background-color: var(--red-1); }
.bg-red-2 {         background-color: var(--red-2); }
.bg-red-3 {         background-color: var(--red-3); }
.bg-red-4 {         background-color: var(--red-4); }
.bg-red-5 {         background-color: var(--red-5); }
.bg-red-6 {         background-color: var(--red-6); }
.bg-red-7 {         background-color: var(--red-7); }
.bg-red-8 {         background-color: var(--red-8); }
.bg-red-9 {         background-color: var(--red-9); }
.bg-red-10 {        background-color: var(--red-10); }

.bg-orange-0 {      background-color: var(--orange-0); }
.bg-orange-1 {      background-color: var(--orange-1); }
.bg-orange-2 {      background-color: var(--orange-2); }
.bg-orange-3 {      background-color: var(--orange-3); }
.bg-orange-4 {      background-color: var(--orange-4); }
.bg-orange-5 {      background-color: var(--orange-5); }
.bg-orange-6 {      background-color: var(--orange-6); }
.bg-orange-7 {      background-color: var(--orange-7); }
.bg-orange-8 {      background-color: var(--orange-8); }
.bg-orange-9 {      background-color: var(--orange-9); }
.bg-orange-10 {     background-color: var(--orange-10); }

.bg-yellow-0 {      background-color: var(--yellow-0); }
.bg-yellow-1 {      background-color: var(--yellow-1); }
.bg-yellow-2 {      background-color: var(--yellow-2); }
.bg-yellow-3 {      background-color: var(--yellow-3); }
.bg-yellow-4 {      background-color: var(--yellow-4); }
.bg-yellow-5 {      background-color: var(--yellow-5); }
.bg-yellow-6 {      background-color: var(--yellow-6); }
.bg-yellow-7 {      background-color: var(--yellow-7); }
.bg-yellow-8 {      background-color: var(--yellow-8); }
.bg-yellow-9 {      background-color: var(--yellow-9); }
.bg-yellow-10 {     background-color: var(--yellow-10); }
