/*

   COLOR VARIABLES

   Variables to set colors for
   color, background-color, and border-color

*/

/* variables */
:root {

  --black-100: rgba(0,0,0,1);
  --black-90: rgba(0,0,0,.9);
  --black-80: rgba(0,0,0,.8);
  --black-70: rgba(0,0,0,.7);
  --black-60: rgba(0,0,0,.6);
  --black-50: rgba(0,0,0,.5);
  --black-40: rgba(0,0,0,.4);
  --black-30: rgba(0,0,0,.3);
  --black-20: rgba(0,0,0,.2);
  --black-10: rgba(0,0,0,.1);
  --black-05: rgba(0,0,0,.05);

  --white-100: rgba(255,255,255,1);
  --white-90: rgba(255,255,255,.9);
  --white-80: rgba(255,255,255,.8);
  --white-70: rgba(255,255,255,.7);
  --white-60: rgba(255,255,255,.6);
  --white-50: rgba(255,255,255,.5);
  --white-40: rgba(255,255,255,.4);
  --white-30: rgba(255,255,255,.3);
  --white-20: rgba(255,255,255,.2);
  --white-10: rgba(255,255,255,.1);

  --black: #000;
  --near-black: #111;
  --dark-gray:#333;
  --mid-gray:#555;
  --gray: #777;
  --silver: #999;
  --light-silver: #aaa;
  --moon-gray: #ccc;
  --light-gray: #eee;
  --near-white: #f4f4f4;
  --white: #fff;

  --blue: #0074D9;
  --light-blue: #64a8ff;
  --lightest-blue: #a2dfff;
  --dark-blue: #0045a1;
  --darkest-blue: #002f86;

  --yellow: #fff93c;
  --light-yellow: #fffa60;
  --lightest-yellow: #fffca6;
  --dark-yellow: #e2c100;
  --darkest-yellow: #c4a600;

  --orange: #FF851B;
  --light-orange: #ffa942;
  --lightest-orange: #ffc55d;
  --dark-orange: #d05e00;
  --darkest-orange: #b14400;

  --red: #d82c2c;
  --light-red: #f94f44;
  --lightest-red: #ff6c5c;
  --dark-red: #bd001a;
  --darkest-red: #9d0003;

  --teal: #27bfa8;
  --light-teal: #4eddc5;
  --lightest-teal: #6ffae0;
  --dark-teal: #25a28f;
  --darkest-teal: #008876;

  --green: #3D9970;
  --light-green: #5ab48a;
  --lightest-green: #75d0a4;
  --dark-green: #1e7f58;
  --darkest-green: #006540;

  --pink: #F012BE;
  --light-pink: #ff57e8;
  --lightest-pink: #ff81ff;
  --dark-pink: #d100a3;
  --darkest-pink: #b20088;

  --purple: #980bc6;
  --light-purple: #b536e2;
  --lightest-purple: #d355ff;
  --dark-purple: #7b00a9;
  --darkest-purple: #5f008e;
}


/*

   SKINS

*/




/* Text colors */

.black-100 {        color: var(--black-100); }
.black-90 {         color: var(--black-90); }
.black-80 {         color: var(--black-80); }
.black-70 {         color: var(--black-70); }
.black-60 {         color: var(--black-60); }
.black-50 {         color: var(--black-50); }
.black-40 {         color: var(--black-40); }
.black-30 {         color: var(--black-30); }
.black-20 {         color: var(--black-20); }
.black-10 {         color: var(--black-10); }
.black-05 {         color: var(--black-05); }

.bg-black-100 {        background-color: var(--black-100); }
.bg-black-90 {         background-color: var(--black-90); }
.bg-black-80 {         background-color: var(--black-80); }
.bg-black-70 {         background-color: var(--black-70); }
.bg-black-60 {         background-color: var(--black-60); }
.bg-black-50 {         background-color: var(--black-50); }
.bg-black-40 {         background-color: var(--black-40); }
.bg-black-30 {         background-color: var(--black-30); }
.bg-black-20 {         background-color: var(--black-20); }
.bg-black-10 {         background-color: var(--black-10); }
.bg-black-05 {         background-color: var(--black-05); }

.white-100 {         color: var(--white-100); }
.white-90 {         color: var(--white-90); }
.white-80 {         color: var(--white-80); }
.white-70 {         color: var(--white-70); }
.white-60 {         color: var(--white-60); }
.white-50 {         color: var(--white-50); }
.white-40 {         color: var(--white-40); }
.white-30 {         color: var(--white-30); }
.white-20 {         color: var(--white-20); }
.white-10 {         color: var(--white-10); }

.bg-white-100 {       background-color: var(--white-100); }
.bg-white-90 {        background-color: var(--white-90); }
.bg-white-80 {        background-color: var(--white-80); }
.bg-white-70 {        background-color: var(--white-70); }
.bg-white-60 {        background-color: var(--white-60); }
.bg-white-50 {        background-color: var(--white-50); }
.bg-white-40 {        background-color: var(--white-40); }
.bg-white-30 {        background-color: var(--white-30); }
.bg-white-20 {        background-color: var(--white-20); }
.bg-white-10 {        background-color: var(--white-10); }

.black {         color: var(--near-black); }
.dark-gray {     color: var(--dark-gray); }
.mid-gray {      color: var(--mid-gray); }
.gray {          color: var(--gray); }
.silver  {       color: var(--silver); }
.light-silver {  color: var(--light-silver); }
.light-gray {    color: var(--light-gray); }
.near-white {    color: var(--near-white); }
.white {         color: var(--white); }

.blue { color: var(--blue); }
.light-blue { color: var(--light-blue); }
.lightest-blue { color: var(--lightest-blue); }
.dark-blue { color: var(--dark-blue); }
.darkest-blue { color: var(--darkest-blue); }
.yellow { color: var(--yellow); }
.light-yellow { color: var(--light-yellow); }
.lightest-yellow { color: var(--lightest-yellow); }
.dark-yellow { color: var(--dark-yellow); }
.darkest-yellow { color: var(--darkest-yellow); }
.orange { color: var(--orange); }
.light-orange { color: var(--light-orange); }
.lightest-orange { color: var(--lightest-orange); }
.dark-orange { color: var(--dark-orange); }
.darkest-orange { color: var(--darkest-orange); }
.red { color: var(--red); }
.light-red { color: var(--light-red); }
.lightest-red { color: var(--lightest-red); }
.dark-red { color: var(--dark-red); }
.darkest-red { color: var(--darkest-red); }
.teal { color: var(--teal); }
.light-teal { color: var(--light-teal); }
.lightest-teal { color: var(--lightest-teal); }
.dark-teal { color: var(--dark-teal); }
.darkest-teal { color: var(--darkest-teal); }
.green { color: var(--green); }
.light-green { color: var(--light-green); }
.lightest-green { color: var(--lightest-green); }
.dark-green { color: var(--dark-green); }
.darkest-green { color: var(--darkest-green); }
.pink { color: var(--pink); }
.light-pink { color: var(--light-pink); }
.lightest-pink { color: var(--lightest-pink); }
.dark-pink { color: var(--dark-pink); }
.darkest-pink { color: var(--darkest-pink); }
.purple { color: var(--purple); }
.light-purple { color: var(--light-purple); }
.lightest-purple { color: var(--lightest-purple); }
.dark-purple { color: var(--dark-purple); }
.darkest-purple { color: var(--darkest-purple); }

/* Background colors */

.bg-black {         background-color: var(--near-black); }
.bg-dark-gray {     background-color: var(--dark-gray); }
.bg-mid-gray {      background-color: var(--mid-gray); }
.bg-gray {          background-color: var(--gray); }
.bg-silver  {       background-color: var(--silver); }
.bg-light-silver {  background-color: var(--light-silver); }
.bg-light-gray {    background-color: var(--light-gray); }
.bg-near-white {    background-color: var(--near-white); }
.bg-white {         background-color: var(--white); }

.bg-blue { background-color: var(--blue); }
.bg-light-blue { background-color: var(--light-blue); }
.bg-lightest-blue { background-color: var(--lightest-blue); }
.bg-dark-blue { background-color: var(--dark-blue); }
.bg-darkest-blue { background-color: var(--darkest-blue); }
.bg-yellow { background-color: var(--yellow); }
.bg-light-yellow { background-color: var(--light-yellow); }
.bg-lightest-yellow { background-color: var(--lightest-yellow); }
.bg-dark-yellow { background-color: var(--dark-yellow); }
.bg-darkest-yellow { background-color: var(--darkest-yellow); }
.bg-orange { background-color: var(--orange); }
.bg-light-orange { background-color: var(--light-orange); }
.bg-lightest-orange { background-color: var(--lightest-orange); }
.bg-dark-orange { background-color: var(--dark-orange); }
.bg-darkest-orange { background-color: var(--darkest-orange); }
.bg-red { background-color: var(--red); }
.bg-light-red { background-color: var(--light-red); }
.bg-lightest-red { background-color: var(--lightest-red); }
.bg-dark-red { background-color: var(--dark-red); }
.bg-darkest-red { background-color: var(--darkest-red); }
.bg-teal { background-color: var(--teal); }
.bg-light-teal { background-color: var(--light-teal); }
.bg-lightest-teal { background-color: var(--lightest-teal); }
.bg-dark-teal { background-color: var(--dark-teal); }
.bg-darkest-teal { background-color: var(--darkest-teal); }
.bg-green { background-color: var(--green); }
.bg-light-green { background-color: var(--light-green); }
.bg-lightest-green { background-color: var(--lightest-green); }
.bg-dark-green { background-color: var(--dark-green); }
.bg-darkest-green { background-color: var(--darkest-green); }
.bg-pink { background-color: var(--pink); }
.bg-light-pink { background-color: var(--light-pink); }
.bg-lightest-pink { background-color: var(--lightest-pink); }
.bg-dark-pink { background-color: var(--dark-pink); }
.bg-darkest-pink { background-color: var(--darkest-pink); }
.bg-purple { background-color: var(--purple); }
.bg-light-purple { background-color: var(--light-purple); }
.bg-lightest-purple { background-color: var(--lightest-purple); }
.bg-dark-purple { background-color: var(--dark-purple); }
.bg-darkest-purple { background-color: var(--darkest-purple); }

/* Skins for specific pseudoclasses */
.focus-black:focus { color: var(--black); }
.focus-near-black:focus { color: var(--near-black); }
.focus-dark-gray:focus { color: var(--dark-gray); }
.focus-mid-gray:focus { color: var(--mid-gray); }
.focus-gray:focus { color: var(--gray); }
.focus-silver:focus { color: var(--silver); }
.focus-light-silver:focus { color: var(--light-silver); }
.focus-moon-gray:focus { color: var(--moon-gray); }
.focus-light-gray:focus { color: var(--light-gray); }
.focus-near-white:focus { color: var(--near-white); }
.focus-white:focus { color: var(--white); }
.focus-blue:focus { color: var(--blue); }
.focus-light-blue:focus { color: var(--light-blue); }
.focus-lightest-blue:focus { color: var(--lightest-blue); }
.focus-dark-blue:focus { color: var(--dark-blue); }
.focus-darkest-blue:focus { color: var(--darkest-blue); }
.focus-yellow:focus { color: var(--yellow); }
.focus-light-yellow:focus { color: var(--light-yellow); }
.focus-lightest-yellow:focus { color: var(--lightest-yellow); }
.focus-dark-yellow:focus { color: var(--dark-yellow); }
.focus-darkest-yellow:focus { color: var(--darkest-yellow); }
.focus-orange:focus { color: var(--orange); }
.focus-light-orange:focus { color: var(--light-orange); }
.focus-lightest-orange:focus { color: var(--lightest-orange); }
.focus-dark-orange:focus { color: var(--dark-orange); }
.focus-darkest-orange:focus { color: var(--darkest-orange); }
.focus-red:focus { color: var(--red); }
.focus-light-red:focus { color: var(--light-red); }
.focus-lightest-red:focus { color: var(--lightest-red); }
.focus-dark-red:focus { color: var(--dark-red); }
.focus-darkest-red:focus { color: var(--darkest-red); }
.focus-teal:focus { color: var(--teal); }
.focus-light-teal:focus { color: var(--light-teal); }
.focus-lightest-teal:focus { color: var(--lightest-teal); }
.focus-dark-teal:focus { color: var(--dark-teal); }
.focus-darkest-teal:focus { color: var(--darkest-teal); }
.focus-green:focus { color: var(--green); }
.focus-light-green:focus { color: var(--light-green); }
.focus-lightest-green:focus { color: var(--lightest-green); }
.focus-dark-green:focus { color: var(--dark-green); }
.focus-darkest-green:focus { color: var(--darkest-green); }
.focus-pink:focus { color: var(--pink); }
.focus-light-pink:focus { color: var(--light-pink); }
.focus-lightest-pink:focus { color: var(--lightest-pink); }
.focus-dark-pink:focus { color: var(--dark-pink); }
.focus-darkest-pink:focus { color: var(--darkest-pink); }
.focus-purple:focus { color: var(--purple); }
.focus-light-purple:focus { color: var(--light-purple); }
.focus-lightest-purple:focus { color: var(--lightest-purple); }
.focus-dark-purple:focus { color: var(--dark-purple); }
.focus-darkest-purple:focus { color: var(--darkest-purple); }

.bg-focus-black:focus { background-color: var(--black); }
.bg-focus-near-black:focus { background-color: var(--near-black); }
.bg-focus-dark-gray:focus { background-color: var(--dark-gray); }
.bg-focus-mid-gray:focus { background-color: var(--mid-gray); }
.bg-focus-gray:focus { background-color: var(--gray); }
.bg-focus-silver:focus { background-color: var(--silver); }
.bg-focus-light-silver:focus { background-color: var(--light-silver); }
.bg-focus-moon-gray:focus { background-color: var(--moon-gray); }
.bg-focus-light-gray:focus { background-color: var(--light-gray); }
.bg-focus-near-white:focus { background-color: var(--near-white); }
.bg-focus-white:focus { background-color: var(--white); }
.bg-focus-blue:focus { background-color: var(--blue); }
.bg-focus-light-blue:focus { background-color: var(--light-blue); }
.bg-focus-lightest-blue:focus { background-color: var(--lightest-blue); }
.bg-focus-dark-blue:focus { background-color: var(--dark-blue); }
.bg-focus-darkest-blue:focus { background-color: var(--darkest-blue); }
.bg-focus-yellow:focus { background-color: var(--yellow); }
.bg-focus-light-yellow:focus { background-color: var(--light-yellow); }
.bg-focus-lightest-yellow:focus { background-color: var(--lightest-yellow); }
.bg-focus-dark-yellow:focus { background-color: var(--dark-yellow); }
.bg-focus-darkest-yellow:focus { background-color: var(--darkest-yellow); }
.bg-focus-orange:focus { background-color: var(--orange); }
.bg-focus-light-orange:focus { background-color: var(--light-orange); }
.bg-focus-lightest-orange:focus { background-color: var(--lightest-orange); }
.bg-focus-dark-orange:focus { background-color: var(--dark-orange); }
.bg-focus-darkest-orange:focus { background-color: var(--darkest-orange); }
.bg-focus-red:focus { background-color: var(--red); }
.bg-focus-light-red:focus { background-color: var(--light-red); }
.bg-focus-lightest-red:focus { background-color: var(--lightest-red); }
.bg-focus-dark-red:focus { background-color: var(--dark-red); }
.bg-focus-darkest-red:focus { background-color: var(--darkest-red); }
.bg-focus-teal:focus { background-color: var(--teal); }
.bg-focus-light-teal:focus { background-color: var(--light-teal); }
.bg-focus-lightest-teal:focus { background-color: var(--lightest-teal); }
.bg-focus-dark-teal:focus { background-color: var(--dark-teal); }
.bg-focus-darkest-teal:focus { background-color: var(--darkest-teal); }
.bg-focus-green:focus { background-color: var(--green); }
.bg-focus-light-green:focus { background-color: var(--light-green); }
.bg-focus-lightest-green:focus { background-color: var(--lightest-green); }
.bg-focus-dark-green:focus { background-color: var(--dark-green); }
.bg-focus-darkest-green:focus { background-color: var(--darkest-green); }
.bg-focus-pink:focus { background-color: var(--pink); }
.bg-focus-light-pink:focus { background-color: var(--light-pink); }
.bg-focus-lightest-pink:focus { background-color: var(--lightest-pink); }
.bg-focus-dark-pink:focus { background-color: var(--dark-pink); }
.bg-focus-darkest-pink:focus { background-color: var(--darkest-pink); }
.bg-focus-purple:focus { background-color: var(--purple); }
.bg-focus-light-purple:focus { background-color: var(--light-purple); }
.bg-focus-lightest-purple:focus { background-color: var(--lightest-purple); }
.bg-focus-dark-purple:focus { background-color: var(--dark-purple); }
.bg-focus-darkest-purple:focus { background-color: var(--darkest-purple); }

.hover-black:hover { color: var(--black); }
.hover-near-black:hover { color: var(--near-black); }
.hover-dark-gray:hover { color: var(--dark-gray); }
.hover-mid-gray:hover { color: var(--mid-gray); }
.hover-gray:hover { color: var(--gray); }
.hover-silver:hover { color: var(--silver); }
.hover-light-silver:hover { color: var(--light-silver); }
.hover-moon-gray:hover { color: var(--moon-gray); }
.hover-light-gray:hover { color: var(--light-gray); }
.hover-near-white:hover { color: var(--near-white); }
.hover-white:hover { color: var(--white); }
.hover-blue:hover { color: var(--blue); }
.hover-light-blue:hover { color: var(--light-blue); }
.hover-lightest-blue:hover { color: var(--lightest-blue); }
.hover-dark-blue:hover { color: var(--dark-blue); }
.hover-darkest-blue:hover { color: var(--darkest-blue); }
.hover-yellow:hover { color: var(--yellow); }
.hover-light-yellow:hover { color: var(--light-yellow); }
.hover-lightest-yellow:hover { color: var(--lightest-yellow); }
.hover-dark-yellow:hover { color: var(--dark-yellow); }
.hover-darkest-yellow:hover { color: var(--darkest-yellow); }
.hover-orange:hover { color: var(--orange); }
.hover-light-orange:hover { color: var(--light-orange); }
.hover-lightest-orange:hover { color: var(--lightest-orange); }
.hover-dark-orange:hover { color: var(--dark-orange); }
.hover-darkest-orange:hover { color: var(--darkest-orange); }
.hover-red:hover { color: var(--red); }
.hover-light-red:hover { color: var(--light-red); }
.hover-lightest-red:hover { color: var(--lightest-red); }
.hover-dark-red:hover { color: var(--dark-red); }
.hover-darkest-red:hover { color: var(--darkest-red); }
.hover-teal:hover { color: var(--teal); }
.hover-light-teal:hover { color: var(--light-teal); }
.hover-lightest-teal:hover { color: var(--lightest-teal); }
.hover-dark-teal:hover { color: var(--dark-teal); }
.hover-darkest-teal:hover { color: var(--darkest-teal); }
.hover-green:hover { color: var(--green); }
.hover-light-green:hover { color: var(--light-green); }
.hover-lightest-green:hover { color: var(--lightest-green); }
.hover-dark-green:hover { color: var(--dark-green); }
.hover-darkest-green:hover { color: var(--darkest-green); }
.hover-pink:hover { color: var(--pink); }
.hover-light-pink:hover { color: var(--light-pink); }
.hover-lightest-pink:hover { color: var(--lightest-pink); }
.hover-dark-pink:hover { color: var(--dark-pink); }
.hover-darkest-pink:hover { color: var(--darkest-pink); }
.hover-purple:hover { color: var(--purple); }
.hover-light-purple:hover { color: var(--light-purple); }
.hover-lightest-purple:hover { color: var(--lightest-purple); }
.hover-dark-purple:hover { color: var(--dark-purple); }
.hover-darkest-purple:hover { color: var(--darkest-purple); }

.bg-hover-black:hover { background-color: var(--black); }
.bg-hover-near-black:hover { background-color: var(--near-black); }
.bg-hover-dark-gray:hover { background-color: var(--dark-gray); }
.bg-hover-mid-gray:hover { background-color: var(--mid-gray); }
.bg-hover-gray:hover { background-color: var(--gray); }
.bg-hover-silver:hover { background-color: var(--silver); }
.bg-hover-light-silver:hover { background-color: var(--light-silver); }
.bg-hover-moon-gray:hover { background-color: var(--moon-gray); }
.bg-hover-light-gray:hover { background-color: var(--light-gray); }
.bg-hover-near-white:hover { background-color: var(--near-white); }
.bg-hover-white:hover { background-color: var(--white); }
.bg-hover-blue:hover { background-color: var(--blue); }
.bg-hover-light-blue:hover { background-color: var(--light-blue); }
.bg-hover-lightest-blue:hover { background-color: var(--lightest-blue); }
.bg-hover-dark-blue:hover { background-color: var(--dark-blue); }
.bg-hover-darkest-blue:hover { background-color: var(--darkest-blue); }
.bg-hover-yellow:hover { background-color: var(--yellow); }
.bg-hover-light-yellow:hover { background-color: var(--light-yellow); }
.bg-hover-lightest-yellow:hover { background-color: var(--lightest-yellow); }
.bg-hover-dark-yellow:hover { background-color: var(--dark-yellow); }
.bg-hover-darkest-yellow:hover { background-color: var(--darkest-yellow); }
.bg-hover-orange:hover { background-color: var(--orange); }
.bg-hover-light-orange:hover { background-color: var(--light-orange); }
.bg-hover-lightest-orange:hover { background-color: var(--lightest-orange); }
.bg-hover-dark-orange:hover { background-color: var(--dark-orange); }
.bg-hover-darkest-orange:hover { background-color: var(--darkest-orange); }
.bg-hover-red:hover { background-color: var(--red); }
.bg-hover-light-red:hover { background-color: var(--light-red); }
.bg-hover-lightest-red:hover { background-color: var(--lightest-red); }
.bg-hover-dark-red:hover { background-color: var(--dark-red); }
.bg-hover-darkest-red:hover { background-color: var(--darkest-red); }
.bg-hover-teal:hover { background-color: var(--teal); }
.bg-hover-light-teal:hover { background-color: var(--light-teal); }
.bg-hover-lightest-teal:hover { background-color: var(--lightest-teal); }
.bg-hover-dark-teal:hover { background-color: var(--dark-teal); }
.bg-hover-darkest-teal:hover { background-color: var(--darkest-teal); }
.bg-hover-green:hover { background-color: var(--green); }
.bg-hover-light-green:hover { background-color: var(--light-green); }
.bg-hover-lightest-green:hover { background-color: var(--lightest-green); }
.bg-hover-dark-green:hover { background-color: var(--dark-green); }
.bg-hover-darkest-green:hover { background-color: var(--darkest-green); }
.bg-hover-pink:hover { background-color: var(--pink); }
.bg-hover-light-pink:hover { background-color: var(--light-pink); }
.bg-hover-lightest-pink:hover { background-color: var(--lightest-pink); }
.bg-hover-dark-pink:hover { background-color: var(--dark-pink); }
.bg-hover-darkest-pink:hover { background-color: var(--darkest-pink); }
.bg-hover-purple:hover { background-color: var(--purple); }
.bg-hover-light-purple:hover { background-color: var(--light-purple); }
.bg-hover-lightest-purple:hover { background-color: var(--lightest-purple); }
.bg-hover-dark-purple:hover { background-color: var(--dark-purple); }
.bg-hover-darkest-purple:hover { background-color: var(--darkest-purple); }



