/*

  STYLES

  Add custom styles here.

*/

.primary { color: var( --primary); }
.bg-primary { background-color: var( --primary); }

.accent { color: var( --accent); }
.bg-accent { background-color: var( --accent); }
