/*

  STYLES

  Add custom styles here.

*/

/* Custom partials */
@import './_fonts.css';
@import './_amp.css';
@import './_buttons.css';
@import './_columns.css';
@import './_grid.css';


html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: SlatePro-Light, SlatePro, sans-serif;
  font-size: 16px;
  line-height: 1.33;
}


h1,
h2,
h3 {
  margin: 0 0 var(--spacing-medium) 0;
  color: var(--blue);
  font-family: 'bree-serif', serif;
  font-size: 1.5rem;
  font-weight: 300;
}

/* Body copy size (18px) */
p,
dt,
dd,
li {
  font-size: 1.125rem;
}

dt {
  font-weight: bold;
}

section>h1,
section>h2 {
  border-top: 1px solid var(--light-gray);
  padding-top: var(--spacing-large);
}


/* 
  * Add a triangle to the first CTA
*/

.page-aside-cta:before {
  content: " ";
  border: .7rem solid transparent;
  border-top-color: #fff;
  border-width: .7rem 1.05rem 0;
  left: 45%;
  position: absolute;
  top: 0;
  transition: border-width .3s;
}


/* 
  * Page Structure
  * Implemented using CSS Grid
  * Browsers that don't support CSS grid use float fallbacks. Float classes
  * applied using tacyhons.
*/

  .page-wrapper {
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    grid-row-gap: 22px;
  }
  
  .page-header {
    grid-column: 1 / -1;
  }
  
  .page-header {
    grid-row: 1;
  }
  
  .page-aside-cta {
    grid-row: 2;
  }
  
  .page-content {
    grid-row: 3;
  }
  
@media screen and (min-width: 48em) {
  .page-wrapper {
    grid-template-columns: 5fr 3fr;
    grid-template-rows: auto auto;
    grid-column-gap: 26px;
  }
  
  .page-aside-cta {
    grid-column: 2;
  }

  .page-content {
    grid-column: 1;
    grid-row: 2;
  }
}

