/*

  SVG FILLS

*/

.fill-black { fill: var(--black); }
.fill-near-black { fill: var(--near-black); }
.fill-dark-gray { fill: var(--dark-gray); }
.fill-mid-gray { fill: var(--mid-gray); }
.fill-gray { fill: var(--gray); }
.fill-silver { fill: var(--silver); }
.fill-light-silver { fill: var(--light-silver); }
.fill-moon-gray { fill: var(--moon-gray); }
.fill-light-gray { fill: var(--light-gray); }
.fill-near-white { fill: var(--near-white); }
.fill-white { fill: var(--white); }
.fill-blue { fill: var(--blue); }
.fill-light-blue { fill: var(--light-blue); }
.fill-lightest-blue { fill: var(--lightest-blue); }
.fill-dark-blue { fill: var(--dark-blue); }
.fill-darkest-blue { fill: var(--darkest-blue); }
.fill-yellow { fill: var(--yellow); }
.fill-light-yellow { fill: var(--light-yellow); }
.fill-lightest-yellow { fill: var(--lightest-yellow); }
.fill-dark-yellow { fill: var(--dark-yellow); }
.fill-darkest-yellow { fill: var(--darkest-yellow); }
.fill-orange { fill: var(--orange); }
.fill-light-orange { fill: var(--light-orange); }
.fill-lightest-orange { fill: var(--lightest-orange); }
.fill-dark-orange { fill: var(--dark-orange); }
.fill-darkest-orange { fill: var(--darkest-orange); }
.fill-red { fill: var(--red); }
.fill-light-red { fill: var(--light-red); }
.fill-lightest-red { fill: var(--lightest-red); }
.fill-dark-red { fill: var(--dark-red); }
.fill-darkest-red { fill: var(--darkest-red); }
.fill-teal { fill: var(--teal); }
.fill-light-teal { fill: var(--light-teal); }
.fill-lightest-teal { fill: var(--lightest-teal); }
.fill-dark-teal { fill: var(--dark-teal); }
.fill-darkest-teal { fill: var(--darkest-teal); }
.fill-green { fill: var(--green); }
.fill-light-green { fill: var(--light-green); }
.fill-lightest-green { fill: var(--lightest-green); }
.fill-dark-green { fill: var(--dark-green); }
.fill-darkest-green { fill: var(--darkest-green); }
.fill-pink { fill: var(--pink); }
.fill-light-pink { fill: var(--light-pink); }
.fill-lightest-pink { fill: var(--lightest-pink); }
.fill-dark-pink { fill: var(--dark-pink); }
.fill-darkest-pink { fill: var(--darkest-pink); }
.fill-purple { fill: var(--purple); }
.fill-light-purple { fill: var(--light-purple); }
.fill-lightest-purple { fill: var(--lightest-purple); }
.fill-dark-purple { fill: var(--dark-purple); }
.fill-darkest-purple { fill: var(--darkest-purple); }
