/*

  SVG STROKES

*/

.sw-4 { stroke-width: 4; }

.stroke-black { stroke: var(--black); }
.stroke-near-black { stroke: var(--near-black); }
.stroke-dark-gray { stroke: var(--dark-gray); }
.stroke-mid-gray { stroke: var(--mid-gray); }
.stroke-gray { stroke: var(--gray); }
.stroke-silver { stroke: var(--silver); }
.stroke-light-silver { stroke: var(--light-silver); }
.stroke-moon-gray { stroke: var(--moon-gray); }
.stroke-light-gray { stroke: var(--light-gray); }
.stroke-near-white { stroke: var(--near-white); }
.stroke-white { stroke: var(--white); }
.stroke-blue { stroke: var(--blue); }
.stroke-light-blue { stroke: var(--light-blue); }
.stroke-lightest-blue { stroke: var(--lightest-blue); }
.stroke-dark-blue { stroke: var(--dark-blue); }
.stroke-darkest-blue { stroke: var(--darkest-blue); }
.stroke-yellow { stroke: var(--yellow); }
.stroke-light-yellow { stroke: var(--light-yellow); }
.stroke-lightest-yellow { stroke: var(--lightest-yellow); }
.stroke-dark-yellow { stroke: var(--dark-yellow); }
.stroke-darkest-yellow { stroke: var(--darkest-yellow); }
.stroke-orange { stroke: var(--orange); }
.stroke-light-orange { stroke: var(--light-orange); }
.stroke-lightest-orange { stroke: var(--lightest-orange); }
.stroke-dark-orange { stroke: var(--dark-orange); }
.stroke-darkest-orange { stroke: var(--darkest-orange); }
.stroke-red { stroke: var(--red); }
.stroke-light-red { stroke: var(--light-red); }
.stroke-lightest-red { stroke: var(--lightest-red); }
.stroke-dark-red { stroke: var(--dark-red); }
.stroke-darkest-red { stroke: var(--darkest-red); }
.stroke-teal { stroke: var(--teal); }
.stroke-light-teal { stroke: var(--light-teal); }
.stroke-lightest-teal { stroke: var(--lightest-teal); }
.stroke-dark-teal { stroke: var(--dark-teal); }
.stroke-darkest-teal { stroke: var(--darkest-teal); }
.stroke-green { stroke: var(--green); }
.stroke-light-green { stroke: var(--light-green); }
.stroke-lightest-green { stroke: var(--lightest-green); }
.stroke-dark-green { stroke: var(--dark-green); }
.stroke-darkest-green { stroke: var(--darkest-green); }
.stroke-pink { stroke: var(--pink); }
.stroke-light-pink { stroke: var(--light-pink); }
.stroke-lightest-pink { stroke: var(--lightest-pink); }
.stroke-dark-pink { stroke: var(--dark-pink); }
.stroke-darkest-pink { stroke: var(--darkest-pink); }
.stroke-purple { stroke: var(--purple); }
.stroke-light-purple { stroke: var(--light-purple); }
.stroke-lightest-purple { stroke: var(--lightest-purple); }
.stroke-dark-purple { stroke: var(--dark-purple); }
.stroke-darkest-purple { stroke: var(--darkest-purple); }
