/*

  TABLES
  Docs: http://tachyons.io/docs/elements/tables/

*/

.collapse {
    border-collapse: collapse;
    border-spacing: 0;
}

.striped--light:nth-child(odd) {
  background-color: var(--light-silver);
}

.stripe-dark:nth-child(odd) {
  background-color: var(--black-10);
}
