/*

  TABLES
  Docs: http://tachyons.io/docs/elements/tables/

*/

.collapse {
    border-collapse: collapse;
    border-spacing: 0;
}

.striped--light:nth-child(odd) {
  background-color: var(--gray-10);
}

.striped--dark:nth-child(odd) {
  background-color: var(--gray-0);
}
