/*

   TYPOGRAPHY

*/

.measure  {
  max-width: 30em;
}

.indent   {
  text-indent: 1em;
  margin-top: 0;
  margin-bottom: 0;
}

@media (--breakpoint-not-small){
  .measure-ns  {
    max-width: 30em;
  }
  .indent-ns   {
    text-indent: 1em;
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media (--breakpoint-medium) {
  .measure-m  { max-width: 30em; }
  .indent-m  {
    text-indent: 1em;
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media (--breakpoint-large) {
  .measure-l  { max-width: 30em; }
  .indent-l  {
    text-indent: 1em;
    margin-top: 0;
    margin-bottom: 0;
  }
}
