/*

   TYPOGRAPHY
   http://tachyons.io/docs/typography/measure/

   Media Query Extensions:
     -s = small
     -m  = medium
     -l  = large

*/


/* Measure is limited to 66 characters */
.measure {
  max-width: var(--measure, 66ch);
}

/* Measure is limited to ~80 characters */
.measure-wide {
  max-width: var(--measure-wide, 80ch);
}

/* Measure is limited to 45 characters */
.measure-narrow {
  max-width: var(--measure-narrow, 45ch);
}

/* Book paragraph style - paragraphs are indented with no vertical spacing. */
.indent {
  text-indent: 1em;
  margin-top: 0;
  margin-bottom: 0;
}

.small-caps {
  font-variant: small-caps;
}

/* Combine this class with a width to truncate text (or just leave as is to truncate at width of containing element. */

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@container (min-width:30em) {
  .measure-s { max-width: var(--measure, 66ch); }
  .measure-wide-s { max-width: var(--measure-wide, 80ch); }
  .measure-narrow-s { max-width: var(--measure-narrow, 45ch); }
  .small-caps-s { font-variant: small-caps; }
  .indent-s {
    text-indent: 1em;
    margin-top: 0;
    margin-bottom: 0;
  }
  .truncate-s {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@container (min-width:48em) {
  .measure-m { max-width: var(--measure, 66ch); }
  .measure-wide-m { max-width: var(--measure-wide, 80ch); }
  .measure-narrow-m { max-width: var(--measure-narrow, 45ch); }
  .small-caps-m { font-variant: small-caps; }
  .indent-m {
    text-indent: 1em;
    margin-top: 0;
    margin-bottom: 0;
  }
  .truncate-m {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@container (min-width:64em) {
  .measure-l { max-width: var(--measure, 66ch); }
  .measure-wide-l { max-width: var(--measure-wide, 80ch); }
  .measure-narrow-l { max-width: var(--measure-narrow, 45ch); }
  .small-caps-l { font-variant: small-caps; }
  .indent-l {
    text-indent: 1em;
    margin-top: 0;
    margin-bottom: 0;
  }
  .truncate-l {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
