/*

   TYPE SCALE
   Docs: http://tachyons.io/docs/typography/scale/

   Base:
    f = font-size

   Modifiers
     1 = 1st step in size scale
     2 = 2nd step in size scale
     3 = 3rd step in size scale
     4 = 4th step in size scale
     5 = 5th step in size scale
     6 = 6th step in size scale
     7 = 7th step in size scale

   Media Query Extensions:
     -s = small
     -m  = medium
     -l  = large
*/

/* Type Scale */

.f1 { font-size: .75rem; }
.f2 { font-size: .875rem; }
.f3 { font-size: 1rem; }
.f4 { font-size: 1.125rem; }
.f5 { font-size: 1.25rem; }
.f6 { font-size: 1.5rem; }
.f7 { font-size: 2rem; } 
.f8 { font-size: 3rem; } 
.f9 { font-size: 4rem; } 
.f10 { font-size: 6rem; } 
.f11 { font-size: 8rem; } 
.f12 { font-size: 12rem; } 


@media (--breakpoint-small){
  .f1-s { font-size: .75rem; }
  .f2-s { font-size: .875rem; }
  .f3-s { font-size: 1rem; }
  .f4-s { font-size: 1.125rem; }
  .f5-s { font-size: 1.25rem; }
  .f6-s { font-size: 1.5rem; }
  .f7-s { font-size: 2rem; } 
  .f8-s { font-size: 3rem; } 
  .f9-s { font-size: 4rem; } 
  .f10-s { font-size: 6rem; } 
  .f11-s { font-size: 8rem; } 
  .f12-s { font-size: 12rem; } 
}

@media (--breakpoint-medium) {
  .f1-m { font-size: .75rem; }
  .f2-m { font-size: .875rem; }
  .f3-m { font-size: 1rem; }
  .f4-m { font-size: 1.125rem; }
  .f5-m { font-size: 1.25rem; }
  .f6-m { font-size: 1.5rem; }
  .f7-m { font-size: 2rem; } 
  .f8-m { font-size: 3rem; } 
  .f9-m { font-size: 4rem; } 
  .f10-m { font-size: 6rem; } 
  .f11-m { font-size: 8rem; } 
  .f12-m { font-size: 12rem; } 
}

@media (--breakpoint-large) {
  .f1-l { font-size: .75rem; }
  .f2-l { font-size: .875rem; }
  .f3-l { font-size: 1rem; }
  .f4-l { font-size: 1.125rem; }
  .f5-l { font-size: 1.25rem; }
  .f6-l { font-size: 1.5rem; }
  .f7-l { font-size: 2rem; } 
  .f8-l { font-size: 3rem; } 
  .f9-l { font-size: 4rem; } 
  .f10-l { font-size: 6rem; } 
  .f11-l { font-size: 8rem; } 
  .f12-l { font-size: 12rem; } 
}
