/*!!!

# TYPE SCALE

### Docs

http://tachyons.io/docs/typography/scale/

### Base

- f = font-size

### Modifiers

- 1 = 1st step in size scale
- 2 = 2nd step in size scale
- 3 = 3rd step in size scale
- 4 = 4th step in size scale
- 5 = 5th step in size scale
- 6 = 6th step in size scale
- 7 = 7th step in size scale
- 8 = 8th step in size scale

### Media Query Extensions

- `-s` = small
- `-m` = medium
- `-l` = large
*/

/*
 * For Hero/Marketing Titles
 *
 * These generally are too large for mobile
 * so be careful using them on smaller screens.
 * */


/* Type Scale */

.f8 { font-size: 6rem; }
.f7 { font-size: 4rem; }
.f6 { font-size: 3rem; }
.f5 { font-size: 2rem; }
.f4 { font-size: 1.5rem; }
.f3 { font-size: 1rem; }
.f2 { font-size: .875rem; }
.f1 { font-size: .75rem; } /* Small and hard to read for many people so use with extreme caution */

@media (--breakpoint-small) {
  .f8-s { font-size: 6rem; }
  .f7-s { font-size: 4rem; }
  .f6-s { font-size: 3rem; }
  .f5-s { font-size: 2rem; }
  .f4-s { font-size: 1.5rem; }
  .f3-s { font-size: 1rem; }
  .f2-s { font-size: .875rem; }
  .f1-s { font-size: .75rem; }
}

@media (--breakpoint-medium) {
  .f8-m { font-size: 6rem; }
  .f7-m { font-size: 4rem; }
  .f6-m { font-size: 3rem; }
  .f5-m { font-size: 2rem; }
  .f4-m { font-size: 1.5rem; }
  .f3-m { font-size: 1rem; }
  .f2-m { font-size: .875rem; }
  .f1-m { font-size: .75rem; }
}

@media (--breakpoint-large) {
  .f8-l { font-size: 6rem; }
  .f7-l { font-size: 4rem; }
  .f6-l { font-size: 3rem; }
  .f5-l { font-size: 2rem; }
  .f4-l { font-size: 1.5rem; }
  .f3-l { font-size: 1rem; }
  .f2-l { font-size: .875rem; }
  .f1-l { font-size: .75rem; }
}
