@custom-media --breakpoint-not-small screen and (min-width: 48em);
@custom-media --breakpoint-medium screen and (min-width: 48em) and (max-width: 64em);
@custom-media --breakpoint-large screen and (min-width: 64em);

/*

   TYPE SCALE

*/

.mega  { font-size: 4rem; }
.f1    { font-size: 2rem; }
.f2    { font-size: 1.5rem; }
.f3    { font-size: 1.25rem; }
.f4    { font-size: 1rem; }
.f5,
.small { font-size: .85rem; }

@media (--breakpoint-not-small){
 .mega-ns { font-size: 4rem; }
 .f1-ns {   font-size: 2rem; }
 .f2-ns {   font-size: 1.5rem; }
 .f3-ns {   font-size: 1.25rem; }
 .f4-ns {   font-size: 1rem; }
 .f5-ns {   font-size: .85rem; }
}

@media (--breakpoint-medium) {
 .mega-m { font-size: 4rem; }
 .f1-m {   font-size: 2rem; }
 .f2-m {   font-size: 1.5rem; }
 .f3-m {   font-size: 1.25rem; }
 .f4-m {   font-size: 1rem; }
 .f5-m {   font-size: .85rem; }
}

@media (--breakpoint-large) {
 .mega-l { font-size: 4rem; }
 .f1-l   { font-size: 2rem; }
 .f2-l   { font-size: 1.5rem; }
 .f3-l   { font-size: 1.25rem; }
 .f4-l   { font-size: 1rem; }
 .f5-l   { font-size: .85rem; }
}
