/*

   UTILITIES

   Media Query Extensions:
     -s = small
     -m  = medium
     -l  = large

*/

.center {
  margin-right: auto;
  margin-left: auto;
}

.mr-auto { margin-right: auto; }
.ml-auto { margin-left:  auto; }

@media (--breakpoint-small){
  .center-s {
    margin-right: auto;
    margin-left: auto;
  }
  .mr-auto-s { margin-right: auto; }
  .ml-auto-s { margin-left:  auto; }
}

@media (--breakpoint-medium){
  .center-m {
    margin-right: auto;
    margin-left: auto;
  }
  .mr-auto-m { margin-right: auto; }
  .ml-auto-m { margin-left:  auto; }
}

@media (--breakpoint-large){
  .center-l {
    margin-right: auto;
    margin-left: auto;
  }
  .mr-auto-l { margin-right: auto; }
  .ml-auto-l { margin-left:  auto; }
}
