/*

   UTILITIES

*/

.aspect-ratio {
  height: 0;
  padding-top: 56.25%;
  position: relative;
}


.aspect-ratio--object {
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 100;
}

.overflow-container {
  overflow-y: scroll;
}

.center {
  margin-right: auto;
  margin-left: auto;
}


.square-25 { padding-top: 25%; }
.square-50 { padding-top: 50%; }

@media (--breakpoint-not-small){
.square-25-ns { padding-top: 25%; }
.square-50-ns { padding-top: 50%; }
}

@media (--breakpoint-medium){
.square-25-m { padding-top: 25%; }
.square-50-m { padding-top: 50%; }
}

@media (--breakpoint-large){
.square-25-l { padding-top: 25%; }
.square-50-l { padding-top: 50%; }
}
