/*

   VISIBILITY

   Media Query Extensions:
     -s  = small
     -m  = medium
     -l  = large

*/


/*
    Text that is hidden but accessible
    Ref: https://accessibility.18f.gov/hidden-content/
*/

.clip {
  border: 0; 
  clip: rect(0 0 0 0); 
  height: 1px; 
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

@media (--breakpoint-small) {
  .clip-s {
    border: 0; 
    clip: rect(0 0 0 0); 
    height: 1px; 
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
}

@media (--breakpoint-medium) {
  .clip-m {
    border: 0; 
    clip: rect(0 0 0 0); 
    height: 1px; 
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
}

@media (--breakpoint-large) {
  .clip-l {
    border: 0; 
    clip: rect(0 0 0 0); 
    height: 1px; 
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
}

