@custom-media --breakpoint-not-small screen and (min-width: 48em);
@custom-media --breakpoint-medium screen and (min-width: 48em) and (max-width: 64em);
@custom-media --breakpoint-large screen and (min-width: 64em);

/*

   WHITE SPACE

*/


.ws-norm    { white-space: normal; }
.ws-nowrap  { white-space: nowrap; }
.ws-pre     { white-space: pre; }

@media (--breakpoint-not-small) {
  .ws-norm-ns    { white-space: normal; }
  .ws-nowrap-ns  { white-space: nowrap; }
  .ws-pre-ns     { white-space: pre; }
}

@media (--breakpoint-medium) {
  .ws-norm-m    { white-space: normal; }
  .ws-nowrap-m  { white-space: nowrap; }
  .ws-pre-m     { white-space: pre; }
}

@media (--breakpoint-large) {
  .ws-norm-l    { white-space: normal; }
  .ws-nowrap-l  { white-space: nowrap; }
  .ws-pre-l     { white-space: pre; }
}

