/*

   WIDTHS
   Docs: http://tachyons.io/docs/layout/widths/

   Base:
     w = width

   Modifiers
     1 = 1st step in width scale
     2 = 2nd step in width scale
     3 = 3rd step in width scale
     4 = 4th step in width scale
     5 = 5th step in width scale
     6 = 6th step in width scale
     7 = 7th step in width scale
     8 = 8th step in width scale

     -10  = literal value 10%
     -20  = literal value 20%
     -25  = literal value 25%
     -30  = literal value 30%
     -33  = literal value 33%
     -34  = literal value 34%
     -40  = literal value 40%
     -50  = literal value 50%
     -60  = literal value 60%
     -70  = literal value 70%
     -75  = literal value 75%
     -80  = literal value 80%
     -90  = literal value 90%
     -100 = literal value 100%

     -third      = 100% / 3 (Not supported in opera mini or IE8)
     -two-thirds = 100% / 1.5 (Not supported in opera mini or IE8)
     -auto       = string value auto


   Media Query Extensions:
     -s = small
     -m  = medium
     -l  = large

*/

/* Width Scale */

.w0 {    width: var(--size-0, 0); }
.w1 {    width: var(--size-1, 1rem); }
.w2 {    width: var(--size-2, 2rem); }
.w3 {    width: var(--size-3, 3rem); }
.w4 {    width: var(--size-4, 4rem); }
.w5 {    width: var(--size-5, 8rem); }
.w6 {    width: var(--size-6, 16rem); }
.w7 {    width: var(--size-7, 32rem); }
.w8 {    width: var(--size-8, 64rem); }

.w-10 {  width:  10%; }
.w-20 {  width:  20%; }
.w-25 {  width:  25%; }
.w-50 {  width:  50%; }
.w-75 {  width:  75%; }
.w-100 { width: 100%; }

.w-third { width: calc(100% / 3); }
.w-two-thirds { width: calc(100% / 1.5); }
.w-auto { width: auto; }

@container (min-width:30em) {
  .w0-s {    width: var(--size-0, 0); }
  .w1-s {    width: var(--size-1, 1rem); }
  .w2-s {    width: var(--size-2, 2rem); }
  .w3-s {    width: var(--size-3, 3rem); }
  .w4-s {    width: var(--size-4, 4rem); }
  .w5-s {    width: var(--size-5, 8rem); }
  .w6-s {    width: var(--size-6, 16rem); }
  .w7-s {    width: var(--size-7, 32rem); }
  .w8-s {    width: var(--size-8, 64rem); }
  .w-10-s { width:  10%; }
  .w-20-s { width:  20%; }
  .w-25-s { width:  25%; }
  .w-50-s { width:  50%; }
  .w-75-s { width:  75%; }
  .w-100-s { width: 100%; }
  .w-third-s { width: calc(100% / 3); }
  .w-two-thirds-s { width: calc(100% / 1.5); }
  .w-auto-s { width: auto; }
}

@container (min-width:48em) {
  .w0-m {    width: var(--size-0, 0); }
  .w1-m {    width: var(--size-1, 1rem); }
  .w2-m {    width: var(--size-2, 2rem); }
  .w3-m {    width: var(--size-3, 3rem); }
  .w4-m {    width: var(--size-4, 4rem); }
  .w5-m {    width: var(--size-5, 8rem); }
  .w6-m {    width: var(--size-6, 16rem); }
  .w7-m {    width: var(--size-7, 32rem); }
  .w8-m {    width: var(--size-8, 64rem); }
  .w-10-m { width:  10%; }
  .w-20-m { width:  20%; }
  .w-25-m { width:  25%; }
  .w-50-m { width:  50%; }
  .w-75-m { width:  75%; }
  .w-100-m { width: 100%; }
  .w-third-m { width: calc(100% / 3); }
  .w-two-thirds-m { width: calc(100% / 1.5); }
  .w-auto-m {    width: auto; }
}

@container (min-width:64em) {
  .w0-l {    width: var(--size-0, 0); }
  .w1-l {    width: var(--size-1, 1rem); }
  .w2-l {    width: var(--size-2, 2rem); }
  .w3-l {    width: var(--size-3, 3rem); }
  .w4-l {    width: var(--size-4, 4rem); }
  .w5-l {    width: var(--size-5, 8rem); }
  .w6-l {    width: var(--size-6, 16rem); }
  .w7-l {    width: var(--size-7, 32rem); }
  .w8-l {    width: var(--size-8, 64rem); }
  .w-10-l {    width:  10%; }
  .w-20-l {    width:  20%; }
  .w-25-l {    width:  25%; }
  .w-50-l {    width:  50%; }
  .w-75-l {    width:  75%; }
  .w-100-l {   width: 100%; }
  .w-third-l { width: calc(100% / 3); }
  .w-two-thirds-l { width: calc(100% / 1.5); }
  .w-auto-l {    width: auto; }
}
