/* TACHYONS v4.0.4| github.com/tachyons-css/tachyons */

/* External Library Includes */
@import './_normalize';


/* Modules */
@import './_box-sizing';
@import './_background-size';
@import './_borders';
@import './_border-colors';
@import './_border-radius';
@import './_border-style';
@import './_border-widths';
@import './_box-shadow';
@import './_code';
@import './_coordinates';
@import './_clears';
@import './_display';
@import './_flexbox';
@import './_floats';
@import './_font-family';
@import './_font-style';
@import './_font-weight';
@import './_forms';
@import './_heights';
@import './_letter-spacing';
@import './_line-height';
@import './_links';
@import './_lists';
@import './_max-widths';
@import './_widths';
@import './_overflow';
@import './_position';
@import './_opacity';
@import './_skins';
@import './_spacing';
@import './_tables';
@import './_text-decoration';
@import './_text-align';
@import './_text-transform';
@import './_type-scale';
@import './_typography';
@import './_utilities';
@import './_visibility';
@import './_white-space';
@import './_vertical-align';
@import './_hovers';
@import './_styles';

/* Import media queries and variables at end as this will allow you to customize them
 * and override what is currently declared in each module.
 */
@import './_colors';
@import './_media-queries';

/* DEBUGGING */
@import './_debug_children';

/* Uncomment out this line and rebuild if you want to debug your layout.*/
/* @import './_debug'; */
