/*!!!

  # BORDER STYLES

  Depends on base border module in `_borders.css`

  ### Docs

  http://tachyons.io/docs/themes/borders/

  ### Base

  `b` = border-style

  ### Modifiers

  - `--none` = none
  - `--dotted` = dotted
  - `--dashed` = dashed
  - `--solid`  = solid

  ### Media Query Extensions

  - `-m` = medium
  - `-l` = large
 */
.b--dotted { border-style: dotted; }
.b--dashed { border-style: dashed; }
.b--solid { border-style: solid; }
.b--none { border-style: none; }
@media screen and (min-width: 30em) {
 .b--dotted-m { border-style: dotted; }
 .b--dashed-m { border-style: dashed; }
 .b--solid-m { border-style: solid; }
 .b--none-m { border-style: none; }
}
@media screen and (min-width: 60em) {
 .b--dotted-l { border-style: dotted; }
 .b--dashed-l { border-style: dashed; }
 .b--solid-l { border-style: solid; }
 .b--none-l { border-style: none; }
}

